.c3xgm-about-continents-text-right {
.c3xgm-about-block-image {
                            width:27.955801104972%;
                            padding-bottom:50.98814229249%;
                            position: relative;
                            img {position: absolute; top:0; left:0; right:0; bottom:0; margin: auto;} 
                        }
}

