.c3xgm-about-employees {
.c3xgm-about-block-image {
                            width:60.331491712707%;
                            padding-bottom:26.007326007326%;
                            position: relative;
                            img {position: absolute; top:0; left:0; right:0; bottom:0; margin: auto;} 
                        }
}

