.c3xgm-about-timezones-text-right {
.c3xgm-about-block-image {
                            width:24.198895027624%;
                            padding-bottom:47.488584474886%;
                            position: relative;
                            img {position: absolute; top:0; left:0; right:0; bottom:0; margin: auto;} 
                        }
}

