/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */


// IE 8 AND BELOW
.lt-ie9 {
	// body { width:906px; margin: 0 auto; }
	.c3xgm-about-page-our-people {
		.c3xgm-about-block.c3xgm-about-clearfix.c3xgm-about-languages,
		.c3xgm-about-block.c3xgm-about-clearfix.c3xgm-about-headquarters,
		.c3xgm-about-block.c3xgm-about-clearfix.c3xgm-about-timezones,
		.c3xgm-about-block.c3xgm-about-clearfix.c3xgm-about-continents {
			width:49%; float:left;		
		}
	}


	.c3xgm-about-module-car .c3xgm-about-module-car-logo-container li {
		width:49%; float:left;		
	}

	.c3xgm-about-module-25 {
		width:24%; float:left;			
	}
	.c3xgm-about-module-75 {
		width:74%; float:left;			
	}

	// TECHNOLOGY MODULE
	.c3xgm-about-module-technology {
		// IMAGE
		.c3xgm-about-block-icon {
			position: static;
			img { 
				width:60%;
				position:static;
			}
		}
	}

		// FOUNDATION MODULE
	.c3xgm-about-module-foundation {

		.c3xgm-about-module-foundation-logo-container {
			li img { 
				width:50%; max-width: 130px;
				position:static;
			}
		}
	}

	// GRADIENT FALLBACK
	.c3xgm-about-gradient {
       filter: none;
    }
}