/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */


// IE 8 AND BELOW
.lt-ie9 {
	// .c3xgm-about-page-our-company .c3xgm-about-earn .c3xgm-about-block-tagline strong,
	// .c3xgm-about-page-our-company .c3xgm-about-earn .c3xgm-about-block-title strong {
	//   	font-weight: 700;
	// }

	// .c3xgm-about-module-50 {  }
	.c3xgm-about-page-our-people {
		.c3xgm-about-block.c3xgm-about-clearfix.c3xgm-about-languages,
		.c3xgm-about-block.c3xgm-about-clearfix.c3xgm-about-headquarters,
		.c3xgm-about-block.c3xgm-about-clearfix.c3xgm-about-timezones,
		.c3xgm-about-block.c3xgm-about-clearfix.c3xgm-about-continents {
			width:49%; float:left;		
		}
	}


	.c3xgm-about-module-car .c3xgm-about-module-car-logo-container li {
		width:49%; float:left;		
	}

	.c3xgm-about-module-25 {
		width:24%; float:left;			
	}
	.c3xgm-about-module-75 {
		width:74%; float:left;			
	}
}