// OUR COMMITMENT
.c3xgm-about-page-our-commitment {
	
	// CRASH TEST DUMMIES
	.c3xgm-about-crash-test-dummies {
		.c3xgm-about-block-image {
			float: left;
			width: 30%; max-width: 218px;
			padding-top: 1em;
		}

		.c3xgm-about-blockquote {
			  float: right; width: 70%;
			.c3xgm-about-dark-blue.c3xgm-about-thin {
				font-size:12.9088582992554px; font-size:4.03401830544375vw; line-height: 4.83914462004375vw;
				@media(min-width:905px) {font-size:36.5199px; line-height:43.808725px; }
			}

			.c3xgm-about-light-blue {
				font-size: 28.7430095672607px; font-size:8.982190447256249vw; line-height:8.386732443749999vw;
				margin-bottom: .2em;
				@media(min-width:905px) {font-size:81.315675px; line-height:75.925px; }	
			}

			.c3xgm-about-light-gray.c3xgm-about-thin {
				.c3xgm-about-light-blue {
					font-size:14.4925537109375px; font-size:3.522427626375vw; line-height: 1.2em;
					@media(min-width:905px) {font-size:31.8885px;}	
				}
			}
		}
	}


	// TEST FACILITY
	.c3xgm-about-test-facility {
		.c3xgm-about-blockquote {
			width: 50%;

			.c3xgm-about-dark-blue.c3xgm-about-thin {
				font-size:12.9088582992554px; font-size:4.03401830544375vw; line-height: 4.83914462004375vw;
				@media(min-width:905px) {font-size:36.5199px; line-height:43.808725px; }
			}

			.c3xgm-about-gray {
				font-size:11.2717685699463px; font-size:3.522427626375vw; line-height:5.03203946625vw;
				@media(min-width:905px) {font-size:31.8885px; line-height:45.555px; }
			}

			.c3xgm-about-light-blue {
				font-size:24.1537895202637px; font-size:7.5480591993749995vw; line-height:1em;
				@media(min-width:905px) {font-size:68.3325px;}
			}

			.c3xgm-about-yellow-bar-left-wrapper { border-width: .2rem; }
		}
	}

	// SAFETY SCORE 
	.c3xgm-about-safety-score {
		.c3xgm-about-blockquote {
			
			.c3xgm-about-light-blue.number {
				width: 39.1%; float: left;
				font-size:124.826782226563px; font-size:39.008369942369995vw; line-height: 0.8em;
				@media(min-width:905px) {font-size:353.14236px; }
			}

			.c3xgm-about-dark-blue.c3xgm-about-thin {
				font-size:13.1503963470459px; font-size:4.1094988974375vw; 
				@media(min-width:905px) {font-size:37.20325px; }
			}


			.c3xgm-about-light-blue {
				font-size:17.3799934387207px; font-size:5.4312479305725vw; 
				@media(min-width:905px) {font-size:49.16903px; }
			}

			.c3xgm-about-light-gray.c3xgm-about-thin {
				font-size:8.06199836730957px; font-size:2.5193744261024995vw; 
				@media(min-width:905px) {font-size:22.807869999999998px; }
			}
		}
	}


	// ONSTAR
	.c3xgm-about-onstar-subscribers {
		.c3xgm-about-block-image {
			width:29%; max-width: 172px;
		}

		.c3xgm-about-blockquote {
			  float: right; width: 71%;

			.c3xgm-about-dark-blue.c3xgm-about-thin.c3xgm-about-small {
				font-size: 12.9088582992554px; font-size:4.03401830544375vw; 
				@media(min-width:905px) {font-size:36.519925px; }
			}

			.c3xgm-about-light-blue.number {
				width: 22%; float: left;
				font-size:91.193977355957px; font-size:28.4981168438625vw; 
				@media(min-width:905px) {font-size:257.99315px; }
			}

			.c3xgm-about-light-blue {
				font-size:28.8503589630127px; font-size:9.015737377031249vw; 
				@media(min-width:905px) {font-size:81.61937499999999px; }
			}

			.c3xgm-about-dark-blue.c3xgm-about-thin {
				font-size:24.0410709381104px; font-size:7.51283492311125vw; 
				@media(min-width:905px) {font-size:68.013615px; }
			}

			.c3xgm-about-gray {
				font-size:19.1995792388916px; font-size:5.99986839025875vw; 
				@media(min-width:905px) {font-size:54.316745000000004px; }
			}
		}
	}


	// AWARDS
	.c3xgm-about-quality-awards {
		.c3xgm-about-block-image {
			text-align: center;
			width: 35%;
			float: right;
			img {
				max-width: 147px;
			}
		}
		.c3xgm-about-blockquote {
			width: 65%;
			float: left;

			.c3xgm-about-dark-blue.c3xgm-about-thin {
				font-size:12.9088582992554px; font-size:4.03401830544375vw; 
				@media(min-width:905px) {font-size:36.519925px; }				
			}

			.c3xgm-about-light-blue.c3xgm-about-thin {
				font-size:23.0641860961914px; font-size:7.207557862158749vw; 
				@media(min-width:905px) {font-size:65.249945px; }
			}

			.c3xgm-about-gray.c3xgm-about-thin {
				font-size:11.2717685699463px; font-size:3.522427626375vw; 
				@media(min-width:905px) {font-size:31.8885px; }
			}
		}
	}

	// DISCLAIMER 
	.c3xgm-about-disclaimer {
		.c3xgm-about-blockquote {
			.c3xgm-about-gray.c3xgm-about-disclaimer {
				font-weight: normal; text-transform: none;
				font-size:14px; font-size:2.0128157865vw; line-height: 1.613em;
				margin: 2em auto;
				@media(min-width:905px) {font-size:18.222px; }
			}

			.c3xgm-about-gray.c3xgm-about-disclaimer-small {
				font-size:10px; line-height: 1.613em;
				font-weight: normal; text-transform: none;
				@media(min-width:905px) {font-size:10.6295px; }

				strong {
					font-size:18px; 
					color:$gm-light-blue;
					@media(min-width:905px) {font-size:21.259px; }					
				}
			}
		}
	}

	// CLEAN ENERGY 
	.c3xgm-about-clean-energy {
		.c3xgm-about-blockquote {

			.c3xgm-about-dark-blue.c3xgm-about-thin {
				font-size:16.2957572937012px; font-size:5.092423939844999vw; 
				@media(min-width:905px) {font-size:46.101659999999995px; }
			}

			.c3xgm-about-light-blue {
				font-size:27.7822246551514px; font-size:8.68194542577vw; 
				@media(min-width:905px) {font-size:78.59756px; }
			}

			.c3xgm-about-gray {
				font-size:12.6458501815796px; font-size:3.9518283274949995vw; 
				@media(min-width:905px) {font-size:35.775859999999994px; }
			}
		}
	}

	// EPA ENERGY
	.c3xgm-about-epa-energy-star {
		.c3xgm-about-block-image { width:25%;  max-width: 160px; float:right;}
		
		.c3xgm-about-blockquote {
			width:75%; float:left;
			.c3xgm-about-dark-blue.c3xgm-about-thin {
				font-size:11.9427070617676px; font-size:3.7320959374687vw; 
				@media(min-width:905px) {font-size:33.786625px; }
			}

			.c3xgm-about-light-blue {
				font-size:23.7082862854004px; font-size:7.408839440808751vw; 
				@media(min-width:905px) {font-size:67.072145px; }
			}

			.c3xgm-about-gray {
				font-size:34.9255px; font-size:3.857896924125vw; 
				@media(min-width:905px) {font-size:34.9255px; }
			}
		}
	}

	// CLIMATE DECLARATION
	.c3xgm-about-climate-declaration {
		.c3xgm-about-block-image { width:25%; max-width: 121px; }

		.c3xgm-about-blockquote {
			width:75%; float:right;
			.c3xgm-about-dark-blue.c3xgm-about-thin {
				font-size:10.514949798584px; font-size:3.28592177146125vw; 
				@media(min-width:905px) {font-size:29.747415px; }
			}

			.c3xgm-about-light-blue {
				font-size:22.0121536254883px; font-size:6.878797950363749vw; 
				@media(min-width:905px) {font-size:62.27368499999999px; }
			}

			.c3xgm-about-gray.c3xgm-about-thin {
				font-size:12.9356956481934px; font-size:4.0424050378875vw; 
				@media(min-width:905px) {font-size:36.59585px; }
			}
		}
	}

	// LANDFILL FREE
	.c3xgm-about-landfill-free {
		.c3xgm-about-block-image { width:25%; max-width: 112px; float: right; }

		.c3xgm-about-blockquote {
			width:75%; float:left;
			.c3xgm-about-dark-blue.c3xgm-about-thin {
				font-size:26.3007926940918px; font-size:8.218997794875vw; 
				@media(min-width:905px) {font-size:74.4065px; }
			}

			.c3xgm-about-light-blue {
				font-size:19.3230323791504px; font-size:6.038447359499999vw; 
				@media(min-width:905px) {font-size:54.666px; }
			}

			.c3xgm-about-gray {
				font-size:12.3452701568604px; font-size:3.857896924125vw; 
				@media(min-width:905px) {font-size:34.9255px; }
			}
		}
	}
}