// OUR BRANDS
.c3xgm-about-page-our-brands {
	max-width:none;

	.c3xgm-about-global,
	.c3xgm-about-seconds {
		// margin-bottom: 8.8%;
		margin: $block-margin;
		text-align: center;
		@media(min-width:$tablet-height) { margin-bottom: 80px; }

		.c3xgm-about-blockquote { 
			// width: 100%; 
			width: auto;
			display: inline-block;
			text-align: left;

			@media(min-width:$tablet-height) { width: 75%; }
			
			span strong { font-weight:700; }

			.number {
				// font-size: 28.7999992370605px; font-size: 8.1509434vw; 
				
				font-size: 61px; font-size: 17.4vw;
				line-height: .83em;
				margin-bottom: .05em;
				@media(min-width:$font-change) { font-size: 81.3600006103516px; font-size: 8.1509434vw; }
				@media(min-width: 1140px) { font-size: 96px; }
			}
			.c3xgm-about-gray { 
				 // font-size:14.3748378753662px; font-size:4.3921369vw; 
				 font-size:30.68628583917922px; font-size:9.375992239131463vw; 
				 line-height: 1em; 
				 @media(min-width:$font-change) { font-size:40.6089172363281px; font-size:4.3921369vw;}
				 @media(min-width: 1140px) { font-size: 53px; }
			}
			.c3xgm-about-dark-blue { 
				// font-size: 9.50943374633789px; font-size: 2.9716979vw; 
				font-size: 20.29999952965922px; font-size:6.343749541924176vw; 
				line-height: 1em; 
				@media(min-width:$font-change) { font-size:26.8641490936279px; font-size: 2.9716979vw;}
				@media(min-width: 1140px) { font-size: 35px; }
			}

		}
		.c3xgm-about-block-image { 
			text-align: center;
			margin: 9px 0;
			width: 100%; 
			@media(min-width:$font-change) {width: 25%; }
			img { display:block; margin: 0 auto; padding:0; } 
		}
	}


	// GLOBAL
	.c3xgm-about-global {
		max-width:940px; 
		text-align: left;
		.c3xgm-about-blockquote { 
			// float: right; 
			float:none;
			border-left:3px solid $gm-yellow;
			@include prefix(box-sizing, border-box);

			span { padding-left:6%; }
		}

		.c3xgm-about-block-image {
			width: 100%; 
			text-align: center;
			@media(min-width:$font-change) {width: 25%; float:left; }
			img { width:67.234%; max-width: 158px; }
		}
	}


	// SECONDS
	.c3xgm-about-seconds {
		max-width: 1020px; 
		text-align: center;
		.c3xgm-about-blockquote { 
			display: inline-block;
			width:auto;
			float: none;
			text-align: right;
			border-right:3px solid $gm-yellow;
			padding-right:1.6%; 
			@include prefix(box-sizing, border-box);

			> span { 
				display: inline-block;
				float: right;
				clear: right;
			}

			@media(min-width:$font-change) {float:left; }
		}
		.c3xgm-about-block-image { 
			
			@media(min-width:$font-change) {float:right; width: 25%; }
			img { width:62.798%; max-width:184px; }
		}
	}


	// DEALERS
	.c3xgm-about-dealers {
		text-align: center;
		margin: $block-margin;
		@media(min-width:$font-change) { text-align: left; }
		.c3xgm-about-blockquote {
			width:auto;
		  	margin: 0 auto;
		  	display: inline-block;
		  	text-align: center;
		  	@media(min-width:$font-change) {
		  		width: 77%;
		  		display: block;
		  		text-align: right;
		  	}
			.c3xgm-about-dark-blue.c3xgm-about-thin {
				width:auto;
				max-width: 5em;
				border-bottom:3px solid $gm-yellow;
				@media(min-width:$font-change) {
					max-width: none;
					width: 75%;
					float: left;
					border-bottom:0;
					border-right:3px solid $gm-yellow;
				}
			}

			.c3xgm-about-dark-blue { 
				// font-size:14.8459243774414px; font-size:5.783775842113087vw;
				font-size:28.665995380401597px; font-size:11.16789277353616vw;
				@media(min-width:$font-change) { font-size:14.8459243774414px; font-size:5.783775842113087vw; }
				@media(min-width:$inner-border) {font-size:52.36046145px; }
				
				span { 
					// font-size: 19.4410915374756px; font-size:7.509262175090214vw;
					font-size: 37.53880364971164px; font-size: 14.5vw;
					@media(min-width: $font-change) {font-size: 19.4410915374756px; font-size:7.509262175090214vw; }
					@media(min-width:$inner-border) {font-size:67.98127095px; }
				}
			}

			.number { 
				// font-size: 29.6918487548828px; font-size:11.43983852257275vw; 
				font-size: 57.331990760803194px; font-size:22.08918420323572vw; 
				line-height: 0.85em;
				@media(min-width: $font-change) { font-size: 29.6918487548828px; font-size:11.43983852257275vw; }
				@media(min-width:$inner-border) {font-size:103.564737px; }
			}

			.c3xgm-about-gray {
				// font-size:8.83685970306397px; font-size:3.4862975830073246vw;
				font-size: 17.06309240064622px; font-size: 6.731692003028844vw;
				@media(min-width: $font-change) {  font-size:8.83685970306397px; font-size:3.4862975830073246vw; }
				@media(min-width:$inner-border) {font-size:31.561415099999998px; }
			}
		}
	}


	// CHINA
	.c3xgm-about-china {
		position: relative;
		margin: $block-margin;

		.c3xgm-about-block-image { 
			width:25%; float: left;
			img { max-width:224px; }
		}

		.c3xgm-about-blockquote {
			width: auto;
			display: inline-block;
			float: none;
			margin-top: 21%;
  			margin-left: -18%;

			.c3xgm-about-dark-blue.c3xgm-about-thin {
				// font-size: 5.30211591720581px; font-size: 1.6569112499999998vw;
				font-size:11.609307290216254px; font-size:3.6279085848434995vw;
				@media(min-width: $font-change) { 
					font-size: 5.30211591720581px; font-size: 1.6569112499999998vw; 
					br {display: none;}
				}
				@media(min-width:$inner-border) {font-size: 15px; }
			}

			.c3xgm-about-dark-blue.c3xgm-about-thin.c3xgm-about-big {
				float: left;
				margin-top: .2em;
				// line-height: 1.2em;
				line-height: 1em;
				clear: left;
				// font-size:11.3111810684204px; font-size:3.534744vw;
				font-size:24.76652319358785px; font-size:7.739538314332799vw;
				@media(min-width: $font-change) { font-size:11.3111810684204px; font-size:3.534744vw; }
			  	@media(min-width:$tablet-height) { 
					clear:none; margin-left: .35em;
				}

				@media(min-width:$inner-border) {font-size: 32px; }
			}

			.c3xgm-about-light-blue {
				float: left;
				// font-size:30.3987979888916px; font-size:9.4996245vw;
				font-size: 66.56002860311509px; font-size: 20.8vw;
				line-height:0.9em;
				@media(min-width: $font-change) { font-size:30.3987979888916px; font-size:9.4996245vw; }
				@media(min-width:$inner-border) {font-size:86px; }
			}

			.c3xgm-about-gray {
				clear: left; max-width: 8.25em;
				// font-size:14.4924507141113px; font-size: 4.5288907499999995vw;
				font-size:31.732107776530395px; font-size:9.916283465238898vw;
				@media(min-width: $font-change) { font-size:14.4924507141113px; font-size: 4.5288907499999995vw;  max-width: none;}
				@media(min-width:$inner-border) {font-size:41px; }
			}
		}
	}



	// CADILLAC & CHEVROLET
	.c3xgm-about-cadillac-award,
	.c3xgm-about-chevrolet-award {
		margin: $block-margin;
		position: relative;
		max-width: 945px;
		.c3xgm-about-block-image { 
			width:100%; 
			text-align:center;
			
			img {width:29%;max-width: 272px;}

			@media(min-width:$tablet-height) {
				width:29%;
				text-align: left;
				position: absolute;
				right:0;
				img {width:100%;}
			}
		}
		.c3xgm-about-blockquote {
			float: left;
			.c3xgm-about-dark-blue.c3xgm-about-thin {
				font-size:23.325067px; font-size:7.2904095vw;
				@media(min-width:$inner-border) { font-size: 66px; }
				strong {
					color:$gm-light-blue;
					font-size: 28.6314258575439px; font-size:8.94732075vw; 
					@media(min-width:$inner-border) { font-size: 81px; }
				}
			}
			.c3xgm-about-gray {
				font-size:12px; font-size: 3.77952vw;
				@media(min-width:$inner-border) { font-size: 34px; }
			}
			.c3xgm-about-thin {
				color:$gm-dark-blue;
				font-size:6.36253929138184px; font-size: 1.9882935vw;
				@media(min-width:$inner-border) {font-size: 26px; }
			}
		}
	}

	// CADILLAC SPECIFIC 
	.c3xgm-about-cadillac-award {
		.c3xgm-about-blockquote {
			margin-top: 4%;
			.c3xgm-about-gray { 
				margin-bottom: 1%; margin-top: 1%; 
				font-size:12px; font-size: 3.77952vw;
				@media(min-width:$inner-border) { font-size: 41px; }
			}
		}
	}
	  
}