// OUR PEOPLE
.c3xgm-about-page-our-people {
	max-width: $inner-border;

	> .c3xgm-about-section { margin-bottom: 0.6em; }

	.c3xgm-about-block { 
		width: 50%; float: left; margin-bottom: 1.75em; 

		.c3xgm-about-block-image { position: relative; text-align: center;}
	}

	// EMPLOYEES
	.c3xgm-about-block.c3xgm-about-employees {
		width: 100%;
		margin-bottom: 2em;
		@media(min-width:$tablet-height ) { float:none; }

		.c3xgm-about-blockquote {
		  	margin:0; padding: 0;
		  	width: auto; max-width:50%;
		  	float: left;

		  	.c3xgm-about-gray { margin-top: -2.272%; }
		}

		.c3xgm-about-block-image {
			width: 43.7%;
			float: left;
			margin-top: 2.4%; margin-left: 1.8%;
		}

		.number { line-height: 1.09em; }
		  
		.c3xgm-about-gray { 
			margin-left: 5px;
			font-size: 17px;
  			@media(min-width:$tablet-height ) { font-size: 34px; }
  		}
	}

	.number { 
		font-size: 64px; font-size: 14.36vw;
		@media(min-width:$inner-border) { font-size: 128px;  }
	}


	.c3xgm-about-separator {
		display: block; float:left;
		width: auto;
		margin: 5px 0; padding-right: .4em; padding-bottom: .65em;
		border-right: 0.08em solid $gm-yellow;

		.c3xgm-about-gray { line-height: .9em; }

		span { display:block; clear:left; }
		+ .number { 
			float: left;
			padding-left: .1em;
			font-size: 41px; font-size: 13.697113vw; line-height: .8em;
			@media(min-width: $inner-border) { font-size: 124px; }
		}	
	}

	// TIMEZONES
	.c3xgm-about-timezones {
		.c3xgm-about-separator { 
			// width: 50.75%; 
		}
		 .c3xgm-about-block-image {
			 padding-top: 2.5%;
			img { width:76.672%; max-width: 333px;}
		}
	}

	// CONTINETS
	.c3xgm-about-continents {
		 .c3xgm-about-block-image { 
		 	img { width:88.672%; max-width: 385px; }
		 }
	}

	// LANGUAGES
	.c3xgm-about-languages {
		// .c3xgm-about-separator { width: 53%; }
		.c3xgm-about-blockquote { margin-bottom:0;}
		.c3xgm-about-block-image {  
			img {width:78.110599%; max-width: 339px;}
		}
	}
	.c3xgm-about-timezones,
	.c3xgm-about-continents,
	.c3xgm-about-languages {
		text-align: center;
		> p { display: inline-block;}
	}
	  

	.c3xgm-about-headquarters {
		.c3xgm-about-blockquote {
			margin-top: 1.0625em;
			
			.c3xgm-about-gray { border-left:0.1em solid $gm-yellow; padding-left: .35em; }

			span > span {
				color:$gm-light-blue; line-height: .86em;				
				font-size: 34px; font-size: 10.604232vw;
				@media(min-width:$inner-border) { font-size: 93px; }
			}
			> span:first-of-type {
				font-size:12px; font-size: 3.75vw;
				@media(min-width:$inner-border) { font-size:34px; }
			}
			> span:last-of-type {
				font-size:13px; font-size: 4.087vw;
				@media(min-width:$inner-border) { font-size:37px; }
			}
		}
	}
}