// OUR BRANDS
.c3xgm-about-page-our-brands {
	max-width: 1175px;

	.c3xgm-about-section,
	.c3xgm-about-block {  max-width: 905px; margin:0 auto 4%; }
	
	.c3xgm-about-global,
	.c3xgm-about-seconds {
		margin-bottom: 8.8%;

		.c3xgm-about-blockquote { 
			width: 75%; 
			span strong { font-weight:700; }

			.number {
				font-size: 28.7999992370605px; font-size: 8.1509434vw; line-height: .83em;
				margin-bottom: .05em;
				@media(min-width:905px) { font-size: 81.3600006103516px; font-size: 8.1509434vw; }
				@media(min-width: 1140px) { font-size: 96px; }
			}
			.c3xgm-about-gray { 
				 font-size:14.3748378753662px; font-size:4.3921369vw; line-height: 1em; 
				 @media(min-width:905px) { font-size:40.6089172363281px; font-size:4.3921369vw;}
				 @media(min-width: 1140px) { font-size: 53px; }
			}
			.c3xgm-about-dark-blue { 
				font-size: 9.50943374633789px; font-size: 2.9716979vw; line-height: 1em; 
				@media(min-width:905px) { font-size:26.8641490936279px; font-size: 2.9716979vw;}
				@media(min-width: 1140px) { font-size: 35px; }
			}

		}
		.c3xgm-about-block-image { 
			text-align: center;
			width: 25%; 
			margin: 9px 0;

			img { display:block; margin: 0 auto; padding:0; } 
		}
	}


	// GLOBAL
	.c3xgm-about-global {
		max-width:940px; 
		.c3xgm-about-blockquote { 
			float: right; 
			border-left:3px solid $gm-yellow;
			@include prefix(box-sizing, border-box);

			span { padding-left:6%; }
		}

		.c3xgm-about-block-image {
			width:25%;
			img { width:67.234%; max-width: 158px; }
		}
	}


	// SECONDS
	.c3xgm-about-seconds {
		max-width: 1020px; 
		.c3xgm-about-blockquote { 
			float:left; 
			border-right:3px solid $gm-yellow;
			padding-right:1.6%; 
			@include prefix(box-sizing, border-box);
		}
		.c3xgm-about-block-image { 
			float:left;
			img { width:62.798%; max-width:184px; }
		}
	}


	// DEALERS
	.c3xgm-about-dealers {

		.c3xgm-about-blockquote {
			width: 77%;
		  	margin: 0 auto;
			.c3xgm-about-dark-blue.c3xgm-about-thin {
				width: 78%;
				float: left;
			}

			.c3xgm-about-dark-blue { 
				font-size:14.8459243774414px; font-size:5.783775842113087vw;
				@media(min-width:905px) {font-size:52.36046145px; }
				
				span { 
					font-size: 19.4410915374756px; font-size:7.509262175090214vw;
					@media(min-width:905px) {font-size:67.98127095px; }
				}
			}

			.number { 
				font-size: 29.6918487548828px; font-size:11.43983852257275vw; line-height: 0.85em;
				@media(min-width:905px) {font-size:103.564737px; }
			}

			.c3xgm-about-gray {
				font-size:8.83685970306397px; font-size:3.4862975830073246vw;
				@media(min-width:905px) {font-size:31.561415099999998px; }
			}
		}
	}


	// CHINA
	.c3xgm-about-china {
		position: relative;
		.c3xgm-about-block-image { 
			width:25%; max-width:224px; 
			float: left;
		}

		.c3xgm-about-blockquote {
			width: 75%;
			position: absolute;
			top: 38%; left: 6%;

			.c3xgm-about-dark-blue.c3xgm-about-thin {
				font-size: 5.30211591720581px; font-size: 1.6569112499999998vw;
				@media(min-width:905px) {font-size: 15px; }
			}

			.c3xgm-about-dark-blue.c3xgm-about-thin.c3xgm-about-big {
				font-size:11.3111810684204px; font-size:3.534744vw;
				@media(min-width:905px) {font-size: 32px; }
			}

			.c3xgm-about-light-blue {
				font-size:30.3987979888916px; font-size:9.4996245vw;
				@media(min-width:905px) {font-size:86px; }
			}

			.c3xgm-about-gray {
				font-size:14.4924507141113px; font-size: 4.5288907499999995vw;
				@media(min-width:905px) {font-size:41px; }
			}
		}
	}



	// CADILLAC & CHEVROLET
	.c3xgm-about-cadillac,
	.c3xgm-about-chevrolet {
		.c3xgm-about-blockquote {
			
			.c3xgm-about-dark-blue.c3xgm-about-thin {
				font-size:19.0876178741455px; font-size: 5.9648805vw;
				@media(min-width:905px) {font-size: 54px; }
			}
			.c3xgm-about-gray {
				font-size:9.89728355407715px; font-size: 3.092901vw;
				@media(min-width:905px) {font-size: 28px; }
			}
			.c3xgm-about-thin {
				font-size:6.36253929138184px; font-size: 1.9882935vw;
				@media(min-width:905px) {font-size: 18px; }
			}
		}
	}
}