// OUR BRANDS
.c3xgm-about-page-our-brands {
	max-width: 1175px;

	.c3xgm-about-section,
	.c3xgm-about-block {  max-width: 905px; margin:0 auto 4%; }
	
	.c3xgm-about-global,
	.c3xgm-about-seconds {
		margin-bottom: 8.8%;

		.c3xgm-about-blockquote { 
			width: 75%; 
			span strong { font-weight:700; }

			.number {
				font-size: 28.7999992370605px; font-size: 8.1509434vw; line-height: .83em;
				margin-bottom: .05em;
				@media(min-width:905px) { font-size: 81.3600006103516px; font-size: 8.1509434vw; }
				@media(min-width: 1140px) { font-size: 96px; }
			}
			.c3xgm-about-gray { 
				 font-size:14.3748378753662px; font-size:4.3921369vw; line-height: 1em; 
				 @media(min-width:905px) { font-size:40.6089172363281px; font-size:4.3921369vw;}
				 @media(min-width: 1140px) { font-size: 53px; }
			}
			.c3xgm-about-dark-blue { 
				font-size: 9.50943374633789px; font-size: 2.9716979vw; line-height: 1em; 
				@media(min-width:905px) { font-size:26.8641490936279px; font-size: 2.9716979vw;}
				@media(min-width: 1140px) { font-size: 35px; }
			}

		}
		.c3xgm-about-block-image { 
			text-align: center;
			width: 25%; 
			margin: 9px 0;

			img { display:block; margin: 0 auto; padding:0; } 
		}
	}


	// GLOBAL
	.c3xgm-about-global {
		max-width:940px; 
		.c3xgm-about-blockquote { 
			float: right; 
			border-left:3px solid $gm-yellow;
			@include prefix(box-sizing, border-box);

			span { padding-left:6%; }
		}

		.c3xgm-about-block-image {
			width:25%;
			img { width:67.234%; max-width: 158px; }
		}
	}


	// SECONDS
	.c3xgm-about-seconds {
		max-width: 1020px; 
		.c3xgm-about-blockquote { 
			float:left; 
			border-right:3px solid $gm-yellow;
			padding-right:1.6%; 
			@include prefix(box-sizing, border-box);
		}
		.c3xgm-about-block-image { 
			float:left;
			img { width:62.798%; max-width:184px; }
		}
	}


	// DEALERS
	.c3xgm-about-dealers {

		.c3xgm-about-blockquote {
			width: 77%;
		  	margin: 0 auto;
			.c3xgm-about-dark-blue.c3xgm-about-thin {
				width: 78%;
				float: left;
			}

			.c3xgm-about-dark-blue { 
				font-size:14.8459243774414px; font-size:5.783775842113087vw;
				@media(min-width:905px) {font-size:52.36046145px; }
				
				span { 
					font-size: 19.4410915374756px; font-size:7.509262175090214vw;
					@media(min-width:905px) {font-size:67.98127095px; }
				}
			}

			.number { 
				font-size: 29.6918487548828px; font-size:11.43983852257275vw; line-height: 0.85em;
				@media(min-width:905px) {font-size:103.564737px; }
			}

			.c3xgm-about-gray {
				font-size:8.83685970306397px; font-size:3.4862975830073246vw;
				@media(min-width:905px) {font-size:31.561415099999998px; }
			}
		}
	}


	// CHINA
	.c3xgm-about-china {
		position: relative;
		.c3xgm-about-block-image { 
			width:25%; float: left;
			img { max-width:224px; }
		}

		.c3xgm-about-blockquote {
			width: 75%;
			position: absolute;
			top: 38%; left: 6%;

			.c3xgm-about-dark-blue.c3xgm-about-thin {
				font-size: 5.30211591720581px; font-size: 1.6569112499999998vw;
				@media(min-width:905px) {font-size: 15px; }
			}

			.c3xgm-about-dark-blue.c3xgm-about-thin.c3xgm-about-big {
				float: left;
				font-size:11.3111810684204px; font-size:3.534744vw;
				  margin-top: .2em;
			  margin-left: .35em;
			  line-height: 1.2em;
				@media(min-width:905px) {font-size: 32px; }
			}

			.c3xgm-about-light-blue {
				float: left;
				font-size:30.3987979888916px; font-size:9.4996245vw;
				@media(min-width:905px) {font-size:86px; }
			}

			.c3xgm-about-gray {
				clear: left;
				font-size:14.4924507141113px; font-size: 4.5288907499999995vw;
				@media(min-width:905px) {font-size:41px; }
			}
		}
	}



	// CADILLAC & CHEVROLET
	.c3xgm-about-cadillac-award,
	.c3xgm-about-chevrolet-award {
		position: relative;
		max-width: 945px;
		.c3xgm-about-block-image { 
			width:29%; 
			text-align: left;
			position: absolute;
			right:0;
			img {max-width: 272px;}
		}
		.c3xgm-about-blockquote {
			float: left;
			.c3xgm-about-dark-blue.c3xgm-about-thin {
				font-size:23.325067px; font-size:7.2904095vw;
				@media(min-width:905px) { font-size: 66px; }
				strong {
					color:$gm-light-blue;
					font-size: 28.6314258575439px; font-size:8.94732075vw; 
					@media(min-width:905px) { font-size: 81px; }
				}
			}
			.c3xgm-about-gray {
				font-size:12px; font-size: 3.77952vw;
				@media(min-width:905px) { font-size: 34px; }
			}
			.c3xgm-about-thin {
				color:$gm-dark-blue;
				font-size:6.36253929138184px; font-size: 1.9882935vw;
				@media(min-width:905px) {font-size: 26px; }
			}
		}
	}

	// CADILLAC SPECIFIC 
	.c3xgm-about-cadillac-award {
		.c3xgm-about-blockquote {
			margin-top: 4%;
			.c3xgm-about-gray { 
				margin-bottom: 1%; margin-top: 1%; 
				font-size:12px; font-size: 3.77952vw;
				@media(min-width:905px) { font-size: 41px; }
			}
		}
	}
	  
}