// SOLAR PANELS
.c3xgm-about-page-our-commitment {
	
	.c3xgm-about-block.c3xgm-about-decorative.c3xgm-about-solar-panels {
		margin-bottom: 7.5%; width:100%; position: relative;
		

		.c3xgm-about-grey-side {
			position: absolute;
			left:0; right:0; bottom:0;
			margin:auto;
			width:21.3617%; 
			max-width:251px;
			img { width: 100%; }
		}

		.c3xgm-about-tree {
			position: absolute;
			left:0; bottom:0;
			width: 8.425532%; padding-bottom: 7.914894%; height:0;
			img { width: 100%; }
		}

		.c3xgm-about-solar-panels {
			position: absolute;
			right:0; bottom:0;
			width:21.87234%; padding-bottom: 24.085106%; height:0;
			img { width: 100%;}
		}

		.c3xgm-about-sun {
			position: absolute;
			right:5%;
			width:8.510638%; padding-bottom:8.510638%; height:0;

			// TEMP CODE
			top: -340px;
			// END TEMP CODE
			img { width: 100%; }
		}


	}
}