/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 12, ../sass/ie.scss */
.lt-ie9 .c3xgm-about-page-our-people .c3xgm-about-block.c3xgm-about-clearfix.c3xgm-about-languages,
.lt-ie9 .c3xgm-about-page-our-people .c3xgm-about-block.c3xgm-about-clearfix.c3xgm-about-headquarters,
.lt-ie9 .c3xgm-about-page-our-people .c3xgm-about-block.c3xgm-about-clearfix.c3xgm-about-timezones,
.lt-ie9 .c3xgm-about-page-our-people .c3xgm-about-block.c3xgm-about-clearfix.c3xgm-about-continents {
  width: 49%;
  float: left;
}
/* line 21, ../sass/ie.scss */
.lt-ie9 .c3xgm-about-module-car .c3xgm-about-module-car-logo-container li {
  width: 49%;
  float: left;
}
/* line 25, ../sass/ie.scss */
.lt-ie9 .c3xgm-about-module-25 {
  width: 24%;
  float: left;
}
/* line 28, ../sass/ie.scss */
.lt-ie9 .c3xgm-about-module-75 {
  width: 74%;
  float: left;
}
/* line 35, ../sass/ie.scss */
.lt-ie9 .c3xgm-about-module-technology .c3xgm-about-block-icon {
  position: static;
}
/* line 37, ../sass/ie.scss */
.lt-ie9 .c3xgm-about-module-technology .c3xgm-about-block-icon img {
  width: 60%;
  position: static;
}
/* line 48, ../sass/ie.scss */
.lt-ie9 .c3xgm-about-module-foundation .c3xgm-about-module-foundation-logo-container li img {
  width: 50%;
  max-width: 130px;
  position: static;
}
/* line 56, ../sass/ie.scss */
.lt-ie9 .c3xgm-about-gradient {
  filter: none;
}
