// FIVE STARS
.c3xgm-about-page-our-commitment {
	
	.c3xgm-about-five-stars {
		margin-bottom: 1em; margin-top: 7.5%;
		height: 0; padding-bottom: 30.75%;
  		position: relative;
  		overflow: hidden;

  		> .c3xgm-about-overflow {height: 0; padding-bottom: 30.75%;}
  		
		@media(min-width: $tablet-height) {
			margin-bottom:2em; margin-top:10em;
			padding-bottom: 194px;
			> .c3xgm-about-overflow { padding-bottom: 194px;}
		}
		
		
		.c3xgm-about-checker { 
			width: 100%;
			background-image:url('../img/decorative/landscape/checker.png');
			background-repeat: repeat-x; background-size: contain;
			height: 0;  padding-bottom: 2.5%;
			position: absolute;
			z-index: 5;

			@media(min-width: $tablet-height) { padding-bottom: 30px; }
		}
		.c3xgm-about-stars + .c3xgm-about-checker { bottom:0; }

		.c3xgm-about-grey-top {
			position: absolute; 
			// left: 17%;
			height: 0;  padding-bottom: 30.7%;
			width: 43%; max-width: 230px;
			z-index: 1;
			@media(min-width: $tablet-height) {  padding-bottom: 194px; }
			img {
				 width: 135%;
				@include center;
			}

		}

		.c3xgm-about-stars {
			margin:0 auto; text-align: center;
			width: 76.210526%; max-width: 550px;	
			height: 0;  padding-bottom: 12.75%;
			z-index: 0;
			@include center;
			
			img { width: 100%; }
			@media(min-width: $tablet-height) { padding-bottom: 94px; }
		}
	}
}

div#c3xgm-about-grey-top:before {
  content: "";
  display: block;
  position: absolute;
  right: -322%;
  width: 400%; height: 0;
  padding-bottom: 71.1%;
  background:  #f3f3f4;
}