// FLAG-LINE
.c3xgm-about-page-our-brands {

	// .c3xgm-about-grey-car + .c3xgm-about-flag-line {
	.c3xgm-about-flag-line {
		background-image:url('../img/decorative/landscape/flag-line.png');
		background-repeat:  no-repeat; background-size: cover;
		padding-bottom:40%;
		@media(min-width: $tablet-height) { width: 100%; padding-bottom: 27.6%; }
		@media(min-width: $inner-border) { padding-bottom:246px; background-repeat: repeat; background-size: contain; }
		img {display: none;}
	}
	
	.c3xgm-about-flag-line {
		margin: 0 auto 5em;
		// overflow-x:hidden;
		@media(min-width: $tablet-height) { margin: 0 auto 9em; }
		.grey-car {
			position: absolute;
			left:0; right:0; bottom:0;
			margin:auto;
			width:50%; max-width:251px;
			img { width: 100%; }
			@media(min-width: $tablet-height) { width: 33%; max-width: 294px; }
		}

		.c3xgm-about-flag-line { margin:0 auto; text-align: center; }
	}
}