// RED CAR SCSS
.c3xgm-about-page-our-brands {
	
	.c3xgm-about-red-car-road {
		margin: $block-margin;
		height: 0; padding-bottom: 20.5%;

		> .c3xgm-about-overflow { height: 0; padding-bottom: 20.5%; width: 100%; }

		@media(min-width:$tablet-height) { 
			padding-bottom: 15%; 
			> .c3xgm-about-overflow { 
				// padding-bottom: 15%; 
				padding-bottom: 21.191489%;
  				margin-top: -2.744681%;
			}
		}
		@media(min-width:$inner-border) { margin-bottom: 80px; }
		
		@media(min-width:$outer-border) { 
			padding-bottom: 163px;
			margin-bottom: 120px; margin-top: 120px;
			> .c3xgm-about-overflow { 
				padding-bottom:252px; 
				margin-top:-44px;
			}
		}


		.c3xgm-about-red-car {
			position: absolute; bottom:-28%;
			width: 50%; max-width:400px;
			img { width: 100%; }
			@media(min-width: $tablet-height) { width:34.042553%; bottom:0; }
		}
	}
}