// CAR
.c3xgm-about-module-car {
	max-width: $inner-border;
	margin:0 auto 5%;

	.c3xgm-about-module-container {
		padding:1em 0 0 2.5em; border-top:0.2rem solid $gm-yellow;

		@media(min-width:$tablet-height) {
			border-top:0; padding-top:0; border-left:0.2rem solid $gm-yellow;
			padding-bottom: 480px;		
			> .c3xgm-about-module {
				position: absolute;
				width: 100%;
			}
		}
	}

	.c3xgm-about-module {
		.c3xgm-about-p { padding:0; max-width: 26em; }

		h3.c3xgm-about-h{
			font-size: 32px; font-size: 8.06vw; line-height:1em;
			@media( min-width:$inner-border ){ font-size: 73px; line-height: 70px; }
		}
		.c3xgm-about-link { display: block; margin-top:1em; margin-bottom: 0.5em; }

		.c3xgm-about-block-image {
			text-align: center;
			height: 0; 
			// padding-bottom: 50%;
			position: relative;
			img { 
				width: 74%; 
				// position: absolute; right:0; left:0; margin:auto;
			}
		}

		.c3xgm-about-vehicle-copy { display: block; width: 74%; margin: 1em auto 0; }
	}

	.c3xgm-about-module-car-logo-container {
		li {
			display: block; float: left; text-align: center;
			margin-bottom:1em;
			width:33.3333334%;
			&:nth-of-type(3n+1) { clear: left; }
			@media(min-width:$tablet-height) {
				width: 50%;
				&:nth-of-type(3n+1) { clear:none; }
				&:nth-of-type(odd) { clear: left; }
			}
			
			.c3xgm-about-module-car-logo {
				img { width:40%; }
			}
		}
	}
}