// TECHNOLOGY
.c3xgm-about-module-technology {
	margin-bottom: 5%;

	.c3xgm-about-module-container {
		margin: 3em auto;
		padding-bottom: 70%;
		@media(min-width: $tablet-height) { padding-bottom: 533px; }
		
		> .c3xgm-about-module {
			position: absolute;
			width: 100%;
		}
	}
	.c3xgm-about-blockquote { float:right; }	
	.c3xgm-about-block-icon { 
		float: left; text-align: center; 
		img {width: 80%;}
	}
	.c3xgm-about-block-image {
		width: 100%; clear: both;
		img { max-width: 612px; }
	}

	// 4G-LTE
	.c3xgm-about-4g-lte {
		.c3xgm-about-block-icon { 
			width:41%;
			img { max-width:250px; }
		}

		.c3xgm-about-blockquote {
			width:59%;

			.c3xgm-about-dark-blue.c3xgm-about-thin,
			.c3xgm-about-light-blue {
				font-size:14.772817841647605px; font-size:4.616505674992956vw;
				@media(min-width:$inner-border) {font-size:41.7931483782966px; }
			}

			.c3xgm-about-gray {
				font-size:6.277668798378911px; font-size:1.961771541766349vw; line-height: 1.075em;
				@media(min-width:$inner-border) {font-size:17.759884835295px; }
			}

			.c3xgm-about-light-blue { margin: .05em 0; }
		}
	}

	// CONCEPT
	.c3xgm-about-concept-car {
		.c3xgm-about-block-icon { 
			width:25%;
			img { max-width:180px; }
		}
		.c3xgm-about-blockquote { width:75%;}
	}

	// SAFETY
	.c3xgm-about-safety {
		.c3xgm-about-block-icon { 
			width:30%;
			img { max-width:258px; }	
		}
		.c3xgm-about-blockquote { width:70%; }
	}

	// BOTH CONCEPT AND SAFETY
	.c3xgm-about-safety,
	.c3xgm-about-concept-car {
		.c3xgm-about-blockquote {
			.c3xgm-about-dark-blue.c3xgm-about-thin {
				font-size:10.488781965752128px; font-size:3.277744434927524vw;
				@media(min-width:905px) {font-size:29.673365345808px; }
			}
			.c3xgm-about-light-blue {
				margin: .05em 0; 
				font-size: 21.966484586296367px; font-size:6.864526581136835vw; line-height: 0.9em;
				@media(min-width:905px) {font-size:62.144443904024996px; }
			}
			.c3xgm-about-gray {
				font-size:12.9088582992554px; font-size:4.03401830544375vw;   line-height: 1.075em;
				@media(min-width:905px) {font-size:36.5199px; }
			}
		}
	}

	// NAV FOR TECHNOLOGY MODULE
	.c3xgm-about-module-nav {
		text-align: center;
		li {display: inline-block; margin: 0; padding: 0;}
		.c3xgm-about-module-nav-bullet {
			display: block;
			width:8px; height:8px;
			margin: 8px;
			background-color: $gm-nav-bullet;
			border: 4px solid $gm-nav-bullet-border;
			@include prefix(border-radius, 50%);
		}
		.c3xgm-about-module-nav-bullet-active {
			background-color: $gm-nav-bullet-active;
		}
	}
}