// ANIMATIONS
.c3xgm-about-animate-container {
	overflow-x:hidden;
	.c3xgm-about-section-header-inner {
		// overflow-x:hidden;

		h1 {
			// position: absolute;
			@include prefix(transition, all 400ms);

			&.c3xgm-about-not-viewed {
				opacity: 0;
				@include prefix(transform, translate3d(50%,0,0));
			}

			&.c3xgm-about-viewed {
				opacity: 1;
				@include prefix(transform, translate3d(0,0,0));
			}
		}

	}
}

.c3xgm-about-yellow-bar-left-wrapper {
	position: relative;
	overflow-x:hidden;
	@include prefix(transform, preserve-3d);

	.c3xgm-about-block-tagline {

		> span:first-child {
			@include prefix(transition, all 450ms);
			@include prefix(transition-delay, 400ms);
		}
		> span:nth-child(2) {
			@include prefix(transition, all 450ms);
			@include prefix(transition-delay, 850ms);
		}
		&.c3xgm-about-not-viewed {
			> span {
				opacity: 0;
				@include prefix(transform, translate3d(-100%,0,0));
			}
		}

		&.c3xgm-about-viewed {
			> span {
				opacity: 1;
				@include prefix(transform, translate3d(0,0,0));
			}
		}
	}
}



// @include keyframes(move-the-object) {
//   0%   { left: 100px; }
//   100% { left: 200px; }
// }

// .object-to-animate {
//   @include animation('move-the-object .5s 1', 'move-the-object-again .5s 1 .5s');
// } 