.c3xgm-about-page-our-company {

	.c3xgm-about-section-header { 

		.c3xgm-about-section-icon { }

		h1.c3xgm-about-h {
			&.fadeInLeftMega {
				-webkit-animation-name: fadeInLeftMega;
				-moz-animation-name: fadeInLeftMega;
				-o-animation-name: fadeInLeftMega;
				animation-name: fadeInLeftMega;
				@include prefix(animation-delay,400ms);
				@include prefix(animation-duration,800ms);
			}

		 }

		hr { }

	}


	.c3xgm-about-block-earn {

		.c3xgm-about-header-p { }

		.c3xgm-about-yellow-bar-left-wrapper .c3xgm-about-block-tagline { 

			> span:first-child { }

			> span:nth-child(2) { }
		}

		.c3xgm-about-p { }

	}


}


// .c3xgm-about-page-in-view {
// 	position: fixed;
// 	top:0;
// 	width: 100%;
// 	height: 100%;
// }