// FINAL STYLES
// TEST FACILITY FIXES
#c3xgm-about-page-safety-quality > div.c3xgm-about-block.c3xgm-about-clearfix.c3xgm-about-test-facility {
	margin: 1em auto;
	@media(min-width: $tablet-height) {
		margin: 4em auto;
	}
	 > div {
		position: relative;
		padding: 3em 0;
	}
}

// .number 
#c3xgm-about-number-63 {
	height:0.8em;	
}

// HIDE MOBILE IMAGE ON DESKTOP
.c3xgm-about-desktop-device {
	.c3xgm-about-china .c3xgm-about-block-image > img {
		display: none;
	}
}