// LAYOUT
// TITLE ICON
img.c3xgm-about-section-icon{
	float: left;
	width: 50px; height: auto;
	margin: -8px 15px 0 0; padding-left: 4px;
	@media( min-width:$tablet-height ){ 
		width: 90px; 
		margin: -10px 25px 0 0;
	}
}

// PAGE CONTAINER
.c3xgm-about-page-container {
	width:100%; max-width:905px;
	margin:0 auto;
	position: relative;
	// PADDING FOR GM - MENU
	padding-top:35px;
}

// YELLOW BAR
.c3xgm-about-yellow-bar-left-wrapper {
	margin:8px 0; padding-left:14px;
	border-left:3px solid $gm-yellow;

	.c3xgm-about-h:first-child { margin-top:0; }
}

.c3xgm-about-section {
	padding-top: 36px;
	@media( min-width:$tablet-height ){ padding-top: 73px; }

	.c3xgm-about-section-header-inner { text-align: left; width: 100%; }

	hr {
		background: $gm-gray; border: none;
		width: 86.25%; height: 1px;
		margin-top: 12px;
		display: block; float: left; clear: left;

		@media(min-width:$tablet-height ){ 
			height: 2px; 
			margin-top: 23px;
		}
	}
}


.c3xgm-about-subsection {
	padding-left:2px;
}

.c3xgm-about-block-image {
	img {
		width:100%;
	}
}