// LAYOUT
// BLOCKS & HEADERS & SUBSECTIONS & HELPERS
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}
html, body {
	-webkit-overflow-scrolling: touch;
}

body { /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
	-webkit-backface-visibility: hidden;
}
// PAGE CONTAINER
.c3xgm-about-page-container {
	width:100%;
	margin:0 auto;
	position: relative;
}

// TEMP MENU
.c3xgm-about-temp-menu {
	padding-bottom:33px; width:100%; max-width:906px; 
	clear: both;
	background-image:url('../img/decorative/temp-menu.jpg');
	background-repeat: no-repeat; background-size: contain; background-position: 0 50%;
	margin:0 auto;
}

// INDIVIDUAL PAGE-SECTION HODLER
.c3xgm-about-page {
	margin:0 auto;
	position: relative;
}

// YELLOW BAR
.c3xgm-about-yellow-bar-left-wrapper {
	position: relative;
	margin: 8px 0 8px 2px;
	// padding-left:6px;
	padding-left: 2px;
	@media( min-width:$tablet-height ){  padding-left:14px; }
	.c3xgm-about-h:first-child { margin-top:0; }
}

// PAGE HEAders
.c3xgm-about-section {

	.c3xgm-about-section-header-inner {
		text-align: left; width: 100%; max-width: 900px;
	}

	hr {
		display: block;
		background: $gm-light-gray; 
		border: 1px solid $gm-gray;
		width:96%;  height: 1px;
		margin:0.85em auto 1.1em;
		display: block; clear: left;
		@media(min-width:$tablet-height ){ 
			float: left; 
			width: 86.25%; height: 2px;
		}
	}
}

.c3xgm-about-overflow { 
	overflow: hidden; 
	position: relative;
}

.c3xgm-about-header-holder { position: relative; }

.c3xgm-about-icon-holder {
	text-align: center;
	position: relative;

	svg { display: block; }
	@media(min-width: $tablet-height) {
		float: left;
		height: 113px; width:113px;
	}
}

.c3xgm-about-section-icon {
	// width: 20%; max-width:100px;
	width: 25%; max-width:100px;
	height: 100%; max-height:100px;
	display: block;
	margin: 0.4em auto;

	@media(min-width: $tablet-height) { width: 100%; }
}

.c3xgm-about-subsection { padding-left:2px; }

.c3xgm-about-header-image,
.c3xgm-about-block-image, 
.c3xgm-about-block-icon {
	width: 100%; 
	img { width:100%; }
}

.c3xgm-about-block,
.c3xgm-about-block-earn {  margin-bottom: 2em; }

.clear-left,
.c3xgm-clear-left { clear:left; }

// MODULE SIZES
.c3xgm-about-module-20,
.c3xgm-about-module-25,
.c3xgm-about-module-35,
.c3xgm-about-module-40,
.c3xgm-about-module-50,
.c3xgm-about-module-60,
.c3xgm-about-module-65,
.c3xgm-about-module-75,
.c3xgm-about-module-80 {
	position: relative;
	width: 100%;
	margin-top:1em;
}

@media(min-width:$tablet-height) {
	.c3xgm-about-module-20 { width:20%; float:left; }	
	.c3xgm-about-module-25 { width:25%; float:left; }	
	.c3xgm-about-module-35 { width:35%; float:left; }	
	.c3xgm-about-module-40 { width:40%; float:left;}
	.c3xgm-about-module-50 { width:50%; float:left }
	.c3xgm-about-module-60 { width:60%; float:left;}
	.c3xgm-about-module-65 { width:65%; float:left; }	
	.c3xgm-about-module-75 { width:75%; float:left; }
	.c3xgm-about-module-80 { width:80%; float:left; }

	.c3xgm-about-page-our-people .c3xgm-about-module-50 { margin-top:0; }
}

// FIX SVG INCORRECT HEIGHT BUG
// svg { max-height: 100%; }

// DECORATIVES
.c3xgm-about-decorative {
	position: relative; width:100%; max-width: none;
	margin-bottom:0;
}

.c3xgm-about-module-technology,
.c3xgm-about-module-foundation { position: relative; }


.c3xgm-about-module-foundation,
.c3xgm-about-subsection,
.c3xgm-about-block,
.c3xgm-about-block-earn {  
	max-width: $inner-border; 
	margin: 0 auto 3.5em;

	@media(min-width: $tablet-height) { margin: 0 auto 7em; }
}


.c3xgm-about-module-technology {
	max-width: $inner-border; 
	margin: 0 auto 2em;

	@media(min-width: $tablet-height) { margin: 0 auto 4em; }	
}

// ENVIRONMENT - NO MARGIN BOTTOM
.c3xgm-about-page-environment {
	.c3xgm-about-subsection {
		margin: 0 auto;
		@media(min-width: $tablet-height) { margin: 0 auto; }	
	}
}

.c3xgm-about-section {
	max-width: $inner-border;
	margin: 0 auto;
}

.c3xgm-about-block.c3xgm-about-decorative {
	width: 100%; max-width: none;
	margin-left: auto; margin-right:auto;
}

.c3xgm-about-section,
.c3xgm-about-subsection,
.c3xgm-about-module-foundation,
.c3xgm-about-block,
.c3xgm-about-block-earn {
	width: 92%;
	@media(min-width:$tablet-height ){ width:94%; }
}

.c3xgm-about-module-technology,
.c3xgm-about-block.c3xgm-about-decorative {
	@media(min-width:$tablet-height ){ width:100%; }
}


// SHOW ON MOBILE ONLY 
.c3xgm-about-block-image-mobile {
	@media(min-width: $tablet-height) {display: none;}
}
.c3xgm-about-desktop {
	display: none;
	@media(min-width: $tablet-height) {display:block;}
}


.c3xgm-about-open-sans { font-family: "open-sans", 'Arial', Arial, sans-serif !important; }

// YELLOW AND GRAY LINES
.c3xgm-about-yellow-line, 
.c3xgm-about-gray-line {
	position: absolute;
	display: block;
	z-index: 1100;
}

.c3xgm-about-yellow-line { background-color:$gm-yellow; }
.c3xgm-about-gray-line { background-color:$gm-gray-line; }

.c3xgm-about-line-vert {
	height: 100%; width: .15rem;
	@media(min-width: $tablet-height) { width: .2rem; }
}