@media(max-width:767px) {
	#c3xgm-about-flag-line-grey-car {
		margin: auto;
		left:0; right:0;
	}	
}

.c3xgm-about-mobile-device {

	#c3xgm-about-solar-grey-car,
	#c3xgm-about-flag-line-grey-car {
		margin: auto;
		left:0; right:0;
	}

}

#c3xgm-about-red-car {
	right: -380px;

	@include prefix(animation-fill-mode, both);
	@include prefix(animation-name, moveCarLeft);
	@include prefix(animation-delay, 0);
	@include prefix(animation-duration, 3s);
	@include prefix(animation-timing-function, linear);
	@include prefix(animation-iteration-count, infinite);
}

// 	// HIDE BLOCKING BOX INFRONT OF CAR
// 	div#c3xgm-about-grey-top:before {
// 		display: none;
// 	}

.c3xgm-about-grey-top,
div#c3xgm-about-solar-grey-car {
	left: -380px;

	@include prefix(animation-fill-mode, both);
	@include prefix(animation-name, moveCarRight);
	@include prefix(animation-delay, 0);
	@include prefix(animation-duration, 4s);
	@include prefix(animation-timing-function, linear);
	@include prefix(animation-iteration-count, infinite);	
}

// #c3xgm-about-grey-top:before {
// 	display: none;
// }

// 	.c3xgm-about-sun img {
// 		// display: inline-block;
// 		@include prefix(animation, rotate 5s infinite linear);
// 	}