// NAV
// NAV FOR TECHNOLOGY MODULE
.c3xgm-about-main-nav-container {
	width:100%;  max-width: 996px;
	position: fixed; margin:auto;
	top:3em; left:0; right:0; 
	z-index: 10000;
	@include prefix(transform, translate3d(0,0,10000));
	@media(min-width: $tablet-height) { 
		top:208px; 
	}

	.c3xgm-about-main-nav {
		float: right; text-align: center;
		position: absolute;
  		right: 0;

		li {display: block; margin: 0; padding: 0; float: left; clear:left;}
		
		.c3xgm-about-nav-bullet {
			display: block; background-color: $gm-gray;
			width:9px; height:9px; 
			margin:8px;
			// padding:8px;
		}

		.c3xgm-about-nav-bullet-active { background-color: $gm-yellow; }

		// SUB NAV
		.c3xgm-about-main-nav-sub {
			@include prefix(transition, all 200ms);

			.c3xgm-about-nav-bullet { background-color: $gm-dark-gray; }
			.c3xgm-about-nav-bullet-active { background-color: $gm-yellow; }

			li { position: relative;
				&:after {
					  content: ""; display: block;
					  width: 1px; height: 17px;
					  background-color: $gm-dark-gray;
					  position: absolute; margin: auto;
					  left: 0; right: 0; bottom: -8px;
					  z-index: -1;
				}
			}
			li:last-child:after { content: none; display: none; }
		}
	}
}

.c3xgm-about-main-nav-sub {
	opacity: 0;
	position: absolute;
	@include prefix(transition, all 200ms);
}

.c3xgm-about-nav-bullet-active + .c3xgm-about-main-nav-sub { opacity: 1; }