// NAV FOR TECHNOLOGY MODULE
.c3xgm-about-main-nav-container {
	width: 31px;
	position: fixed; 
	margin:auto;
	
	top:40px; 
	// right:4%; 
	right:0; 

	z-index: 2000;
	@include prefix(transform, translate3d(0,0,2000));

	pointer-events:none;
	@media(min-width: $tablet-height) {  width: 25px; top:208px;  }
	@media(min-width: $inner-border) {
		right: 0; left: 0;
		width: 96%; max-width: $inner-border;
	}

	.c3xgm-about-main-nav {
		float: right; text-align: center;
  		position: relative;

  		pointer-events:all;

		li {
			position: relative;
			display: block; 
			margin: 0; padding: 0; 
			float: left; clear:left;

			a {  text-decoration: none; }

			// NAV TITLE FLAGS
			.c3xgm-about-nav-hover-title {
				text-transform: uppercase;
				display: block;
				padding:10px 0;
				background:#ffffff;
				width: 10.25em;
				border:2px solid $gm-nav-gray;
				color:$gm-black;
				font-weight: 600;
				
				position: absolute;
				right: 130%; top: -8px;

				opacity: 0; z-index: 0; display: none;
				@include prefix(transition, opacity 200ms);

				&:after, &:before {
					content: " ";
					left: 100%; top: 50%;
					border: solid transparent;
					height: 0; width: 0;
					position: absolute;
					pointer-events: none;
				}

				&:after {
					border-color: rgba(136, 183, 213, 0); border-left-color: #ffffff; border-width: 8px;
					margin-top: -8px;
				}
				&:before { border-color: rgba(180, 184, 188, 0); border-left-color: #b4b8bc; border-width: 11px;
					margin-top: -11px;
				}
			}

			.c3xgm-about-nav-hover-sub-title { color:$gm-dark-blue; }

			> a:hover + .c3xgm-about-nav-hover-title {
				opacity: 1; z-index: 1;  display: block;
				@include prefix(transition, opacity 50ms);
			}
		}
		
		.c3xgm-about-nav-bullet {
			padding:10px;
			display: inline-block;

			.c3xgm-about-inner-bullet {
				display: block; background-color: $gm-gray;
				width:11px; height:11px; 
			}

			@media(min-width: $tablet-height) {
				padding:8px;
				.c3xgm-about-inner-bullet { width:9px; height:9px; }
			}
		}

		.c3xgm-about-nav-bullet-active .c3xgm-about-inner-bullet { background-color: $gm-yellow;  }

		// SUB NAV
		.c3xgm-about-main-nav-sub {
			@include prefix(transition, all 200ms);

			@media(max-width:767px) { display: none; }

			.c3xgm-about-nav-bullet .c3xgm-about-inner-bullet { background-color: $gm-dark-gray; }
			.c3xgm-about-nav-bullet-active .c3xgm-about-inner-bullet { background-color: $gm-yellow; }

			li { position: relative;
				&:after {
					content: ""; display: block;
					width: 1px; height: 22px;
					background-color: $gm-dark-gray;
					position: absolute; margin: auto;
					left: 0; right: 0; bottom: -10px;
					z-index: -1;

					@media(min-width: $tablet-height) { bottom: -8px; height: 18px; }
				}
			}
			li:last-child:after { content: none; display: none; }
		}
	}
}

.c3xgm-about-main-nav-sub {
	opacity: 0; display: none;
	position: absolute;
	@include prefix(transition, all 200ms);
}

// .c3xgm-about-nav-bullet-active + .c3xgm-about-main-nav-sub { 
.c3xgm-about-nav-bullet-active ~ .c3xgm-about-main-nav-sub { 
	opacity: 1;  display: block;

	.c3xgm-about-nav-hover-sub-title {
		&:hover {
			opacity: 1;  display: block;
			@include prefix(transition, opacity 50ms);
		}
	}
}


// SHOW NAV
.show-nav {
	opacity: 1; 
	display: block;
	@include prefix(transition, opacity 50ms);
}