/*
TEMPLATE STYLES
TO BE DELETED AFTER DEVELOPMENT
*/

.temp {
	background-repeat: no-repeat; background-size: cover;
	height: 0; padding: 50%;
	z-index: 0;
	position: absolute;
	top:0;
}

.our-comp-temp {
	background-image:url('../templates/our-company.png');
	opacity:0.5;
}

.our-peop-temp {
	left: -48px; 
	top: 18.16%;
	background-image:url('../templates/our-people.png');
	opacity:0.5;
}