/*
TEMPLATE STYLES
TO BE DELETED AFTER DEVELOPMENT
*/

.temp {
	background-repeat: no-repeat; background-size: cover;
	height: 0; 
	// padding: 50%;
	z-index: 0;
	position: absolute;
	top:0;
	left:0; right:0; margin:auto;
}

.our-comp-temp {
	background-image:url('../templates/our-company.png');
	opacity:0.5;
	display: none;
}


.our-peop-temp {
	// left: -37px;
	left: -110px;
  	// top: 12.57%;
  	top: 950px;
  	width: 905px; height: 982px;
	background-image:url('../templates/our-people.png');
	opacity:0.5;
	display: none;
}

.our-peop-temp-mobile {
  	width: 100%;
  	max-width: 400px;
  	padding-bottom: 462.75%;
  	height: 0;
  	margin:auto;
  	position: absolute; top:-16px; left: 0; right:0;
	background-image:url('../templates/people-mobile.jpg');
	background-size:contain;
	background-repeat: no-repeat;
	opacity:0.5;
	// display: none;
}

.our-brands-temp {
  // left: -166px;
  // top: -035px;
  // width: 1348px;
  // height: 3816px;
  top:0; left:0;
  width:100%; 
  // max-width: 906px; 
  height: 0;
  padding-bottom: 282.4309%;
	background-image:url('../templates/brands.png');
	opacity:0.5;

	// display: none;
}


.our-commitment-temp {
  opacity: 0.5;
    // left: -86px;
    // top: 3859px;
      left: -145px;
  top: 3534px;

  width: 1300px;
  height: 4046px;
  background-image: url("../templates/comm.png");
  opacity: 0.5;
  height: 0;
  padding-bottom: 217.409%;

}

.temp-our-commitment-mobile {
	background-image: url("../templates/our-commitment-mobile.jpg");
  opacity: 0.5;
  height: 0;
  background-size: contain;
  width:100%;max-width: 320px;
  padding-bottom: 532.81%;

  @media(min-width: 600px) {
  	background-image: url("../templates/our-commitment-desktop.jpg");
  background-image: url("../templates/our-commitment-desktop.jpg");
  width: 100%;
  max-width: 905px;
  // padding-bottom: 162.76%;
  padding-bottom: 192.76%;
  background-size: 150%;
  background-position: 65% 0;
  }
}



.our-brands-temp-mobile {
	// left: -114px;
	// top: 1847px;
 // top: 227px;
 //  width: 1348px;
 //  height: 3816px;
	background-image:url('../templates/mobile-our-brands.jpg');
	opacity:0.5;
	width:100%; max-width:400px;
	height: 3641px;
	top:-19px;
	display:block;
	visibility: visible;
	bottom:auto;
}




.temp-foundation {
	background-image: url("../templates/foundation-mobile.jpg");
  opacity: 0.5;
  height: 0;
  background-size: contain;
  width:100%;max-width: 320px;
  padding-bottom: 249.875%;

  @media(min-width: 600px) {
  background-image: url("../templates/foundation-desktop.jpg");
  width: 100%;
  max-width: 905px;
  // padding-bottom: 162.76%;
  padding-bottom: 62.87%;
  background-size: 150%;
  background-position: 65% 0;
  }
}



.temp-environment {
	background-image: url("../templates/environments-mobile.jpg");
  opacity: 0.5;
  height: 0;
  background-size: contain;
  width:100%;max-width: 320px;
  padding-bottom:491.875%;

  @media(min-width: 600px) {
  background-image: url("../templates/environments-desktop.jpg");
  width: 100%;
  max-width: 905px;
  // padding-bottom: 162.76%;
  padding-bottom: 213%;
  background-size: 150%;
  background-position: 65% 0;
  }
}


.temp-safety {
  background-image: url("../templates/safety-mobile.jpg");
  opacity: 0.5;
  height: 0;
  background-size: contain;
  width:100%;max-width: 320px;
  padding-bottom:737.5%;

  @media(min-width: 600px) {
  background-image: url("../templates/safety-desktop.jpg");
  width: 100%;
  max-width: 905px;
  // padding-bottom: 162.76%;
  // padding-bottom: 223.5;
  padding-bottom: 335%;
  background-size: 150%;
  background-position: 65% 0;
  }
}

.temp-brands {
  background-image: url("../templates/brands-mobile.jpg");
  opacity: 0.5;
  height: 0;
  background-size: contain;
  width:100%;max-width: 320px;
  padding-bottom:925.31%;
  top:230px;

  @media(min-width: 600px) {
  background-image: url("../templates/brands-desktop.jpg");
  width: 100%;
  max-width: 905px;
  // padding-bottom: 281.104%;
  padding-bottom: 421.656%;
  background-size: 150%;
  background-position: 65% 0;
  }
}

.temp-people {
  background-image: url("../templates/people-mobile.jpg");
  opacity: 0.5;
  height: 0;
  background-size: contain;
  width:100%;max-width: 320px;
  padding-bottom:403.125%;
  top:230px;

  @media(min-width: 600px) {
  background-image: url("../templates/people-desktop.jpg");
  width: 100%;
  max-width: 905px;
  // padding-bottom: 80.99%;
  padding-bottom: 121.5%;
  background-size: 150%;
  background-position: 65% 0;
  }
}