body {
  margin: 0;
  font-size: 14px;
  font-family: sans-serif;
  padding-top: 100px;
}

* {
  box-sizing: border-box;
}

.container, 
nav {
  width: 800px;
  margin: 0 auto;
}

header,
section {
  padding: 1em;
  background: silver;
  margin-bottom: 1em;
}

header {
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 10px solid #c71444;
  position: fixed;
  z-index: 99;
  width: 100%;
}
.scroller-wrapper {
  position: relative;
}
.wrapper,
.wrapper > div {
  height: 90vh;
}
.wrapper {
  margin-top: 100px;
  overflow: hidden;
  position: relative;
  > div {
    background-color: #efefef;
    border: 10px solid grey;
  }
}
.slide-in {
  opacity: 0;
  background-color: blue;
  position: absolute;
  -webkit-transform: translate(-100%, 0);
     
          transform: translate(-100%, 0);
  
  -webkit-transition: all 0.3s ease-in-out;
     
          transition: transform 0.3s ease-in-out;
  
  .visible & {
    opacity: 1;
  -webkit-transform: translate(0, 0);

          transform: translate(0, 0);
  }
}


.fixed {
  
  position: absolute;
  top: 1em;
  z-index: 1;
  right: 0;
  width: 30px;
  a {
    display: block;
    text-decoration: none;
    &.active {
      color: white;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}


.footer {
  height: 1000px;
  background-color: silver;
}