// CAR
.c3xgm-about-module-car {
	max-width: $inner-border;
	margin:0 auto 5%;
	@media(min-width:$tablet-height) { margin-bottom: 65px;}

	.c3xgm-about-module-40,
	.c3xgm-about-module-35 {
		margin-top:0;
		@media(min-width:$tablet-height) { margin-top:1em; }
	}

	.c3xgm-about-module-65 {
		width: 90%; margin-left:auto; margin-right:auto;
		border-top:0.15rem solid $gm-yellow; 
		@media(min-width:$tablet-height) { 
			width: 65%;
			border-top:0; padding-top:0; border-left:0.2rem solid $gm-yellow;
		}
	}

	.c3xgm-about-module-car-logo-container {
		width: 92%; min-width:none; 
		padding-top:1.5em; margin:0 auto;
		@media(min-width: $tablet-height) { padding-top:0; float: right; }
	}

	.c3xgm-about-module-container {
		height: 0; padding:1em 0 100%; 
  		@media(min-width:$tablet-height) { float: right; width: 90%; }

		.c3xgm-about-module {
			.c3xgm-about-h,
			.c3xgm-about-p,
			.c3xgm-about-link,
			.c3xgm-about-vehicle-copy {
				width: 92%;
				margin-left:auto; margin-right:auto;
			}
		}

		@media(min-width:$tablet-height) {	
			> .c3xgm-about-module {
				position: absolute;
				left:0; width: 100%;
			}
		}
	}


	.c3xgm-about-module {
		.c3xgm-about-vehicle-copy,
		.c3xgm-about-link,
		.c3xgm-about-h,
		.c3xgm-about-p { text-align: left; }

		.c3xgm-about-block-image,
		.c3xgm-about-block-image img,
		.c3xgm-about-vehicle-copy,
		.c3xgm-about-link,
		.c3xgm-about-h,
		.c3xgm-about-p { 
			margin: 9px auto; padding: 0 2% 0 7px;
			@media(min-width:$tablet-height) { width: 88.69731800766284%; max-width:463px; }
		}

		.c3xgm-about-vehicle-copy { 
			display: block; 
			margin: 1em auto 0; 
			font-size: 10px;
			font-family: open-sans, Arial, sans-serif;
			@media(min-width: $tablet-height) { font-size: 14px;}
		}

		.c3xgm-about-p { margin-left:0; margin-right:0; 
			@media(min-width: $tablet-height) { margin-left: auto; margin-right:auto;}
		}

		h3.c3xgm-about-h{
			font-size: 32px; font-size: 8.06vw; line-height:1em;
			@media( min-width:$inner-border ){ font-size: 73px; line-height: 70px; }
		}
		.c3xgm-about-link { display: block; margin-top:1em; margin-bottom: 0.5em; }

		.c3xgm-about-block-image {
			position: relative; text-align: center;
			max-width: 77%; height: 0; margin-top:2em;
			img {  display: block; margin:0 auto; max-width: 77%; }
		}
	}

	.c3xgm-about-module-car-logo-container {
		li {
			display: block; float: left; text-align: center;
			width:33.3333334%;
			&:nth-of-type(3n+1) { clear: left; }
			@media(min-width:$tablet-height) {
				width: 50%; margin:1em auto;
				&:nth-of-type(3n+1) { clear:none; }
				&:nth-of-type(odd) { clear: left; }
			}
			
			.c3xgm-about-module-car-logo {
				line-height: 44px;
				img {  width:60%; vertical-align: middle; }
				@media(min-width:$tablet-height) { 
					line-height: 60px; display: block; text-align: left;
  					img {   padding-left: 7px; }
				}
			}
		}
	}

	// CARS
	.c3xgm-about-chevrolet .c3xgm-about-block-image { padding-bottom:37.56906077348066%; }
	.c3xgm-about-buick .c3xgm-about-block-image { padding-bottom:39.95584988962472%; }
	.c3xgm-about-gmc .c3xgm-about-block-image { padding-bottom:34.65783664459161%; }
	.c3xgm-about-opel .c3xgm-about-block-image { padding-bottom:42.721854304635764%; }
	.c3xgm-about-cadillac .c3xgm-about-block-image { padding-bottom:27.593818984547464%; }
	.c3xgm-about-vauxhall .c3xgm-about-block-image { padding-bottom:42.60485651214128%; }
}