// MOBILE GIF BACK UPS
.c3xgm-about-mobile-device {

	// CHINA FLAG FOR MOBILE - DISPLAY BLOCK;
	.c3xgm-about-block-image-mobile {
		display: block;
	}

	.c3xgm-about-page-our-commitment {
		
		.c3xgm-about-crash-test-dummies .c3xgm-about-block-image img[src$="svg"] {
			width: 40%; 
			@media(min-width: $tablet-height) {
				width: 80%;
				position: absolute; top: 50%; left: 50%;
				@include prefix(transform, translate(-50%, -50%));
			}
		}

		.c3xgm-about-crash-test-dummies.element-in-view .c3xgm-about-block-image img {
			$crash-duration:400;
			$crash-delay:1200;
			$crash-step:300;

			@include prefix(animation-fill-mode, both);
			@include prefix(animation-name, fadeIn);
			@include prefix(animation-delay, #{$crash-delay + "ms"});
			@include prefix(animation-duration, #{$crash-duration + "ms"});
		}
	}


	.c3xgm-about-decorative.c3xgm-about-red-car-road {
		position: relative; 

		#c3xgm-about-red-car {
			right: -380px;
			@include prefix(animation-name, moveCarLeft);
			@include prefix(animation-delay, 0);
			@include prefix(animation-duration, 3s);
			@include prefix(animation-timing-function, linear);
			@include prefix(animation-iteration-count, infinite);
			
			&.animate-flag-line {
				@include prefix(animation-fill-mode, both);
			}
		}
	}


	// FLAG LINE
	.c3xgm-about-flag-line-container {
		#c3xgm-about-flag-line-grey-car {
			margin:0 auto;
		}
	}

	// FIVE STARS
	#c3xgm-about-grey-van {
		// left: -380px;
		@include prefix(animation-name, moveCarRight);
		@include prefix(animation-delay, 0);
		@include prefix(animation-duration, 4s);
		@include prefix(animation-timing-function, linear);
		@include prefix(animation-iteration-count, infinite);	
		
		&.animate-flag-line {
			@include prefix(animation-fill-mode, both);
		}
		
	}
	
	// HIDE OBSCURING COLUMN
	div#c3xgm-about-grey-van:before {
		display: none;
	}

	// SOLAR PANELS
	.c3xgm-about-decorative.c3xgm-about-solar-panels {
		
		#c3xgm-about-solar-grey-car {
			left: -380px;
			// @include prefix(animation-fill-mode, both);
			@include prefix(animation-name, moveCarRight);
			@include prefix(animation-delay, 0);
			@include prefix(animation-duration, 4s);
			@include prefix(animation-timing-function, linear);
			@include prefix(animation-iteration-count, infinite);
		}

		&.animate-flag-line {
			@include prefix(animation-fill-mode, both);
		}
	}


	// MOBILE CLASSES TAKEN FROM MOBILE .CSS
	.c3xgm-about-mobile-visible { opacity: 1; }

	.c3xgm-about-mobile-device  .c3xgm-about-main-nav-sub { display: none; }

	.c3xgm-about-page-our-commitment .c3xgm-about-climate-declaration .c3xgm-about-block-image > div {
	    margin-left:auto;
	}

	// SOLAR ROAD CAR IN MIDDLE ON MOBILE
	#c3xgm-about-solar-road-grey-car {
		left:0; right:0;margin:auto;
	}

}

.c3xgm-about-climate-declaration.element-in-view .c3xgm-about-block-image img[src$='svg'] {
	width: 50%; margin-left:auto; margin-right:auto;
}

.c3xgm-about-alt-anim {
	// FLAG LINE
	.c3xgm-about-dealers.element-in-view + .c3xgm-about-flag-line-container {
		#c3xgm-about-flag-line-grey-car {
			margin: 0;
			@include prefix(animation-fill-mode, both);
			@include prefix(animation-name, moveCarRight);
			@include prefix(animation-delay, 0);
			@include prefix(animation-duration, 4s);
			@include prefix(animation-timing-function, linear);
			@include prefix(animation-iteration-count, infinite);

			@media(min-width: $tablet-height) {
				@include prefix(animation-duration, 6s);
			}

		}
	}

	// SOLAR PANELS
	.c3xgm-about-decorative.c3xgm-about-solar-panels-animation.element-in-view {

		#c3xgm-about-solar-road-grey-car {
			margin:0;
			@include prefix(animation-fill-mode, both);
			@include prefix(animation-name, moveCarRight);
			@include prefix(animation-delay, 0);
			@include prefix(animation-duration, 4s);
			@include prefix(animation-timing-function, linear);
			@include prefix(animation-iteration-count, infinite);

			@media(min-width: $tablet-height) {
				@include prefix(animation-duration, 6s);
			}
		}
	}

}

