// STATIC EXPERIENCE
.c3xgm-about-static-experience {
	.c3xgm-about-china .c3xgm-about-block-image .china-flag-wrapper {
		background-image: url('../img/pages/brands/flag.png');
		background-repeat: no-repeat;
		background-size:contain;

		@include prefix(transform-origin, none);
		@include prefix(transform, none);
		@include prefix(transition, none);

		img {
			display: none;
		}
	}

	@media (min-width: 768px){
		.c3xgm-about-global .c3xgm-about-block-image img{
		  top: 0;
		}
	}

	.c3xgm-about-sun{
		@include prefix(transform-origin, none);
		@include prefix(transform, none);
		@include prefix(transition, none);
	}

	.grey-car{
		margin:auto;

		.wheel {
	  		background-image: url("../img/decorative/cars/wheel.png");
	  	}
	}

	#c3xgm-about-red-car{
		left:0;

		@include prefix(animation-name, none !important );
	}

	#c3xgm-about-grey-van
	{
		left:0; right:0; margin:auto;
		@include prefix(animation-name, none !important );
	}

	#c3xgm-about-grey-van:before{
		display: none;
	}

	/* OUR PEOPLE */
	#c3xgm-about-employees-img {
	  background-image:url('../img/pages/people/people-icons.png');
	  background-size:100%;
	  background-repeat: no-repeat;
	  @media(max-width: 767px) {
	  	padding-bottom: 23.2%;
	  }

	  .c3xgm-about-girl,
	  .c3xgm-about-boy {
	  	display: none;
	  }
	}

	#myobj {
	  background-image:url('../img/pages/people/map.png');
	  background-size:70%;
	  background-position: 50% 50%;
	  background-repeat: no-repeat;
	  width: 88%;
	  padding-bottom: 45%;
	  background-size: 100%;
	  margin: 0 auto;
	}

	.c3xgm-about-marker-holder {
		display: none;
	}

	.c3xgm-about-icon-holder {
		margin:0 auto;
	}
}