// TECHNOLOGY MODULE
.c3xgm-about-module-technology {

	.c3xgm-about-subsection {margin-bottom: 3em;}

	.c3xgm-about-module {
		text-align: center; 
		width: 100%;

		.c3xgm-about-blockquote-container {
			max-width: $inner-border;
			margin: 0 auto;

			@media(min-width: $tablet-height) {
				width: 94%; 
			}
		}
	}
	// COMMON
	// IMAGE
	.c3xgm-about-block-icon {
		position: relative;
	}
	// IMAGE
	.c3xgm-about-block-image {
		  width: 100%; 
		  max-width: $inner-border;
		  margin: 0 auto;
		  position: relative;

		.c3xgm-about-wheel {display: block;}
		.c3xgm-about-tech-car {
		 	// width:70%;
		 	@media(min-width: $tablet-height) {  width:70%; }
		}
	}
	// BLOCK-QUOTE
	.c3xgm-about-blockquote {
		max-width: 92%;
		margin: 1em auto 1.5em;
		display: inline-block;
		text-align: left;
		@media(min-width: $tablet-height) { display: block; margin: 0; }
		
		span { 
			display: block; 
			float: left; clear: left;
		}

		@media(min-width: $tablet-height) { float: right; }
	}

	.c3xgm-about-block-image { 
			img.c3xgm-about-tech-car {
				width: 90%; 
				@media(min-width: $tablet-height) {  width: 70%; }
			}
		}

	// INDIVIDUAL
	// 4G LTE
	.c3xgm-about-4g-lte {
		.c3xgm-about-block-icon {
			@media(min-width: $tablet-height) { 
				width:40%; float: right; 
				img { width: 75%; }
			}
			.c3xgm-about-tech-car { 
				width:65%; max-width: 157px; 
				@media(min-width: $tablet-height) { width:80%; max-width: none; }
			}
		}
		.c3xgm-about-block-image { 
			.c3xgm-about-wheel {
				width: 11.5714286%;
				position: absolute; bottom:19%;
  				max-width: 86px; max-height: 85px;

				&:first-child { left:24%;  }
				&:nth-child(3) {  right: 19%; bottom: 19%; }

				@media(min-width:$tablet-height) {
					width: 9%;
					 &:first-child {left:30%; }
					 &:nth-child(3) {right: 26.4%; bottom: 19.6%; }
				}
			}

		}

		.c3xgm-about-blockquote { 
			@media(min-width: $tablet-height) { width:60%; float: right; }
		}

		.c3xgm-about-dark-blue.c3xgm-about-thin,
		.c3xgm-about-light-blue {
			font-size:27px; font-size: 8.5vw;
			@media(min-width:$tablet-height) { font-size:42px; }
			@media(min-width:$inner-border) { font-size:50px; }
		}

		.c3xgm-about-gray {
			font-size:12px; font-size: 3.961772vw;  
			line-height: 1.075em;
			@media(min-width:$tablet-height) {font-size:20px; }
		}

		.c3xgm-about-light-blue { margin: .05em 0; }

	}

	// CONCEPT CAR
	.c3xgm-about-concept-car {
		// IMAGES
		.c3xgm-about-blockquote { 
			width: auto;
			@media(min-width: $tablet-height) { width:70%; float: right; }
		}
		.c3xgm-about-block-icon {
			img { width:45%; max-width:none; }
			@media(min-width: $tablet-height) { 
				width:30%; float:right;
				img {width:75%; max-width: none;}
			}
		}

		.c3xgm-about-block-image { 
			.c3xgm-about-wheel {	
				width: 11.5714286%;
				position: absolute; bottom:20.5%; 
				max-width: 88px; max-height: 87px;

				&:first-child { bottom: 20.7%; left: 24.1%; }
				&:nth-child(3) { right: 21.6%; bottom: 20%; }
				@media(min-width: $tablet-height) {
					width: 9%;
					&:first-child { bottom: 20.7%; left: 30.1%; }
					&:nth-child(3) { right: 28.2%; bottom: 20.2%; }
				}
			}
		}
	}

	// SAFETY
	.c3xgm-about-safety {
		.c3xgm-about-block-icon {
			img {width:80%; }

			@media(min-width: $tablet-height) { margin:0;width: 30%;  }
		}

		.c3xgm-about-blockquote { 
			@media(min-width: $tablet-height) { width: 70%; }
		}

  		.c3xgm-about-light-blue {
  			max-width: 6em;
  			@media(min-width: $tablet-height) { max-width: none; }
  		}

  		.c3xgm-about-gray.c3xgm-about-thin.c3xgm-about-small {
		  	font-size:12px; font-size: 4vw;
		  	@media(min-width:$tablet-height) { font-size: 21px; }
		}

		.c3xgm-about-block-image {

			.c3xgm-about-wheel {
				width: 11.5714286%; 
				max-width: 86px; max-height: 85px;
				position: absolute; bottom:19%;
				&:first-child { left:24%;  }
				&:nth-child(3) { right: 19%; bottom: 19%;  }

				@media(min-width:$tablet-height) { 
					width: 9%; 
					&:nth-child(3) { right: 26.4%; bottom: 19.6%; }
					&:first-child { left:30%; }
				}
			}
		}
	}

	// BOTH CONCEPT AND SAFETY
	.c3xgm-about-safety,
	.c3xgm-about-concept-car {
		.c3xgm-about-dark-blue.c3xgm-about-thin {
			font-size:17px; font-size: 5vw;
			@media(min-width:$tablet-height) {font-size:28px; }
		}
		.c3xgm-about-light-blue {
			margin: .05em 0; 
			font-size:35px; font-size: 10.7vw;
			line-height: 0.9em;
			@media(min-width:$tablet-height) { font-size:50px; font-size: 6.5vw; }
			@media(min-width:$inner-border) { font-size:60px; }
		}
		.c3xgm-about-gray {
			font-size:20px; font-size: 6vw;
			line-height: 1.075em;
			@media(min-width:$tablet-height) {font-size:29px; }
			@media(min-width:$inner-border) {font-size:35px;}
		}
	}

	// NAV FOR TECHNOLOGY MODULE
	.c3xgm-about-module-nav {
		text-align: center;
		li {display: inline-block; margin: 0; padding: 0;}
		.c3xgm-about-module-nav-bullet {
			display: block; background-color: $gm-gray;
			width:11px; height:11px; 
			margin:10px;
			
			@media(min-width: $tablet-height) {
				width:9px; height:9px; 
				margin:8px;
			}
		}
		.c3xgm-about-module-nav-bullet-active { background-color: $gm-yellow; }
	}
}