// NEW ANIMATED GIF WHELL CAR STYLES

.c3xgm-about-flag-line-grey-car.grey-car {
	background: none;
}

.grey-car.new-grey-car {
	  position: relative;
	  z-index: 10;
	  top: 0; right: 0; left: auto;
}

#c3xgm-about-solar-grey-car > img {
	z-index: 1000;
	position: relative;
	display: block;

}

.c3xgm-about-flag-line-grey-car > img.grey-car-no-tires {
	position: relative;
	  z-index: 10;
	  width: 100%;
}