// OUR BRANDS ANIMATION
// .c3xgm-about-page-our-brands .c3xgm-about-module-car .c3xgm-about-module-car-logo-container li {
// 	opacity: 0;
// }
// .c3xgm-about-page-our-brands.c3xgm-about-page-in-view {
// 	.c3xgm-about-module-car {
		
		
// 		.c3xgm-about-module-car-logo-container {
// 			li {
// 				// opacity: 0;
// 				@include prefix(animation-fill-mode, both);
// 				@include prefix(animation-name, fadeIn);
// 				@include prefix(animation-delay, 0ms); 
// 				@include prefix(animation-duration, 200ms);
// 			}
// 			// @for ($i from 1 to 9){
// 			@for $i from 1 through 9 {
// 			    li:nth-child(#{$i}) { 
//                      -webkit-animation-delay:(#{$i*0.125s}); 
// 				     animation-delay:(#{$i*0.125s}); 
// 				}
// 			}
// 		}


// 	}
// }



// OUR BRANDS ANIMATION
#c3xgm-about-page-container > .c3xgm-about-page-our-brands {
	.c3xgm-about-section-header { 

		.c3xgm-about-section-icon,
		h1.c3xgm-about-h,
		.c3xgm-about-header-p,
		hr { opacity: 0; }
	}
}


// MAKE ELENMENTS INVISIBLE OR OFF SCREEN IN PREP FOR ANIMATION
#c3xgm-about-page-container > .c3xgm-about-page-our-brands {
	.c3xgm-about-module-car .c3xgm-about-module-car-logo-container li,
	// .c3xgm-about-block { opacity: 0; }

	.c3xgm-about-module-65 {
		// @include prefix(transform, scaleY(0));
		> div { opacity: 0; }
	}
}


#c3xgm-about-page-container > .c3xgm-about-page-our-brands.c3xgm-about-page-in-view {

	.c3xgm-about-section-header { 

		.c3xgm-about-section-icon { 
			@include prefix(animation-fill-mode, both);
			@include prefix(animation-name, fadeIn);
			@include prefix(animation-delay, 400ms);
			@include prefix(animation-duration, 400ms);
		}

		h1.c3xgm-about-h {
			@include prefix(animation-fill-mode, both);
			@include prefix(animation-name, fadeInRightMega);
			@include prefix(animation-delay, 200ms);
			@include prefix(animation-duration, 400ms);
		 }

		hr { 
			@include prefix(animation-fill-mode, both);
			@include prefix(animation-name, growHr);
			@include prefix(animation-delay, 600ms);
			@include prefix(animation-duration, 400ms);
		}

	}


	.c3xgm-about-header-p { 
		@include prefix(animation-fill-mode, both);
		@include prefix(animation-name, fadeInDown);
		@include prefix(animation-delay, 1000ms);
		@include prefix(animation-duration, 600ms);
	}

	// GROW BORDER 
	.c3xgm-about-module-65 {
		@include prefix(animation-fill-mode, both);
		@include prefix(transform-origin, top right);
		@include prefix(animation-name, growBorder);
		@include prefix(animation-delay, 1200ms);
		@include prefix(animation-duration,1300ms);

		> div {	
			@include prefix(animation-fill-mode, both);
			@include prefix(animation-name, fadeInRight);
			@include prefix(animation-delay, 2400ms);
			@include prefix(animation-duration,800ms);
		}
	}

	// CAR LOGOS
	.c3xgm-about-module-car .c3xgm-about-module-car-logo-container li {
		@include prefix(animation-fill-mode, both);
		@include prefix(animation-name, fadeIn);
		@include prefix(animation-delay, 1200ms);
		@include prefix(animation-duration, 200ms);

		&:nth-child(2) { @include prefix(animation-delay, 1400ms); }
		&:nth-child(3) { @include prefix(animation-delay, 1600ms); }
		&:nth-child(4) { @include prefix(animation-delay, 1800ms); }
		&:nth-child(5) { @include prefix(animation-delay, 2000ms); }
		&:nth-child(6) { @include prefix(animation-delay, 2200ms); }
		&:nth-child(7) { @include prefix(animation-delay, 2400ms); }
		&:nth-child(8) { @include prefix(animation-delay, 2600ms); }
		&:nth-child(9) { @include prefix(animation-delay, 2800ms); }

		@media(min-width: $tablet-height) {
			&:nth-child(3) { @include prefix(animation-delay, 1400ms); }
			&:nth-child(5) { @include prefix(animation-delay, 1600ms); }
			&:nth-child(7) { @include prefix(animation-delay, 1800ms); }
			&:nth-child(9) { @include prefix(animation-delay, 2000ms); }
			&:nth-child(2) { @include prefix(animation-delay, 2200ms); }
			&:nth-child(4) { @include prefix(animation-delay, 2400ms); }
			&:nth-child(6) { @include prefix(animation-delay, 2600ms); }
			&:nth-child(8) { @include prefix(animation-delay, 2800ms); }
		}
	}

	// ANIMATE ME NOW
	// MORE ANIMATE CLASSES TO ADD
	
}