// OUR PEOPLE
.c3xgm-about-page-our-people {
	width:92%; max-width: $inner-border;
	padding-bottom: 7em;

	.c3xgm-about-block.c3xgm-about-clearfix.c3xgm-about-employees,
	.c3xgm-about-section.c3xgm-about-clearfix.our-people { width: 100%; }


	> .c3xgm-about-section { margin-bottom: 0.6em; }

	.c3xgm-about-block { 
		margin-top:0; margin-bottom: 1.75em; 

		.c3xgm-about-block-image { position: relative; text-align: center;}
	}

	// EMPLOYEES
	.c3xgm-about-block.c3xgm-about-employees {
		margin: 0 auto 2em; float: none; text-align: center;
		@media(min-width:$tablet-height ) { width:92%; }

		.c3xgm-about-module-50.c3xgm-about-employee-container { 
			margin-top:0;
			
		}


		.c3xgm-about-blockquote {
			max-width: 82%;
			text-align: left; display: inline-block;
		  	padding: 0; margin: 0 auto;
		  	@media(min-width:$tablet-height ) { 
		  		margin:0; float: left;
		  		width:auto; max-width:none;
		  	}

		  	.c3xgm-about-gray { 
				margin-top: 0%; float: left;
		  		@media(min-width:400px) { margin-top: -2.272%; }
		  	}

		  	@media(min-width:$tablet-height ) { 
			  	.c3xgm-about-span-container {
			  		float: right; padding-right:1rem; padding-left:7px;
			  		> span { float: left; clear: left; }
		  		}
		  	}
		}

		.c3xgm-about-girl {background-image: url('../img/pages/people/girl.png');}
		.c3xgm-about-boy {background-image: url('../img/pages/people/boy.png');}

		.c3xgm-about-girl,
		.c3xgm-about-boy {
			// background-size: cover;
			background-size: 80%;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			width: 10.9%; 
			max-width: 46px;
			height: 0;
			padding-bottom: 33.2%;
			float: left;
			@media(min-width:522px ) { padding-bottom: 124px; }
		}

		.c3xgm-about-employees-img {
			height: 0;
			padding-bottom: 33.2%;
			position: relative;
			overflow: hidden;
			@media(min-width:522px ) { padding-bottom: 124px; }
		}



		.c3xgm-about-block-image {
			margin-top: 2.4%; 
			// width: 100%;
			width: 83%;
			max-width: 425px;
			
			margin-left:auto;
			margin-right:auto;

			img {  width: 88%;  max-width: 82%; }
		  	@media(min-width:$tablet-height ) { 
		  		float: left; width:48%;
		  		// margin-top: 0; 
		  		margin-top: 1%; 
		  		img { float:none; width:auto; max-width:none;}
		  	}
		}

		.number,
		.number > span { 
			line-height: 1em; 
			font-size: 128px; font-size: 24vw;
			@media(min-width:$tablet-height) { font-size: 64px; font-size: 14.36vw; line-height: 1.09em;  }
			@media(min-width:$inner-border) { font-size: 128px;  }
		}
		  
		.c3xgm-about-gray { 
			margin-left: 0;
			font-size: 20px; font-size: 6.5vw;
  			@media(min-width:$tablet-height ) {margin-left: 5px; font-size: 34px; }
  		}
	}


	.c3xgm-about-separator {
		position: relative;
		display: block; float:left;
		width: auto;
		margin: 5px 0; padding-right: .4em; padding-bottom: .65em;
		// border-right: 0.08em solid $gm-yellow;

		.c3xgm-about-yellow-line,
		.c3xgm-about-gray-line {
			position: absolute;
			right:0; top:0;
			width: 0.15rem;
			height: 100%;

			@include prefix( transform-origin, center top);

			@media(min-width: $tablet-height) {
				width:0.2rem;
			}
		}

		.c3xgm-about-yellow-line {
			background: $gm-gray;
		}

		.c3xgm-about-yellow-line {
			background: $gm-yellow;
		}

		.c3xgm-about-gray { line-height: .9em; }

		span { display:block; clear:left; }
		+ .number { 
			float: left; padding-left: .1em;
			font-size: 77px; font-size: 25.697113vw;  line-height: .8em;
			@media(min-width:$tablet-height ) { font-size: 41px; font-size: 13.697113vw; width: 114px; text-align: left; }
			@media(min-width:830px ) { width: 130px;}
			@media(min-width: $inner-border) { font-size: 124px; }
		}	
	}

	// TIMEZONES
	.c3xgm-about-timezones {
		@media(min-width:$tablet-height) { margin-bottom: 3.5em; }
		 .c3xgm-about-block-image {
			 padding-top: 2.5%;
			img { width:76.672%; max-width: 333px;}
		}
	}

	// CONTINETS
	.c3xgm-about-continents {
		 .c3xgm-about-block-image { 
		 	img { width:88.672%; max-width: 385px; }
		 }
		 
		 @media(min-width: $tablet-height) {
		 	.c3xgm-about-blockquote {margin-left: -15%; }
		 	.c3xgm-about-block-image img { float: left; }

		 }
		 
	}

	// LANGUAGES
	.c3xgm-about-languages {
		.c3xgm-about-blockquote { margin-bottom:0;}
		.c3xgm-about-block-image {  
			img {width:78.110599%; max-width: 339px;}
		}
	}
	.c3xgm-about-timezones,
	.c3xgm-about-continents,
	.c3xgm-about-languages {
		text-align: center;
		> p { display: inline-block;}
	}
	
	.c3xgm-about-headquarters,
	.c3xgm-about-timezones,
	.c3xgm-about-continents,
	.c3xgm-about-languages {
		@media(min-width: $tablet-height) { margin-left:0; }
	}

	// HEADQUARTERS
	.c3xgm-about-headquarters {
		text-align: center;
		.c3xgm-about-blockquote {
			display: inline-block;
			margin-top: 1.0625em;
			text-align: left;
			width: auto;
			@media(min-width: $tablet-height) { float: left; margin-left: 9px; }

			.c3xgm-about-gray { 
				// border-left:0.1em solid $gm-yellow; 
				padding-left: .35em; 

				&:before {
					content: ""; display: block;
					position: absolute;
					top:0; left:0;
					width:0.15rem; height: 100%;
					background-color:$gm-gray-line;
					@include prefix(transform-origin, top right);
					@include prefix(animation-fill-mode, both);
					@include prefix(animation-name, fadeIn);
					@include prefix(animation-delay,1800ms);
		  			@include prefix(animation-duration,600ms);
		  			@media(min-width: $tablet-height) { width:0.2rem;}
				}

				&:after {
					content: ""; display: block;
					position: absolute;
					top:0; left:0;
					width:0.15rem; height: 100%;
					background-color:$gm-yellow;
					@include prefix(transform-origin, top right);
					@include prefix(animation-fill-mode, both);
					@include prefix(animation-name, fadeIn);
					@include prefix(animation-delay,2400ms);
		  			@include prefix(animation-duration,600ms);
		  			@media(min-width: $tablet-height) { width:0.2rem;}
				}
			}
			span > span {
				color:$gm-light-blue; line-height: .86em;				
				font-size: 72px; font-size: 22.604232vw;
				@media(min-width: $tablet-height) {font-size: 34px; font-size: 10.604232vw;}
				@media(min-width:$inner-border) { font-size: 93px; }
			}
			> span:first-of-type {
				font-size:25.577px; font-size: 8vw;
				@media(min-width: $tablet-height) { font-size:12px; font-size: 3.75vw; }
				@media(min-width:$inner-border) { font-size:34px; }
			}
			> span:last-of-type {
				// font-size:19px; font-size: 6.01409815vw;
				font-size:27.5px; font-size: 8.71142095vw;
				@media(min-width: $tablet-height) { font-size:13px; font-size: 4.087vw; }
				@media(min-width:$inner-border) { font-size:37px; }
			}
		}
	}
}


.svg {
	.c3xgm-about-page-our-people {
		.c3xgm-about-block.c3xgm-about-employees {

			.c3xgm-about-girl {background-image: url('../img/pages/people/girl.svg');}
			.c3xgm-about-boy {background-image: url('../img/pages/people/boy.svg');}

		}
	}
}