/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 17, ../sass/ie.scss */
.lt-ie9 .c3xgm-about-page-our-people .c3xgm-about-block.c3xgm-about-clearfix.c3xgm-about-languages,
.lt-ie9 .c3xgm-about-page-our-people .c3xgm-about-block.c3xgm-about-clearfix.c3xgm-about-headquarters,
.lt-ie9 .c3xgm-about-page-our-people .c3xgm-about-block.c3xgm-about-clearfix.c3xgm-about-timezones,
.lt-ie9 .c3xgm-about-page-our-people .c3xgm-about-block.c3xgm-about-clearfix.c3xgm-about-continents {
  width: 49%;
  float: left;
}
/* line 26, ../sass/ie.scss */
.lt-ie9 .c3xgm-about-module-car .c3xgm-about-module-car-logo-container li {
  width: 49%;
  float: left;
}
/* line 30, ../sass/ie.scss */
.lt-ie9 .c3xgm-about-module-25 {
  width: 24%;
  float: left;
}
/* line 33, ../sass/ie.scss */
.lt-ie9 .c3xgm-about-module-75 {
  width: 74%;
  float: left;
}
