/* MOBILE CSS */
/*body {
	background: red;
}*/

/** {
	pointer-events: none !important;
}
*/

.c3xgm-about-mobile-visible {
	opacity: 1;
}

.c3xgm-about-mobile-device .c3xgm-about-decorative.c3xgm-about-solar-panels,
.c3xgm-about-mobile-device .c3xgm-about-section .c3xgm-about-section-header-inner {
	overflow-x:auto;
}

.c3xgm-about-mobile-device  .c3xgm-about-main-nav-sub {
	display: none;
}


.c3xgm-about-crash-test-dummies img { width:50%; }