/* line 224, ../sass/pages/_our-people.scss */
.c3xgm-about-page-our-people .c3xgm-about-marker-holder {
  position: absolute;
  width: 6%;
  position: absolute;
  left: 25%;
  top: 2%;
  z-index: 10;
  opacity: 0;
}
@media (min-width: 768px) {
  /* line 224, ../sass/pages/_our-people.scss */
  .c3xgm-about-page-our-people .c3xgm-about-marker-holder {
    left: 22%;
    top: auto;
  }
}
