/* line 224, ../sass/pages/_our-people.scss */
.c3xgm-about-page-our-people .c3xgm-about-marker-holder {
  position: absolute;
  width: 6%;
  position: absolute;
  left: 25%;
  top: 2%;
  z-index: 10;
  opacity: 0;
}
@media (min-width: 768px) {
  /* line 224, ../sass/pages/_our-people.scss */
  .c3xgm-about-page-our-people .c3xgm-about-marker-holder {
    left: 22%;
    top: auto;
  }
}




/* line 2, ../sass/components/_navigation.scss */
.c3xgm-about-main-nav-container {
  width: 31px;
  position: fixed;
  margin: auto;
  top: 40px;
  right: 4%;
  z-index: 2000;
  -webkit-transform: translate3d(0, 0, 2000);
  -moz-transform: translate3d(0, 0, 2000);
  -o-transform: translate3d(0, 0, 2000);
  -ms-transform: translate3d(0, 0, 2000);
  transform: translate3d(0, 0, 2000);
  pointer-events: none;
}
@media (min-width: 768px) {
  /* line 2, ../sass/components/_navigation.scss */
  .c3xgm-about-main-nav-container {
    width: 25px;
    top: 208px;
  }
}
@media (min-width: 906px) {
  /* line 2, ../sass/components/_navigation.scss */
  .c3xgm-about-main-nav-container {
    right: 0;
    left: 0;
    width: 96%;
    max-width: 906px;
  }
}
/* line 25, ../sass/components/_navigation.scss */
.c3xgm-about-main-nav-container .c3xgm-about-main-nav {
  float: right;
  text-align: center;
  position: relative;
  pointer-events: all;
}
/* line 31, ../sass/components/_navigation.scss */
.c3xgm-about-main-nav-container .c3xgm-about-main-nav li {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  float: left;
  clear: left;
}
/* line 37, ../sass/components/_navigation.scss */
.c3xgm-about-main-nav-container .c3xgm-about-main-nav li a {
  text-decoration: none;
}
/* line 42, ../sass/components/_navigation.scss */
.c3xgm-about-main-nav-container .c3xgm-about-main-nav li .c3xgm-about-nav-hover-title {
  text-transform: uppercase;
  display: block;
  padding: 10px 0;
  background: #ffffff;
  width: 10.25em;
  border: 2px solid #b4b8bc;
  color: #464B51;
  font-weight: 600;
  position: absolute;
  right: 130%;
  top: -8px;
  opacity: 0;
  z-index: 0;
  -webkit-transition: opacity 200ms;
  -moz-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  -ms-transition: opacity 200ms;
  transition: opacity 200ms;
}
/* line 59, ../sass/components/_navigation.scss */
.c3xgm-about-main-nav-container .c3xgm-about-main-nav li .c3xgm-about-nav-hover-title:after, .c3xgm-about-main-nav-container .c3xgm-about-main-nav li .c3xgm-about-nav-hover-title:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 70, ../sass/components/_navigation.scss */
.c3xgm-about-main-nav-container .c3xgm-about-main-nav li .c3xgm-about-nav-hover-title:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #ffffff;
  border-width: 8px;
  margin-top: -8px;
}
/* line 76, ../sass/components/_navigation.scss */
.c3xgm-about-main-nav-container .c3xgm-about-main-nav li .c3xgm-about-nav-hover-title:before {
  border-color: rgba(180, 184, 188, 0);
  border-left-color: #b4b8bc;
  border-width: 11px;
  margin-top: -11px;
}
/* line 84, ../sass/components/_navigation.scss */
.c3xgm-about-main-nav-container .c3xgm-about-main-nav li .c3xgm-about-nav-hover-sub-title {
  color: #124e9c;
}
/* line 89, ../sass/components/_navigation.scss */
.c3xgm-about-main-nav-container .c3xgm-about-main-nav li > a:hover + .c3xgm-about-nav-hover-title {
  opacity: 1;
  z-index: 1;
  -webkit-transition: opacity 50ms;
  -moz-transition: opacity 50ms;
  -o-transition: opacity 50ms;
  -ms-transition: opacity 50ms;
  transition: opacity 50ms;
}
/* line 96, ../sass/components/_navigation.scss */
.c3xgm-about-main-nav-container .c3xgm-about-main-nav .c3xgm-about-nav-bullet {
  display: block;
  background-color: #808285;
  width: 11px;
  height: 11px;
  margin: 10px;
}
@media (min-width: 768px) {
  /* line 96, ../sass/components/_navigation.scss */
  .c3xgm-about-main-nav-container .c3xgm-about-main-nav .c3xgm-about-nav-bullet {
    width: 9px;
    height: 9px;
    margin: 8px;
  }
}
/* line 107, ../sass/components/_navigation.scss */
.c3xgm-about-main-nav-container .c3xgm-about-main-nav .c3xgm-about-nav-bullet-active {
  background-color: #FDB12E;
}
/* line 110, ../sass/components/_navigation.scss */
.c3xgm-about-main-nav-container .c3xgm-about-main-nav .c3xgm-about-main-nav-sub {
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  -ms-transition: all 200ms;
  transition: all 200ms;
}
/* line 113, ../sass/components/_navigation.scss */
.c3xgm-about-main-nav-container .c3xgm-about-main-nav .c3xgm-about-main-nav-sub .c3xgm-about-nav-bullet {
  background-color: #555555;
}
/* line 114, ../sass/components/_navigation.scss */
.c3xgm-about-main-nav-container .c3xgm-about-main-nav .c3xgm-about-main-nav-sub .c3xgm-about-nav-bullet-active {
  background-color: #FDB12E;
}
/* line 116, ../sass/components/_navigation.scss */
.c3xgm-about-main-nav-container .c3xgm-about-main-nav .c3xgm-about-main-nav-sub li {
  position: relative;
}
/* line 117, ../sass/components/_navigation.scss */
.c3xgm-about-main-nav-container .c3xgm-about-main-nav .c3xgm-about-main-nav-sub li:after {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  bottom: -10px;
  background-color: #555555;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  z-index: -1;
}
@media (min-width: 768px) {
  /* line 117, ../sass/components/_navigation.scss */
  .c3xgm-about-main-nav-container .c3xgm-about-main-nav .c3xgm-about-main-nav-sub li:after {
    bottom: -8px;
    height: 17px;
  }
}
/* line 132, ../sass/components/_navigation.scss */
.c3xgm-about-main-nav-container .c3xgm-about-main-nav .c3xgm-about-main-nav-sub li:last-child:after {
  content: none;
  display: none;
}

/* line 137, ../sass/components/_navigation.scss */
.c3xgm-about-main-nav-sub {
  opacity: 0;
  position: absolute;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  -ms-transition: all 200ms;
  transition: all 200ms;
}

/* line 144, ../sass/components/_navigation.scss */
.c3xgm-about-nav-bullet-active ~ .c3xgm-about-main-nav-sub {
  opacity: 1;
}
/* line 148, ../sass/components/_navigation.scss */
.c3xgm-about-nav-bullet-active ~ .c3xgm-about-main-nav-sub .c3xgm-about-nav-hover-sub-title:hover {
  opacity: 1;
  -webkit-transition: opacity 50ms;
  -moz-transition: opacity 50ms;
  -o-transition: opacity 50ms;
  -ms-transition: opacity 50ms;
  transition: opacity 50ms;
}



/* TECHNOLOGY OUTTAKES */

/* line 4, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-subsection {
  margin-bottom: 3em;
}
/* line 6, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-module {
  text-align: center;
  width: 100%;
}
/* line 10, ../sass/modules/_tech.scss */
/*.c3xgm-about-module-technology .c3xgm-about-module:after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 32%;
}*/
/* line 19, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-module .c3xgm-about-blockquote-container {
  width: 94%;
  max-width: 46em;
  margin: 0 auto;
}
/* line 27, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-block-icon {
  position: relative;
  padding-bottom: 18%;
  height: 0;
}
/* line 32, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-block-icon img {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 38, ../sass/modules/_tech.scss */
/*.c3xgm-about-module-technology .c3xgm-about-block-image {
  width: 100%;
  max-width: 906px;
  margin: 0 auto;
  position: absolute;
  bottom: 28px;
  z-index: -1;
}
@media (min-width: 768px) {
  /* line 38, ../sass/modules/_tech.scss */
  .c3xgm-about-module-technology .c3xgm-about-block-image {
    margin: 0 auto;
    position: absolute;
    bottom: 28px;
  }
}*/
/* line 51, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-block-image .c3xgm-about-wheel {
  display: block;
}
/* line 52, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-block-image .c3xgm-about-tech-car {
  width: 70%;
}
/* line 55, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-blockquote {
  max-width: 92%;
  margin: 1em auto 1.5em;
  display: inline-block;
  text-align: left;
}
@media (min-width: 768px) {
  /* line 55, ../sass/modules/_tech.scss */
  .c3xgm-about-module-technology .c3xgm-about-blockquote {
    display: block;
    margin: 0;
  }
}
/* line 62, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-blockquote span {
  display: block;
  float: left;
  clear: left;
}
@media (min-width: 768px) {
  /* line 55, ../sass/modules/_tech.scss */
  .c3xgm-about-module-technology .c3xgm-about-blockquote {
    float: right;
  }
}
/* line 73, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-4g-lte .c3xgm-about-blockquote-container {
  max-width: 39em;
}
@media (min-width: 768px) {
  /* line 74, ../sass/modules/_tech.scss */
  .c3xgm-about-module-technology .c3xgm-about-4g-lte .c3xgm-about-block-icon {
    width: 35%;
    float: right;
    height: 0;
    padding-bottom: 128px;
  }
}
/* line 79, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-4g-lte .c3xgm-about-block-icon .c3xgm-about-tech-car {
  width: 65%;
  max-width: 157px;
}
@media (min-width: 768px) {
  /* line 79, ../sass/modules/_tech.scss */
  .c3xgm-about-module-technology .c3xgm-about-4g-lte .c3xgm-about-block-icon .c3xgm-about-tech-car {
    width: 80%;
    max-width: none;
  }
}
@media (min-width: 768px) {
  /* line 85, ../sass/modules/_tech.scss */
  .c3xgm-about-module-technology .c3xgm-about-4g-lte .c3xgm-about-block-image .c3xgm-about-tech-car {
    width: 70%;
  }
}
/* line 89, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-4g-lte .c3xgm-about-block-image .c3xgm-about-wheel {
  width: 9%;
  max-width: 76px;
  max-height: 75px;
  position: absolute;
  bottom: 19%;
}
/* line 95, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-4g-lte .c3xgm-about-block-image .c3xgm-about-wheel:first-child {
  left: 30%;
}
/* line 98, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-4g-lte .c3xgm-about-block-image .c3xgm-about-wheel:nth-child(3) {
  right: 26.4%;
  bottom: 19.6%;
}
@media (min-width: 768px) {
  /* line 106, ../sass/modules/_tech.scss */
  .c3xgm-about-module-technology .c3xgm-about-4g-lte .c3xgm-about-blockquote {
    width: 65%;
    float: right;
  }
}
/* line 110, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-4g-lte .c3xgm-about-dark-blue.c3xgm-about-thin,
.c3xgm-about-module-technology .c3xgm-about-4g-lte .c3xgm-about-light-blue {
  font-size: 27px;
  font-size: 8.5vw;
}
@media (min-width: 768px) {
  /* line 110, ../sass/modules/_tech.scss */
  .c3xgm-about-module-technology .c3xgm-about-4g-lte .c3xgm-about-dark-blue.c3xgm-about-thin,
  .c3xgm-about-module-technology .c3xgm-about-4g-lte .c3xgm-about-light-blue {
    font-size: 41.7931483782966px;
  }
}
/* line 116, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-4g-lte .c3xgm-about-gray {
  font-size: 12px;
  font-size: 3.961772vw;
  line-height: 1.075em;
}
@media (min-width: 768px) {
  /* line 116, ../sass/modules/_tech.scss */
  .c3xgm-about-module-technology .c3xgm-about-4g-lte .c3xgm-about-gray {
    font-size: 20px;
  }
}
/* line 122, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-4g-lte .c3xgm-about-light-blue {
  margin: .05em 0;
}
/* line 128, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-concept-car .c3xgm-about-blockquote-container {
  max-width: 43em;
}
/* line 130, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-concept-car .c3xgm-about-blockquote {
  width: auto;
}
@media (min-width: 768px) {
  /* line 130, ../sass/modules/_tech.scss */
  .c3xgm-about-module-technology .c3xgm-about-concept-car .c3xgm-about-blockquote {
    width: 75%;
    float: right;
  }
}
/* line 134, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-concept-car .c3xgm-about-block-icon {
  padding-bottom: 27%;
}
/* line 136, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-concept-car .c3xgm-about-block-icon img {
  width: 30%;
  max-width: 113px;
}
@media (min-width: 768px) {
  /* line 134, ../sass/modules/_tech.scss */
  .c3xgm-about-module-technology .c3xgm-about-concept-car .c3xgm-about-block-icon {
    width: 25%;
    height: 0;
    float: right;
    padding-bottom: 223px;
  }
  /* line 140, ../sass/modules/_tech.scss */
  .c3xgm-about-module-technology .c3xgm-about-concept-car .c3xgm-about-block-icon img {
    width: 75%;
    max-width: none;
  }
}
/* line 145, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-concept-car .c3xgm-about-block-image .c3xgm-about-wheel {
  width: 9%;
  max-width: 79px;
  max-height: 78px;
  position: absolute;
  bottom: 20.5%;
}
/* line 153, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-concept-car .c3xgm-about-block-image .c3xgm-about-wheel:first-child {
  bottom: 20.7%;
  left: 30.1%;
}
/* line 158, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-concept-car .c3xgm-about-block-image .c3xgm-about-wheel:nth-child(3) {
  right: 28.2%;
  bottom: 20.2%;
}
/* line 168, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-safety .c3xgm-about-block-icon {
  padding-bottom: 25%;
}
@media (min-width: 768px) {
  /* line 168, ../sass/modules/_tech.scss */
  .c3xgm-about-module-technology .c3xgm-about-safety .c3xgm-about-block-icon {
    width: 20%;
    height: 0;
    padding-bottom: 212px;
  }
}
/* line 175, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-safety .c3xgm-about-block-icon img {
  width: 40%;
}
@media (min-width: 768px) {
  /* line 175, ../sass/modules/_tech.scss */
  .c3xgm-about-module-technology .c3xgm-about-safety .c3xgm-about-block-icon img {
    width: 80%;
  }
}
@media (min-width: 768px) {
  /* line 182, ../sass/modules/_tech.scss */
  .c3xgm-about-module-technology .c3xgm-about-safety .c3xgm-about-blockquote {
    width: 80%;
  }
}
/* line 186, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-safety .c3xgm-about-light-blue {
  max-width: 6em;
}
@media (min-width: 768px) {
  /* line 186, ../sass/modules/_tech.scss */
  .c3xgm-about-module-technology .c3xgm-about-safety .c3xgm-about-light-blue {
    max-width: none;
  }
}
/* line 191, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-safety .c3xgm-about-gray.c3xgm-about-thin.c3xgm-about-small {
  font-size: 12px;
  font-size: 4vw;
}
@media (min-width: 768px) {
  /* line 191, ../sass/modules/_tech.scss */
  .c3xgm-about-module-technology .c3xgm-about-safety .c3xgm-about-gray.c3xgm-about-thin.c3xgm-about-small {
    font-size: 21px;
  }
}
/* line 198, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-safety .c3xgm-about-block-image .c3xgm-about-wheel {
  width: 9%;
  max-width: 76px;
  max-height: 75px;
  position: absolute;
  bottom: 19%;
}
/* line 204, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-safety .c3xgm-about-block-image .c3xgm-about-wheel:first-child {
  left: 30%;
}
/* line 207, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-safety .c3xgm-about-block-image .c3xgm-about-wheel:nth-child(3) {
  right: 26.4%;
  bottom: 19.6%;
}
/* line 219, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-safety .c3xgm-about-dark-blue.c3xgm-about-thin,
.c3xgm-about-module-technology .c3xgm-about-concept-car .c3xgm-about-dark-blue.c3xgm-about-thin {
  font-size: 17px;
  font-size: 5vw;
}
@media (min-width: 768px) {
  /* line 219, ../sass/modules/_tech.scss */
  .c3xgm-about-module-technology .c3xgm-about-safety .c3xgm-about-dark-blue.c3xgm-about-thin,
  .c3xgm-about-module-technology .c3xgm-about-concept-car .c3xgm-about-dark-blue.c3xgm-about-thin {
    font-size: 28px;
  }
}
/* line 223, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-safety .c3xgm-about-light-blue,
.c3xgm-about-module-technology .c3xgm-about-concept-car .c3xgm-about-light-blue {
  margin: .05em 0;
  font-size: 35px;
  font-size: 10.7vw;
  line-height: 0.9em;
}
@media (min-width: 768px) {
  /* line 223, ../sass/modules/_tech.scss */
  .c3xgm-about-module-technology .c3xgm-about-safety .c3xgm-about-light-blue,
  .c3xgm-about-module-technology .c3xgm-about-concept-car .c3xgm-about-light-blue {
    font-size: 60px;
  }
}
/* line 229, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-safety .c3xgm-about-gray,
.c3xgm-about-module-technology .c3xgm-about-concept-car .c3xgm-about-gray {
  font-size: 20px;
  font-size: 6vw;
  line-height: 1.075em;
}
@media (min-width: 768px) {
  /* line 229, ../sass/modules/_tech.scss */
  .c3xgm-about-module-technology .c3xgm-about-safety .c3xgm-about-gray,
  .c3xgm-about-module-technology .c3xgm-about-concept-car .c3xgm-about-gray {
    font-size: 35px;
  }
}
/* line 238, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-module-nav {
  text-align: center;
}
/* line 240, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-module-nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
/* line 241, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-module-nav .c3xgm-about-module-nav-bullet {
  display: block;
  background-color: #808285;
  width: 11px;
  height: 11px;
  margin: 10px;
}
@media (min-width: 768px) {
  /* line 241, ../sass/modules/_tech.scss */
  .c3xgm-about-module-technology .c3xgm-about-module-nav .c3xgm-about-module-nav-bullet {
    width: 9px;
    height: 9px;
    margin: 8px;
  }
}
/* line 252, ../sass/modules/_tech.scss */
.c3xgm-about-module-technology .c3xgm-about-module-nav .c3xgm-about-module-nav-bullet-active {
  background-color: #FDB12E;
}



/* TECH CLICKS */

/* line 2, ../sass/modules/_tech-module-click-animations.scss */
.c3xgm-about-module-technology {
  overflow: hidden;
}
/* line 10, ../sass/modules/_tech-module-click-animations.scss */
.c3xgm-about-module-technology .hide-module {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 100%;
  left: auto;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
/* line 23, ../sass/modules/_tech-module-click-animations.scss */
.c3xgm-about-module-technology .show-module-slide-in {
  visibility: visible;
  opacity: 1;
  z-index: 1000;
  right: 0;
  left: auto;
  top:0;
}
/* line 30, ../sass/modules/_tech-module-click-animations.scss */
.c3xgm-about-module-technology .show-module-slide-in .c3xgm-about-block-image {
  -webkit-transform: translate3d(0, 0, 1000);
  -moz-transform: translate3d(0, 0, 1000);
  -o-transform: translate3d(0, 0, 1000);
  -ms-transform: translate3d(0, 0, 1000);
  transform: translate3d(0, 0, 1000);
  -webkit-transition: all 600ms;
  -moz-transition: all 600ms;
  -o-transition: all 600ms;
  -ms-transition: all 600ms;
  transition: all 600ms;
  -webkit-animation: techSlideIn;
  -moz-animation: techSlideIn;
  -o-animation: techSlideIn;
  -ms-animation: techSlideIn;
  animation: techSlideIn;
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  -o-animation-duration: 900ms;
  -ms-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 38, ../sass/modules/_tech-module-click-animations.scss */
.c3xgm-about-module-technology .show-module-slide-in .c3xgm-about-block-image .c3xgm-about-wheel {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: spin;
  -moz-animation-name: spin;
  -o-animation-name: spin;
  -ms-animation-name: spin;
  animation-name: spin;
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  -ms-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-duration: 1200ms;
  -moz-animation-duration: 1200ms;
  -o-animation-duration: 1200ms;
  -ms-animation-duration: 1200ms;
  animation-duration: 1200ms;
}
/* line 46, ../sass/modules/_tech-module-click-animations.scss */
.c3xgm-about-module-technology .show-module-slide-in .c3xgm-about-h,
.c3xgm-about-module-technology .show-module-slide-in .c3xgm-about-block-icon {
  -webkit-animation-delay: 0ms;
  -moz-animation-delay: 0ms;
  -o-animation-delay: 0ms;
  -ms-animation-delay: 0ms;
  animation-delay: 0ms;
  -webkit-animation: fadeIn;
  -moz-animation: fadeIn;
  -o-animation: fadeIn;
  -ms-animation: fadeIn;
  animation: fadeIn;
  -webkit-animation-duration: 600ms;
  -moz-animation-duration: 600ms;
  -o-animation-duration: 600ms;
  -ms-animation-duration: 600ms;
  animation-duration: 600ms;
  -webkit-animation-delay: 900ms;
  -moz-animation-delay: 900ms;
  -o-animation-delay: 900ms;
  -ms-animation-delay: 900ms;
  animation-delay: 900ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 56, ../sass/modules/_tech-module-click-animations.scss */
.c3xgm-about-module-technology .show-module-slide-in .c3xgm-about-blockquote {
  overflow: hidden;
}
/* line 59, ../sass/modules/_tech-module-click-animations.scss */
.c3xgm-about-module-technology .show-module-slide-in .c3xgm-about-blockquote > span:first-child {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInRightMega;
  -moz-animation-name: fadeInRightMega;
  -o-animation-name: fadeInRightMega;
  -ms-animation-name: fadeInRightMega;
  animation-name: fadeInRightMega;
  -webkit-animation-delay: 900ms;
  -moz-animation-delay: 900ms;
  -o-animation-delay: 900ms;
  -ms-animation-delay: 900ms;
  animation-delay: 900ms;
  -webkit-animation-duration: 600ms;
  -moz-animation-duration: 600ms;
  -o-animation-duration: 600ms;
  -ms-animation-duration: 600ms;
  animation-duration: 600ms;
}
/* line 65, ../sass/modules/_tech-module-click-animations.scss */
.c3xgm-about-module-technology .show-module-slide-in .c3xgm-about-blockquote > span:nth-child(2) {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInRightMega;
  -moz-animation-name: fadeInRightMega;
  -o-animation-name: fadeInRightMega;
  -ms-animation-name: fadeInRightMega;
  animation-name: fadeInRightMega;
  -webkit-animation-delay: 1150ms;
  -moz-animation-delay: 1150ms;
  -o-animation-delay: 1150ms;
  -ms-animation-delay: 1150ms;
  animation-delay: 1150ms;
  -webkit-animation-duration: 600ms;
  -moz-animation-duration: 600ms;
  -o-animation-duration: 600ms;
  -ms-animation-duration: 600ms;
  animation-duration: 600ms;
}
/* line 71, ../sass/modules/_tech-module-click-animations.scss */
.c3xgm-about-module-technology .show-module-slide-in .c3xgm-about-blockquote > span:nth-child(3) {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-delay: 1400ms;
  -moz-animation-delay: 1400ms;
  -o-animation-delay: 1400ms;
  -ms-animation-delay: 1400ms;
  animation-delay: 1400ms;
  -webkit-animation-duration: 600ms;
  -moz-animation-duration: 600ms;
  -o-animation-duration: 600ms;
  -ms-animation-duration: 600ms;
  animation-duration: 600ms;
}
/* line 77, ../sass/modules/_tech-module-click-animations.scss */
.c3xgm-about-module-technology .show-module-slide-in .c3xgm-about-blockquote > span:nth-child(4) {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-delay: 1650ms;
  -moz-animation-delay: 1650ms;
  -o-animation-delay: 1650ms;
  -ms-animation-delay: 1650ms;
  animation-delay: 1650ms;
  -webkit-animation-duration: 600ms;
  -moz-animation-duration: 600ms;
  -o-animation-duration: 600ms;
  -ms-animation-duration: 600ms;
  animation-duration: 600ms;
}
/* line 88, ../sass/modules/_tech-module-click-animations.scss */
.c3xgm-about-module-technology .hide-module-slide-out .c3xgm-about-block-image {
  -webkit-animation: techSlideOut;
  -moz-animation: techSlideOut;
  -o-animation: techSlideOut;
  -ms-animation: techSlideOut;
  animation: techSlideOut;
  -webkit-animation-duration: 400ms;
  -moz-animation-duration: 400ms;
  -o-animation-duration: 400ms;
  -ms-animation-duration: 400ms;
  animation-duration: 400ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0ms;
  -moz-animation-delay: 0ms;
  -o-animation-delay: 0ms;
  -ms-animation-delay: 0ms;
  animation-delay: 0ms;
}
/* line 94, ../sass/modules/_tech-module-click-animations.scss */
.c3xgm-about-module-technology .hide-module-slide-out .c3xgm-about-block-image .c3xgm-about-wheel {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: spin;
  -moz-animation-name: spin;
  -o-animation-name: spin;
  -ms-animation-name: spin;
  animation-name: spin;
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  -ms-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-duration: 1200ms;
  -moz-animation-duration: 1200ms;
  -o-animation-duration: 1200ms;
  -ms-animation-duration: 1200ms;
  animation-duration: 1200ms;
}
/* line 102, ../sass/modules/_tech-module-click-animations.scss */
.c3xgm-about-module-technology .hide-module-slide-out .c3xgm-about-blockquote,
.c3xgm-about-module-technology .hide-module-slide-out .c3xgm-about-h,
.c3xgm-about-module-technology .hide-module-slide-out .c3xgm-about-block-icon {
  -webkit-animation-delay: 0ms;
  -moz-animation-delay: 0ms;
  -o-animation-delay: 0ms;
  -ms-animation-delay: 0ms;
  animation-delay: 0ms;
  -webkit-animation: fadeOut;
  -moz-animation: fadeOut;
  -o-animation: fadeOut;
  -ms-animation: fadeOut;
  animation: fadeOut;
  -webkit-animation-duration: 300ms;
  -moz-animation-duration: 300ms;
  -o-animation-duration: 300ms;
  -ms-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes techSlideOut {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
  15% {
    z-index: -1;
  }
  70% {
    opacity: 0;
  }
  99% {
    -webkit-transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 0;
    position: absolute;
    -webkit-transform: translate3d(-100%, 0, 0);
  }
}
@-moz-keyframes techSlideOut {
  0% {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0);
  }
  15% {
    z-index: -1;
  }
  70% {
    opacity: 0;
  }
  99% {
    -moz-transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 0;
    position: absolute;
    -moz-transform: translate3d(-100%, 0, 0);
  }
}
@-o-keyframes techSlideOut {
  0% {
    opacity: 1;
    -o-transform: translate3d(0, 0, 0);
  }
  15% {
    z-index: -1;
  }
  70% {
    opacity: 0;
  }
  99% {
    -o-transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 0;
    position: absolute;
    -o-transform: translate3d(-100%, 0, 0);
  }
}
@keyframes techSlideOut {
  0% {
    opacity: 1;
    -o-transform: translate3d(0, 0, 0);
  }
  15% {
    z-index: -1;
  }
  70% {
    opacity: 0;
  }
  99% {
    -o-transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 0;
    position: absolute;
    -o-transform: translate3d(-100%, 0, 0);
  }
}
@-webkit-keyframes techSlideIn {
  0% {
    opacity: 0;
    z-index: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes techSlideIn {
  0% {
    opacity: 0;
    z-index: 0;
    -moz-transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes techSlideIn {
  0% {
    opacity: 0;
    z-index: 0;
    -o-transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -o-transform: translate3d(0, 0, 0);
  }
}
@keyframes techSlideIn {
  0% {
    opacity: 0;
    z-index: 0;
    -o-transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -o-transform: translate3d(0, 0, 0);
  }
}
