/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/******************************************************************
Site Name: GM
Author: Jason Tordsen

Stylesheet: Sass Variables
******************************************************************/
/*----screen sizes----
----------------------*/
/******************************************************************
Site Name: GM
Author: Jason Tordsen

Stylesheet: Sass Functions
******************************************************************/
/******************************************************************
Site Name: GM
Author: Jason Tordsen

Stylesheet: Sass Mixins
******************************************************************/
/******************************************************************
Site Name: GM
Author: Jason Tordsen

Stylesheet: Helpers
******************************************************************/
/* line 8, ../sass/components/_helpers.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

/* line 15, ../sass/components/_helpers.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 22, ../sass/components/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 27, ../sass/components/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 38, ../sass/components/_helpers.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 48, ../sass/components/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 52, ../sass/components/_helpers.scss */
.c3xgm-about-clearfix:before,
.c3xgm-about-clearfix:after {
  content: " ";
  display: table;
}

/* line 58, ../sass/components/_helpers.scss */
.c3xgm-about-clearfix:after {
  clear: both;
}

/* line 62, ../sass/components/_helpers.scss */
.c3xgm-about-clearfix {
  *zoom: 1;
}

/* line 68, ../sass/components/_helpers.scss */
.bg-change {
  position: fixed;
  bottom: 80px;
  right: 80px;
  z-index: 100;
  width: 80px;
  height: 20px;
}

/*
TEMPLATE STYLES
TO BE DELETED AFTER DEVELOPMENT
*/
/* line 6, ../sass/components/_temp.scss */
.temp {
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* line 16, ../sass/components/_temp.scss */
.our-comp-temp {
  background-image: url("../templates/our-company.png");
  opacity: 0.5;
}

/* line 21, ../sass/components/_temp.scss */
.our-peop-temp {
  left: -110px;
  top: 950px;
  width: 905px;
  height: 982px;
  background-image: url("../templates/our-people.png");
  opacity: 0.5;
}

/* line 31, ../sass/components/_temp.scss */
.our-brands-temp {
  left: -95px;
  top: 427px;
  width: 1360px;
  height: 3836px;
  background-image: url("../templates/brands.png");
  opacity: 0.5;
}

/* line 42, ../sass/components/_temp.scss */
.our-commitment-temp {
  opacity: 0.5;
  left: -195px;
  top: 3800px;
  width: 1300px;
  height: 4046px;
  background-image: url("../templates/comm.png");
  opacity: 0.5;
  height: 0;
  padding-bottom: 217.409%;
}

/*------------------------------------------
----------- ELEMENT DEFAULTS ---------------
------------------------------------------*/
/* line 5, ../sass/components/_typography.scss */
body, html {
  margin: 0;
  padding: 0;
}

/* line 7, ../sass/components/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  letter-spacing: .01em;
  text-transform: uppercase;
}
/* line 10, ../sass/components/_typography.scss */
h1.c3xgm-about-h, h2.c3xgm-about-h, h3.c3xgm-about-h, h4.c3xgm-about-h, h5.c3xgm-about-h, h6.c3xgm-about-h {
  font-family: "open-sans-condensed", arial, sans-serif;
  color: #464B51;
  margin: 0;
  padding: 0;
}
/* line 14, ../sass/components/_typography.scss */
h1.c3xgm-about-h span.c3xgm-about-blue, h2.c3xgm-about-h span.c3xgm-about-blue, h3.c3xgm-about-h span.c3xgm-about-blue, h4.c3xgm-about-h span.c3xgm-about-blue, h5.c3xgm-about-h span.c3xgm-about-blue, h6.c3xgm-about-h span.c3xgm-about-blue {
  color: #5e85c4;
}
/* line 15, ../sass/components/_typography.scss */
h1.c3xgm-about-h span.c3xgm-about-yellow, h2.c3xgm-about-h span.c3xgm-about-yellow, h3.c3xgm-about-h span.c3xgm-about-yellow, h4.c3xgm-about-h span.c3xgm-about-yellow, h5.c3xgm-about-h span.c3xgm-about-yellow, h6.c3xgm-about-h span.c3xgm-about-yellow {
  color: #FDB12E;
}
/* line 16, ../sass/components/_typography.scss */
h1.c3xgm-about-h span.c3xgm-about-gray, h2.c3xgm-about-h span.c3xgm-about-gray, h3.c3xgm-about-h span.c3xgm-about-gray, h4.c3xgm-about-h span.c3xgm-about-gray, h5.c3xgm-about-h span.c3xgm-about-gray, h6.c3xgm-about-h span.c3xgm-about-gray {
  color: #808285;
}

/* line 20, ../sass/components/_typography.scss */
p.c3xgm-about-p {
  *zoom: 1;
  font-size: 14px;
  line-height: 1.613em;
  letter-spacing: 0.01em;
  font-family: "open-sans", arial, sans-serif;
  color: #464B51;
  max-width: 39em;
  margin: 9px 0 9px 0;
  padding: 0 2% 0 7px;
}
/* line 72, ../sass/components/_mixins.scss */
p.c3xgm-about-p:before, p.c3xgm-about-p:after {
  content: " ";
  display: table;
}
/* line 78, ../sass/components/_mixins.scss */
p.c3xgm-about-p:after {
  clear: both;
}
@media (min-width: 768px) {
  /* line 20, ../sass/components/_typography.scss */
  p.c3xgm-about-p {
    font-size: 18px;
  }
}
/* line 28, ../sass/components/_typography.scss */
p.c3xgm-about-p strong {
  font-weight: 700;
}

/* line 31, ../sass/components/_typography.scss */
p.c3xgm-about-p.c3xgm-about-blockquote {
  max-width: none;
}

/* line 33, ../sass/components/_typography.scss */
h1.c3xgm-about-h {
  font-size: 32px;
  font-size: 8.06vw;
  line-height: 1em;
}
@media (min-width: 905px) {
  /* line 33, ../sass/components/_typography.scss */
  h1.c3xgm-about-h {
    font-size: 73px;
    line-height: 70px;
  }
}

/* line 40, ../sass/components/_typography.scss */
h2.c3xgm-about-h {
  font-size: 18px;
  line-height: 1em;
  color: #124e9c;
}
@media (min-width: 768px) {
  /* line 40, ../sass/components/_typography.scss */
  h2.c3xgm-about-h {
    font-size: 52px;
    line-height: 74px;
  }
}

/* line 45, ../sass/components/_typography.scss */
h3.c3xgm-about-h {
  font-size: 18px;
  line-height: 1em;
  color: #808285;
  margin: 2px 0;
}
@media (min-width: 768px) {
  /* line 45, ../sass/components/_typography.scss */
  h3.c3xgm-about-h {
    font-size: 24px;
  }
}

/* line 52, ../sass/components/_typography.scss */
h4.c3xgm-about-h {
  font-size: 19px;
  line-height: 23px;
  color: #7E8184;
  margin: 4px 0;
}

/* line 59, ../sass/components/_typography.scss */
.c3xgm-about-thin,
.c3xgm-about-blockquote .c3xgm-about-thin span {
  font-weight: 200 !important;
}

/* line 62, ../sass/components/_typography.scss */
.c3xgm-about-block {
  font-family: "open-sans-condensed", arial, sans-serif;
}

/* line 64, ../sass/components/_typography.scss */
.c3xgm-about-blockquote {
  text-transform: uppercase;
  margin: 9px 0 9px 0;
  *zoom: 1;
}
/* line 72, ../sass/components/_mixins.scss */
.c3xgm-about-blockquote:before, .c3xgm-about-blockquote:after {
  content: " ";
  display: table;
}
/* line 78, ../sass/components/_mixins.scss */
.c3xgm-about-blockquote:after {
  clear: both;
}
/* line 68, ../sass/components/_typography.scss */
.c3xgm-about-blockquote span {
  display: block;
  font-weight: 600;
  font-family: "open-sans-condensed", arial, sans-serif;
  font-size: 4.528923vw;
  line-height: 1em;
}
@media (min-width: 768px) {
  /* line 68, ../sass/components/_typography.scss */
  .c3xgm-about-blockquote span {
    font-size: 41px;
  }
}

/* line 81, ../sass/components/_typography.scss */
.c3xgm-about-light-blue {
  color: #6086C4 !important;
}

/* line 84, ../sass/components/_typography.scss */
.c3xgm-about-blue {
  color: #5e85c4 !important;
}

/* line 87, ../sass/components/_typography.scss */
.c3xgm-about-dark-blue {
  color: #124e9c !important;
}

/* line 90, ../sass/components/_typography.scss */
.c3xgm-about-yellow {
  color: #FDB12E !important;
}

/* line 93, ../sass/components/_typography.scss */
.c3xgm-about-light-gray {
  color: #7E8184 !important;
}

/* line 96, ../sass/components/_typography.scss */
.c3xgm-about-gray {
  color: #808285 !important;
}

/* line 99, ../sass/components/_typography.scss */
.c3xgm-about-dark-gray {
  color: #555555 !important;
}

/* line 104, ../sass/components/_typography.scss */
.text-right,
.text-right .c3xgm-about-blockquote,
.c3xgm-about-text-right {
  text-align: right;
}

/* line 6, ../sass/components/_layout.scss */
.c3xgm-about-page-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-top: 35px;
}

/* line 16, ../sass/components/_layout.scss */
.c3xgm-about-page {
  width: 96%;
  max-width: 905px;
  margin: 0 auto;
  position: relative;
}

/* line 25, ../sass/components/_layout.scss */
.c3xgm-about-yellow-bar-left-wrapper {
  margin: 8px 0 8px 6px;
  padding-left: 6px;
  border-left: 0.2em solid #FDB12E;
}
@media (min-width: 768px) {
  /* line 25, ../sass/components/_layout.scss */
  .c3xgm-about-yellow-bar-left-wrapper {
    padding-left: 14px;
  }
}
/* line 29, ../sass/components/_layout.scss */
.c3xgm-about-yellow-bar-left-wrapper .c3xgm-about-h:first-child {
  margin-top: 0;
}

/* line 34, ../sass/components/_layout.scss */
.c3xgm-about-section {
  padding-top: 36px;
}
@media (min-width: 768px) {
  /* line 34, ../sass/components/_layout.scss */
  .c3xgm-about-section {
    padding-top: 73px;
  }
}
/* line 38, ../sass/components/_layout.scss */
.c3xgm-about-section .c3xgm-about-section-header-inner {
  text-align: left;
  width: 100%;
  max-width: 900px;
}
/* line 40, ../sass/components/_layout.scss */
.c3xgm-about-section hr {
  background: #808285;
  border: none;
  width: 86.25%;
  height: 1px;
  margin-top: 12px;
  margin-left: 4px;
  display: block;
  float: left;
  clear: left;
}
@media (min-width: 768px) {
  /* line 40, ../sass/components/_layout.scss */
  .c3xgm-about-section hr {
    height: 2px;
    margin-top: 18px;
  }
}

/* line 54, ../sass/components/_layout.scss */
img.c3xgm-about-section-icon {
  float: left;
  width: 10%;
  height: 10%;
  margin: -10px 6px 0 0;
  padding-left: 8px;
}
@media (min-width: 404px) {
  /* line 54, ../sass/components/_layout.scss */
  img.c3xgm-about-section-icon {
    width: 10%;
    height: 10%;
    margin: -1% 2.333333% 0 0;
    padding-left: .888888%;
  }
}
@media (min-width: 905px) {
  /* line 54, ../sass/components/_layout.scss */
  img.c3xgm-about-section-icon {
    width: 90px;
    height: 90px;
    margin: -10px 21px 0 0;
    padding-left: 8px;
  }
}

/* line 74, ../sass/components/_layout.scss */
.c3xgm-about-subsection {
  padding-left: 2px;
}

/* line 76, ../sass/components/_layout.scss */
.c3xgm-about-header-image,
.c3xgm-about-block-image {
  width: 100%;
  height: 100%;
}
/* line 79, ../sass/components/_layout.scss */
.c3xgm-about-header-image img,
.c3xgm-about-block-image img {
  width: 100%;
}

/* line 82, ../sass/components/_layout.scss */
.c3xgm-about-block {
  margin-bottom: 2em;
}

/* line 84, ../sass/components/_layout.scss */
.clear-left,
.c3xgm-clear-left {
  clear: left;
}

/* line 90, ../sass/components/_layout.scss */
.c3xgm-about-blockquote strong {
  font-weight: 700;
}

/* line 3, ../sass/components/pages/_our-company.scss */
.c3xgm-about-page-our-company .c3xgm-about-earn {
  margin-top: 0;
}
@media (min-width: 768px) {
  /* line 3, ../sass/components/pages/_our-company.scss */
  .c3xgm-about-page-our-company .c3xgm-about-earn {
    margin-top: 4px;
  }
}
/* line 7, ../sass/components/pages/_our-company.scss */
.c3xgm-about-page-our-company .c3xgm-about-earn .c3xgm-about-yellow-bar-left-wrapper {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  /* line 7, ../sass/components/pages/_our-company.scss */
  .c3xgm-about-page-our-company .c3xgm-about-earn .c3xgm-about-yellow-bar-left-wrapper {
    margin-bottom: 28px;
  }
}
/* line 12, ../sass/components/pages/_our-company.scss */
.c3xgm-about-page-our-company .c3xgm-about-earn .c3xgm-about-p strong {
  display: block;
}
/* line 14, ../sass/components/pages/_our-company.scss */
.c3xgm-about-page-our-company .c3xgm-about-earn .c3xgm-about-block-tagline,
.c3xgm-about-page-our-company .c3xgm-about-earn .c3xgm-about-block-title {
  color: #6086C4;
  font-size: 58px;
  font-size: 14.36vw;
  line-height: .9em;
  font-weight: 100;
  max-width: 4em;
  padding-left: 8px;
}
/* line 22, ../sass/components/pages/_our-company.scss */
.c3xgm-about-page-our-company .c3xgm-about-earn .c3xgm-about-block-tagline strong,
.c3xgm-about-page-our-company .c3xgm-about-earn .c3xgm-about-block-title strong {
  font-weight: 600;
}
@media (min-width: 768px) {
  /* line 14, ../sass/components/pages/_our-company.scss */
  .c3xgm-about-page-our-company .c3xgm-about-earn .c3xgm-about-block-tagline,
  .c3xgm-about-page-our-company .c3xgm-about-earn .c3xgm-about-block-title {
    font-size: 117px;
  }
}
/* line 30, ../sass/components/pages/_our-company.scss */
.c3xgm-about-page-our-company .our-company .c3xgm-about-header-p {
  margin: .4em 0 .4em 8px;
  color: #7E8184;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "open-sans-condensed", sans-serif;
  font-size: 18px;
  line-height: 1.15em;
  letter-spacing: .025em;
  padding: 0;
  clear: left;
  width: 89%;
}
@media (min-width: 768px) {
  /* line 30, ../sass/components/pages/_our-company.scss */
  .c3xgm-about-page-our-company .our-company .c3xgm-about-header-p {
    margin: 1em 0 1em 8px;
    font-size: 24px;
    line-height: 1.1em;
  }
}
/* line 46, ../sass/components/pages/_our-company.scss */
.c3xgm-about-page-our-company .our-company .c3xgm-about-header-image {
  margin: 2.5% auto 3.14% 6px;
  width: 89%;
}
@media (min-width: 408px) {
  /* line 46, ../sass/components/pages/_our-company.scss */
  .c3xgm-about-page-our-company .our-company .c3xgm-about-header-image {
    float: left;
    margin: 4.02% auto 3.14% 6px;
  }
}
@media (min-width: 768px) {
  /* line 46, ../sass/components/pages/_our-company.scss */
  .c3xgm-about-page-our-company .our-company .c3xgm-about-header-image {
    margin: 2em 0 1.6em;
  }
}

/* line 4, ../sass/components/pages/_our-people.scss */
.c3xgm-about-page-our-people > .c3xgm-about-section {
  margin-bottom: 0.6em;
}
/* line 6, ../sass/components/pages/_our-people.scss */
.c3xgm-about-page-our-people .c3xgm-about-block {
  width: 50%;
  float: left;
  margin-bottom: 1.75em;
}
/* line 9, ../sass/components/pages/_our-people.scss */
.c3xgm-about-page-our-people .c3xgm-about-block .c3xgm-about-block-image {
  position: relative;
}
/* line 12, ../sass/components/pages/_our-people.scss */
.c3xgm-about-page-our-people .c3xgm-about-block.c3xgm-about-employees {
  width: 100%;
  margin-bottom: 2em;
}
@media (min-width: 768px) {
  /* line 12, ../sass/components/pages/_our-people.scss */
  .c3xgm-about-page-our-people .c3xgm-about-block.c3xgm-about-employees {
    float: none;
  }
}
/* line 17, ../sass/components/pages/_our-people.scss */
.c3xgm-about-page-our-people .c3xgm-about-block.c3xgm-about-employees .c3xgm-about-blockquote {
  margin: 0;
  padding: 0;
  width: auto;
  max-width: 50%;
  float: left;
}
/* line 22, ../sass/components/pages/_our-people.scss */
.c3xgm-about-page-our-people .c3xgm-about-block.c3xgm-about-employees .c3xgm-about-blockquote .c3xgm-about-gray {
  margin-top: -2.272%;
  margin-left: -1px;
}
/* line 25, ../sass/components/pages/_our-people.scss */
.c3xgm-about-page-our-people .c3xgm-about-block.c3xgm-about-employees .c3xgm-about-block-image {
  width: 43.7%;
  float: left;
  margin-top: 2.4%;
  margin-left: 1.8%;
}
/* line 31, ../sass/components/pages/_our-people.scss */
.c3xgm-about-page-our-people .c3xgm-about-block.c3xgm-about-employees .number {
  line-height: 1.09em;
}
/* line 33, ../sass/components/pages/_our-people.scss */
.c3xgm-about-page-our-people .c3xgm-about-block.c3xgm-about-employees .c3xgm-about-gray {
  margin-left: 5px;
  font-size: 17px;
}
@media (min-width: 768px) {
  /* line 33, ../sass/components/pages/_our-people.scss */
  .c3xgm-about-page-our-people .c3xgm-about-block.c3xgm-about-employees .c3xgm-about-gray {
    font-size: 34px;
  }
}
/* line 40, ../sass/components/pages/_our-people.scss */
.c3xgm-about-page-our-people .number {
  font-size: 64px;
  font-size: 14.36vw;
}
@media (min-width: 905px) {
  /* line 40, ../sass/components/pages/_our-people.scss */
  .c3xgm-about-page-our-people .number {
    font-size: 128px;
  }
}
/* line 46, ../sass/components/pages/_our-people.scss */
.c3xgm-about-page-our-people .c3xgm-about-separator {
  display: block;
  float: left;
  width: auto;
  margin: 5px 0;
  padding-right: .4em;
  padding-bottom: .65em;
  border-right: 0.08em solid #FDB12E;
}
/* line 54, ../sass/components/pages/_our-people.scss */
.c3xgm-about-page-our-people .c3xgm-about-separator .c3xgm-about-gray {
  line-height: .9em;
}
/* line 56, ../sass/components/pages/_our-people.scss */
.c3xgm-about-page-our-people .c3xgm-about-separator span {
  display: block;
  clear: left;
}
/* line 57, ../sass/components/pages/_our-people.scss */
.c3xgm-about-page-our-people .c3xgm-about-separator + .number {
  float: left;
  padding-left: .1em;
  font-size: 41px;
  font-size: 13.697113vw;
  line-height: .8em;
}
@media (min-width: 905px) {
  /* line 57, ../sass/components/pages/_our-people.scss */
  .c3xgm-about-page-our-people .c3xgm-about-separator + .number {
    font-size: 124px;
  }
}
/* line 66, ../sass/components/pages/_our-people.scss */
.c3xgm-about-page-our-people .c3xgm-about-timezones .c3xgm-about-separator {
  width: 50.75%;
}
/* line 67, ../sass/components/pages/_our-people.scss */
.c3xgm-about-page-our-people .c3xgm-about-timezones .c3xgm-about-block-image {
  width: 76.672%;
  max-width: 333px;
  padding-top: 2.5%;
  padding-left: 6%;
}
/* line 74, ../sass/components/pages/_our-people.scss */
.c3xgm-about-page-our-people .c3xgm-about-continents .c3xgm-about-block-image {
  width: 88.672%;
  max-width: 385px;
}
/* line 81, ../sass/components/pages/_our-people.scss */
.c3xgm-about-page-our-people .c3xgm-about-languages .c3xgm-about-separator {
  width: 53%;
}
/* line 82, ../sass/components/pages/_our-people.scss */
.c3xgm-about-page-our-people .c3xgm-about-languages .c3xgm-about-blockquote {
  margin-bottom: 0;
}
/* line 83, ../sass/components/pages/_our-people.scss */
.c3xgm-about-page-our-people .c3xgm-about-languages .c3xgm-about-block-image {
  width: 78.110599%;
  max-width: 339px;
  padding-left: 1.7em;
}
/* line 88, ../sass/components/pages/_our-people.scss */
.c3xgm-about-page-our-people .c3xgm-about-headquarters .c3xgm-about-blockquote {
  margin-top: 1.0625em;
}
/* line 91, ../sass/components/pages/_our-people.scss */
.c3xgm-about-page-our-people .c3xgm-about-headquarters .c3xgm-about-blockquote .c3xgm-about-gray {
  border-left: 0.1em solid #FDB12E;
  padding-left: .35em;
}
/* line 93, ../sass/components/pages/_our-people.scss */
.c3xgm-about-page-our-people .c3xgm-about-headquarters .c3xgm-about-blockquote span > span {
  color: #6086C4;
  line-height: .86em;
  font-size: 34px;
  font-size: 10.604232vw;
}
@media (min-width: 905px) {
  /* line 93, ../sass/components/pages/_our-people.scss */
  .c3xgm-about-page-our-people .c3xgm-about-headquarters .c3xgm-about-blockquote span > span {
    font-size: 93px;
  }
}
/* line 98, ../sass/components/pages/_our-people.scss */
.c3xgm-about-page-our-people .c3xgm-about-headquarters .c3xgm-about-blockquote > span:first-of-type {
  font-size: 12px;
  font-size: 3.75vw;
}
@media (min-width: 905px) {
  /* line 98, ../sass/components/pages/_our-people.scss */
  .c3xgm-about-page-our-people .c3xgm-about-headquarters .c3xgm-about-blockquote > span:first-of-type {
    font-size: 34px;
  }
}
/* line 102, ../sass/components/pages/_our-people.scss */
.c3xgm-about-page-our-people .c3xgm-about-headquarters .c3xgm-about-blockquote > span:last-of-type {
  font-size: 13px;
  font-size: 4.087vw;
}
@media (min-width: 905px) {
  /* line 102, ../sass/components/pages/_our-people.scss */
  .c3xgm-about-page-our-people .c3xgm-about-headquarters .c3xgm-about-blockquote > span:last-of-type {
    font-size: 37px;
  }
}

/* line 2, ../sass/components/pages/_our-brands.scss */
.c3xgm-about-page-our-brands {
  max-width: 1175px;
}
/* line 5, ../sass/components/pages/_our-brands.scss */
.c3xgm-about-page-our-brands .c3xgm-about-section,
.c3xgm-about-page-our-brands .c3xgm-about-block {
  max-width: 905px;
  margin: 0 auto;
}
/* line 8, ../sass/components/pages/_our-brands.scss */
.c3xgm-about-page-our-brands .c3xgm-about-global,
.c3xgm-about-page-our-brands .c3xgm-about-seconds {
  margin-bottom: 8.8%;
}
/* line 12, ../sass/components/pages/_our-brands.scss */
.c3xgm-about-page-our-brands .c3xgm-about-global .c3xgm-about-blockquote,
.c3xgm-about-page-our-brands .c3xgm-about-seconds .c3xgm-about-blockquote {
  width: 75%;
}
/* line 14, ../sass/components/pages/_our-brands.scss */
.c3xgm-about-page-our-brands .c3xgm-about-global .c3xgm-about-blockquote span strong,
.c3xgm-about-page-our-brands .c3xgm-about-seconds .c3xgm-about-blockquote span strong {
  font-weight: 700;
}
/* line 16, ../sass/components/pages/_our-brands.scss */
.c3xgm-about-page-our-brands .c3xgm-about-global .c3xgm-about-blockquote .number,
.c3xgm-about-page-our-brands .c3xgm-about-seconds .c3xgm-about-blockquote .number {
  font-size: 28.7999992370605px;
  font-size: 9vw;
  line-height: .83em;
  margin-bottom: .05em;
}
@media (min-width: 1140px) {
  /* line 16, ../sass/components/pages/_our-brands.scss */
  .c3xgm-about-page-our-brands .c3xgm-about-global .c3xgm-about-blockquote .number,
  .c3xgm-about-page-our-brands .c3xgm-about-seconds .c3xgm-about-blockquote .number {
    font-size: 106px;
  }
}
/* line 21, ../sass/components/pages/_our-brands.scss */
.c3xgm-about-page-our-brands .c3xgm-about-global .c3xgm-about-blockquote .c3xgm-about-gray,
.c3xgm-about-page-our-brands .c3xgm-about-seconds .c3xgm-about-blockquote .c3xgm-about-gray {
  font-size: 14.3748378753662px;
  font-size: 4.4921369vw;
  line-height: 1em;
}
@media (min-width: 1140px) {
  /* line 21, ../sass/components/pages/_our-brands.scss */
  .c3xgm-about-page-our-brands .c3xgm-about-global .c3xgm-about-blockquote .c3xgm-about-gray,
  .c3xgm-about-page-our-brands .c3xgm-about-seconds .c3xgm-about-blockquote .c3xgm-about-gray {
    font-size: 53px;
  }
}
/* line 25, ../sass/components/pages/_our-brands.scss */
.c3xgm-about-page-our-brands .c3xgm-about-global .c3xgm-about-blockquote .c3xgm-about-dark-blue,
.c3xgm-about-page-our-brands .c3xgm-about-seconds .c3xgm-about-blockquote .c3xgm-about-dark-blue {
  font-size: 9.50943374633789px;
  font-size: 2.9716979vw;
  line-height: 1em;
}
@media (min-width: 1140px) {
  /* line 25, ../sass/components/pages/_our-brands.scss */
  .c3xgm-about-page-our-brands .c3xgm-about-global .c3xgm-about-blockquote .c3xgm-about-dark-blue,
  .c3xgm-about-page-our-brands .c3xgm-about-seconds .c3xgm-about-blockquote .c3xgm-about-dark-blue {
    font-size: 35px;
  }
}
/* line 31, ../sass/components/pages/_our-brands.scss */
.c3xgm-about-page-our-brands .c3xgm-about-global .c3xgm-about-block-image,
.c3xgm-about-page-our-brands .c3xgm-about-seconds .c3xgm-about-block-image {
  text-align: center;
  width: 25%;
  margin: 9px 0;
}
/* line 35, ../sass/components/pages/_our-brands.scss */
.c3xgm-about-page-our-brands .c3xgm-about-global .c3xgm-about-block-image img,
.c3xgm-about-page-our-brands .c3xgm-about-seconds .c3xgm-about-block-image img {
  max-width: 185px;
}
/* line 41, ../sass/components/pages/_our-brands.scss */
.c3xgm-about-page-our-brands .c3xgm-about-global {
  max-width: 940px;
}
/* line 43, ../sass/components/pages/_our-brands.scss */
.c3xgm-about-page-our-brands .c3xgm-about-global .c3xgm-about-blockquote {
  float: right;
  border-left: 3px solid #FDB12E;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 48, ../sass/components/pages/_our-brands.scss */
.c3xgm-about-page-our-brands .c3xgm-about-global .c3xgm-about-blockquote span {
  padding-left: 6%;
}
/* line 51, ../sass/components/pages/_our-brands.scss */
.c3xgm-about-page-our-brands .c3xgm-about-global .c3xgm-about-block-image {
  width: 25%;
}
/* line 53, ../sass/components/pages/_our-brands.scss */
.c3xgm-about-page-our-brands .c3xgm-about-global .c3xgm-about-block-image img {
  padding-top: 6%;
  max-width: 120px;
}
/* line 62, ../sass/components/pages/_our-brands.scss */
.c3xgm-about-page-our-brands .c3xgm-about-seconds {
  max-width: 1200px;
}
/* line 64, ../sass/components/pages/_our-brands.scss */
.c3xgm-about-page-our-brands .c3xgm-about-seconds .c3xgm-about-blockquote {
  float: left;
  border-right: 3px solid #FDB12E;
  padding-right: 1.6%;
  margin-top: 3em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 70, ../sass/components/pages/_our-brands.scss */
.c3xgm-about-page-our-brands .c3xgm-about-seconds .c3xgm-about-block-image {
  float: left;
}
/* line 72, ../sass/components/pages/_our-brands.scss */
.c3xgm-about-page-our-brands .c3xgm-about-seconds .c3xgm-about-block-image img {
  max-width: 119px;
}
/* line 81, ../sass/components/pages/_our-brands.scss */
.c3xgm-about-page-our-brands .c3xgm-about-dealers .c3xgm-about-blockquote .c3xgm-about-dark-blue {
  font-size: 14.8459243774414px;
  font-size: 4.6393515vw;
}
@media (min-width: 905px) {
  /* line 81, ../sass/components/pages/_our-brands.scss */
  .c3xgm-about-page-our-brands .c3xgm-about-dealers .c3xgm-about-blockquote .c3xgm-about-dark-blue {
    font-size: 42px;
  }
}
/* line 85, ../sass/components/pages/_our-brands.scss */
.c3xgm-about-page-our-brands .c3xgm-about-dealers .c3xgm-about-blockquote .c3xgm-about-dark-blue span {
  font-size: 19.4410915374756px;
  font-size: 6.07534125vw;
}
@media (min-width: 905px) {
  /* line 85, ../sass/components/pages/_our-brands.scss */
  .c3xgm-about-page-our-brands .c3xgm-about-dealers .c3xgm-about-blockquote .c3xgm-about-dark-blue span {
    font-size: 55px;
  }
}
/* line 91, ../sass/components/pages/_our-brands.scss */
.c3xgm-about-page-our-brands .c3xgm-about-dealers .c3xgm-about-blockquote .number {
  font-size: 29.6918487548828px;
  font-size: 9.278703vw;
}
@media (min-width: 905px) {
  /* line 91, ../sass/components/pages/_our-brands.scss */
  .c3xgm-about-page-our-brands .c3xgm-about-dealers .c3xgm-about-blockquote .number {
    font-size: 84px;
  }
}
/* line 96, ../sass/components/pages/_our-brands.scss */
.c3xgm-about-page-our-brands .c3xgm-about-dealers .c3xgm-about-blockquote .c3xgm-about-gray {
  font-size: 8.83685970306397px;
  font-size: 2.76151875vw;
}
@media (min-width: 905px) {
  /* line 96, ../sass/components/pages/_our-brands.scss */
  .c3xgm-about-page-our-brands .c3xgm-about-dealers .c3xgm-about-blockquote .c3xgm-about-gray {
    font-size: 25px;
  }
}
/* line 105, ../sass/components/pages/_our-brands.scss */
.c3xgm-about-page-our-brands .c3xgm-about-china {
  position: relative;
}
/* line 107, ../sass/components/pages/_our-brands.scss */
.c3xgm-about-page-our-brands .c3xgm-about-china .c3xgm-about-block-image {
  width: 25%;
  max-width: 224px;
  float: left;
}
/* line 112, ../sass/components/pages/_our-brands.scss */
.c3xgm-about-page-our-brands .c3xgm-about-china .c3xgm-about-blockquote {
  width: 75%;
  position: absolute;
  top: 38%;
  left: 6%;
}
/* line 117, ../sass/components/pages/_our-brands.scss */
.c3xgm-about-page-our-brands .c3xgm-about-china .c3xgm-about-blockquote .c3xgm-about-dark-blue.c3xgm-about-thin {
  font-size: 5.30211591720581px;
  font-size: 1.6569112499999998vw;
}
@media (min-width: 905px) {
  /* line 117, ../sass/components/pages/_our-brands.scss */
  .c3xgm-about-page-our-brands .c3xgm-about-china .c3xgm-about-blockquote .c3xgm-about-dark-blue.c3xgm-about-thin {
    font-size: 15px;
  }
}
/* line 122, ../sass/components/pages/_our-brands.scss */
.c3xgm-about-page-our-brands .c3xgm-about-china .c3xgm-about-blockquote .c3xgm-about-dark-blue.c3xgm-about-thin.c3xgm-about-big {
  font-size: 11.3111810684204px;
  font-size: 3.534744vw;
}
@media (min-width: 905px) {
  /* line 122, ../sass/components/pages/_our-brands.scss */
  .c3xgm-about-page-our-brands .c3xgm-about-china .c3xgm-about-blockquote .c3xgm-about-dark-blue.c3xgm-about-thin.c3xgm-about-big {
    font-size: 32px;
  }
}
/* line 127, ../sass/components/pages/_our-brands.scss */
.c3xgm-about-page-our-brands .c3xgm-about-china .c3xgm-about-blockquote .c3xgm-about-light-blue {
  font-size: 30.3987979888916px;
  font-size: 9.4996245vw;
}
@media (min-width: 905px) {
  /* line 127, ../sass/components/pages/_our-brands.scss */
  .c3xgm-about-page-our-brands .c3xgm-about-china .c3xgm-about-blockquote .c3xgm-about-light-blue {
    font-size: 86px;
  }
}
/* line 132, ../sass/components/pages/_our-brands.scss */
.c3xgm-about-page-our-brands .c3xgm-about-china .c3xgm-about-blockquote .c3xgm-about-gray {
  font-size: 14.4924507141113px;
  font-size: 4.5288907499999995vw;
}
@media (min-width: 905px) {
  /* line 132, ../sass/components/pages/_our-brands.scss */
  .c3xgm-about-page-our-brands .c3xgm-about-china .c3xgm-about-blockquote .c3xgm-about-gray {
    font-size: 41px;
  }
}
/* line 146, ../sass/components/pages/_our-brands.scss */
.c3xgm-about-page-our-brands .c3xgm-about-cadillac .c3xgm-about-blockquote .c3xgm-about-dark-blue.c3xgm-about-thin,
.c3xgm-about-page-our-brands .c3xgm-about-chevrolet .c3xgm-about-blockquote .c3xgm-about-dark-blue.c3xgm-about-thin {
  font-size: 19.0876178741455px;
  font-size: 5.9648805vw;
}
@media (min-width: 905px) {
  /* line 146, ../sass/components/pages/_our-brands.scss */
  .c3xgm-about-page-our-brands .c3xgm-about-cadillac .c3xgm-about-blockquote .c3xgm-about-dark-blue.c3xgm-about-thin,
  .c3xgm-about-page-our-brands .c3xgm-about-chevrolet .c3xgm-about-blockquote .c3xgm-about-dark-blue.c3xgm-about-thin {
    font-size: 54px;
  }
}
/* line 150, ../sass/components/pages/_our-brands.scss */
.c3xgm-about-page-our-brands .c3xgm-about-cadillac .c3xgm-about-blockquote .c3xgm-about-gray,
.c3xgm-about-page-our-brands .c3xgm-about-chevrolet .c3xgm-about-blockquote .c3xgm-about-gray {
  font-size: 9.89728355407715px;
  font-size: 3.092901vw;
}
@media (min-width: 905px) {
  /* line 150, ../sass/components/pages/_our-brands.scss */
  .c3xgm-about-page-our-brands .c3xgm-about-cadillac .c3xgm-about-blockquote .c3xgm-about-gray,
  .c3xgm-about-page-our-brands .c3xgm-about-chevrolet .c3xgm-about-blockquote .c3xgm-about-gray {
    font-size: 28px;
  }
}
/* line 154, ../sass/components/pages/_our-brands.scss */
.c3xgm-about-page-our-brands .c3xgm-about-cadillac .c3xgm-about-blockquote .c3xgm-about-thin,
.c3xgm-about-page-our-brands .c3xgm-about-chevrolet .c3xgm-about-blockquote .c3xgm-about-thin {
  font-size: 6.36253929138184px;
  font-size: 1.9882935vw;
}
@media (min-width: 905px) {
  /* line 154, ../sass/components/pages/_our-brands.scss */
  .c3xgm-about-page-our-brands .c3xgm-about-cadillac .c3xgm-about-blockquote .c3xgm-about-thin,
  .c3xgm-about-page-our-brands .c3xgm-about-chevrolet .c3xgm-about-blockquote .c3xgm-about-thin {
    font-size: 18px;
  }
}

/* line 6, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-crash-test-dummies .c3xgm-about-block-image {
  float: left;
  width: 30%;
  max-width: 218px;
  padding-top: 1em;
}
/* line 12, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-crash-test-dummies .c3xgm-about-blockquote {
  float: right;
  width: 70%;
}
/* line 14, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-crash-test-dummies .c3xgm-about-blockquote .c3xgm-about-dark-blue.c3xgm-about-thin {
  font-size: 12.9088582992554px;
  font-size: 4.03401830544375vw;
  line-height: 4.83914462004375vw;
}
@media (min-width: 905px) {
  /* line 14, ../sass/components/pages/_our-commitment.scss */
  .c3xgm-about-page-our-commitment .c3xgm-about-crash-test-dummies .c3xgm-about-blockquote .c3xgm-about-dark-blue.c3xgm-about-thin {
    font-size: 36.5199px;
    line-height: 43.808725px;
  }
}
/* line 19, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-crash-test-dummies .c3xgm-about-blockquote .c3xgm-about-light-blue {
  font-size: 28.7430095672607px;
  font-size: 8.982190447256249vw;
  line-height: 8.386732443749999vw;
  margin-bottom: .2em;
}
@media (min-width: 905px) {
  /* line 19, ../sass/components/pages/_our-commitment.scss */
  .c3xgm-about-page-our-commitment .c3xgm-about-crash-test-dummies .c3xgm-about-blockquote .c3xgm-about-light-blue {
    font-size: 81.315675px;
    line-height: 75.925px;
  }
}
/* line 26, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-crash-test-dummies .c3xgm-about-blockquote .c3xgm-about-light-gray.c3xgm-about-thin .c3xgm-about-light-blue {
  font-size: 14.4925537109375px;
  font-size: 3.522427626375vw;
  line-height: 1.2em;
}
@media (min-width: 905px) {
  /* line 26, ../sass/components/pages/_our-commitment.scss */
  .c3xgm-about-page-our-commitment .c3xgm-about-crash-test-dummies .c3xgm-about-blockquote .c3xgm-about-light-gray.c3xgm-about-thin .c3xgm-about-light-blue {
    font-size: 31.8885px;
  }
}
/* line 37, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-test-facility .c3xgm-about-blockquote {
  width: 50%;
}
/* line 40, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-test-facility .c3xgm-about-blockquote .c3xgm-about-dark-blue.c3xgm-about-thin {
  font-size: 12.9088582992554px;
  font-size: 4.03401830544375vw;
  line-height: 4.83914462004375vw;
}
@media (min-width: 905px) {
  /* line 40, ../sass/components/pages/_our-commitment.scss */
  .c3xgm-about-page-our-commitment .c3xgm-about-test-facility .c3xgm-about-blockquote .c3xgm-about-dark-blue.c3xgm-about-thin {
    font-size: 36.5199px;
    line-height: 43.808725px;
  }
}
/* line 45, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-test-facility .c3xgm-about-blockquote .c3xgm-about-gray {
  font-size: 11.2717685699463px;
  font-size: 3.522427626375vw;
  line-height: 5.03203946625vw;
}
@media (min-width: 905px) {
  /* line 45, ../sass/components/pages/_our-commitment.scss */
  .c3xgm-about-page-our-commitment .c3xgm-about-test-facility .c3xgm-about-blockquote .c3xgm-about-gray {
    font-size: 31.8885px;
    line-height: 45.555px;
  }
}
/* line 50, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-test-facility .c3xgm-about-blockquote .c3xgm-about-light-blue {
  font-size: 24.1537895202637px;
  font-size: 7.5480591993749995vw;
  line-height: 1em;
}
@media (min-width: 905px) {
  /* line 50, ../sass/components/pages/_our-commitment.scss */
  .c3xgm-about-page-our-commitment .c3xgm-about-test-facility .c3xgm-about-blockquote .c3xgm-about-light-blue {
    font-size: 68.3325px;
  }
}
/* line 55, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-test-facility .c3xgm-about-blockquote .c3xgm-about-yellow-bar-left-wrapper {
  border-width: .2rem;
}
/* line 63, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-safety-score .c3xgm-about-blockquote .c3xgm-about-light-blue.number {
  width: 39.1%;
  float: left;
  font-size: 124.826782226563px;
  font-size: 39.008369942369995vw;
  line-height: 0.8em;
}
@media (min-width: 905px) {
  /* line 63, ../sass/components/pages/_our-commitment.scss */
  .c3xgm-about-page-our-commitment .c3xgm-about-safety-score .c3xgm-about-blockquote .c3xgm-about-light-blue.number {
    font-size: 353.14236px;
  }
}
/* line 69, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-safety-score .c3xgm-about-blockquote .c3xgm-about-dark-blue.c3xgm-about-thin {
  font-size: 13.1503963470459px;
  font-size: 4.1094988974375vw;
}
@media (min-width: 905px) {
  /* line 69, ../sass/components/pages/_our-commitment.scss */
  .c3xgm-about-page-our-commitment .c3xgm-about-safety-score .c3xgm-about-blockquote .c3xgm-about-dark-blue.c3xgm-about-thin {
    font-size: 37.20325px;
  }
}
/* line 75, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-safety-score .c3xgm-about-blockquote .c3xgm-about-light-blue {
  font-size: 17.3799934387207px;
  font-size: 5.4312479305725vw;
}
@media (min-width: 905px) {
  /* line 75, ../sass/components/pages/_our-commitment.scss */
  .c3xgm-about-page-our-commitment .c3xgm-about-safety-score .c3xgm-about-blockquote .c3xgm-about-light-blue {
    font-size: 49.16903px;
  }
}
/* line 80, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-safety-score .c3xgm-about-blockquote .c3xgm-about-light-gray.c3xgm-about-thin {
  font-size: 8.06199836730957px;
  font-size: 2.5193744261024995vw;
}
@media (min-width: 905px) {
  /* line 80, ../sass/components/pages/_our-commitment.scss */
  .c3xgm-about-page-our-commitment .c3xgm-about-safety-score .c3xgm-about-blockquote .c3xgm-about-light-gray.c3xgm-about-thin {
    font-size: 22.807869999999998px;
  }
}
/* line 90, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-onstar-subscribers .c3xgm-about-block-image {
  width: 29%;
  max-width: 172px;
}
/* line 94, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-onstar-subscribers .c3xgm-about-blockquote {
  float: right;
  width: 71%;
}
/* line 97, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-onstar-subscribers .c3xgm-about-blockquote .c3xgm-about-dark-blue.c3xgm-about-thin.c3xgm-about-small {
  font-size: 12.9088582992554px;
  font-size: 4.03401830544375vw;
}
@media (min-width: 905px) {
  /* line 97, ../sass/components/pages/_our-commitment.scss */
  .c3xgm-about-page-our-commitment .c3xgm-about-onstar-subscribers .c3xgm-about-blockquote .c3xgm-about-dark-blue.c3xgm-about-thin.c3xgm-about-small {
    font-size: 36.519925px;
  }
}
/* line 102, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-onstar-subscribers .c3xgm-about-blockquote .c3xgm-about-light-blue.number {
  width: 22%;
  float: left;
  font-size: 91.193977355957px;
  font-size: 28.4981168438625vw;
}
@media (min-width: 905px) {
  /* line 102, ../sass/components/pages/_our-commitment.scss */
  .c3xgm-about-page-our-commitment .c3xgm-about-onstar-subscribers .c3xgm-about-blockquote .c3xgm-about-light-blue.number {
    font-size: 257.99315px;
  }
}
/* line 108, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-onstar-subscribers .c3xgm-about-blockquote .c3xgm-about-light-blue {
  font-size: 28.8503589630127px;
  font-size: 9.015737377031249vw;
}
@media (min-width: 905px) {
  /* line 108, ../sass/components/pages/_our-commitment.scss */
  .c3xgm-about-page-our-commitment .c3xgm-about-onstar-subscribers .c3xgm-about-blockquote .c3xgm-about-light-blue {
    font-size: 81.61937499999999px;
  }
}
/* line 113, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-onstar-subscribers .c3xgm-about-blockquote .c3xgm-about-dark-blue.c3xgm-about-thin {
  font-size: 24.0410709381104px;
  font-size: 7.51283492311125vw;
}
@media (min-width: 905px) {
  /* line 113, ../sass/components/pages/_our-commitment.scss */
  .c3xgm-about-page-our-commitment .c3xgm-about-onstar-subscribers .c3xgm-about-blockquote .c3xgm-about-dark-blue.c3xgm-about-thin {
    font-size: 68.013615px;
  }
}
/* line 118, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-onstar-subscribers .c3xgm-about-blockquote .c3xgm-about-gray {
  font-size: 19.1995792388916px;
  font-size: 5.99986839025875vw;
}
@media (min-width: 905px) {
  /* line 118, ../sass/components/pages/_our-commitment.scss */
  .c3xgm-about-page-our-commitment .c3xgm-about-onstar-subscribers .c3xgm-about-blockquote .c3xgm-about-gray {
    font-size: 54.316745000000004px;
  }
}
/* line 128, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-quality-awards .c3xgm-about-block-image {
  text-align: center;
  width: 35%;
  float: right;
}
/* line 132, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-quality-awards .c3xgm-about-block-image img {
  max-width: 147px;
}
/* line 136, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-quality-awards .c3xgm-about-blockquote {
  width: 65%;
  float: left;
}
/* line 140, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-quality-awards .c3xgm-about-blockquote .c3xgm-about-dark-blue.c3xgm-about-thin {
  font-size: 12.9088582992554px;
  font-size: 4.03401830544375vw;
}
@media (min-width: 905px) {
  /* line 140, ../sass/components/pages/_our-commitment.scss */
  .c3xgm-about-page-our-commitment .c3xgm-about-quality-awards .c3xgm-about-blockquote .c3xgm-about-dark-blue.c3xgm-about-thin {
    font-size: 36.519925px;
  }
}
/* line 145, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-quality-awards .c3xgm-about-blockquote .c3xgm-about-light-blue.c3xgm-about-thin {
  font-size: 23.0641860961914px;
  font-size: 7.207557862158749vw;
}
@media (min-width: 905px) {
  /* line 145, ../sass/components/pages/_our-commitment.scss */
  .c3xgm-about-page-our-commitment .c3xgm-about-quality-awards .c3xgm-about-blockquote .c3xgm-about-light-blue.c3xgm-about-thin {
    font-size: 65.249945px;
  }
}
/* line 150, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-quality-awards .c3xgm-about-blockquote .c3xgm-about-gray.c3xgm-about-thin {
  font-size: 11.2717685699463px;
  font-size: 3.522427626375vw;
}
@media (min-width: 905px) {
  /* line 150, ../sass/components/pages/_our-commitment.scss */
  .c3xgm-about-page-our-commitment .c3xgm-about-quality-awards .c3xgm-about-blockquote .c3xgm-about-gray.c3xgm-about-thin {
    font-size: 31.8885px;
  }
}
/* line 160, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-disclaimer .c3xgm-about-blockquote .c3xgm-about-gray.c3xgm-about-disclaimer {
  font-weight: normal;
  text-transform: none;
  font-size: 14px;
  font-size: 2.0128157865vw;
  line-height: 1.613em;
  margin: 2em auto;
}
@media (min-width: 905px) {
  /* line 160, ../sass/components/pages/_our-commitment.scss */
  .c3xgm-about-page-our-commitment .c3xgm-about-disclaimer .c3xgm-about-blockquote .c3xgm-about-gray.c3xgm-about-disclaimer {
    font-size: 18.222px;
  }
}
/* line 167, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-disclaimer .c3xgm-about-blockquote .c3xgm-about-gray.c3xgm-about-disclaimer-small {
  font-size: 10px;
  line-height: 1.613em;
  font-weight: normal;
  text-transform: none;
}
@media (min-width: 905px) {
  /* line 167, ../sass/components/pages/_our-commitment.scss */
  .c3xgm-about-page-our-commitment .c3xgm-about-disclaimer .c3xgm-about-blockquote .c3xgm-about-gray.c3xgm-about-disclaimer-small {
    font-size: 10.6295px;
  }
}
/* line 172, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-disclaimer .c3xgm-about-blockquote .c3xgm-about-gray.c3xgm-about-disclaimer-small strong {
  font-size: 18px;
  color: #6086C4;
}
@media (min-width: 905px) {
  /* line 172, ../sass/components/pages/_our-commitment.scss */
  .c3xgm-about-page-our-commitment .c3xgm-about-disclaimer .c3xgm-about-blockquote .c3xgm-about-gray.c3xgm-about-disclaimer-small strong {
    font-size: 21.259px;
  }
}
/* line 185, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-clean-energy .c3xgm-about-blockquote .c3xgm-about-dark-blue.c3xgm-about-thin {
  font-size: 16.2957572937012px;
  font-size: 5.092423939844999vw;
}
@media (min-width: 905px) {
  /* line 185, ../sass/components/pages/_our-commitment.scss */
  .c3xgm-about-page-our-commitment .c3xgm-about-clean-energy .c3xgm-about-blockquote .c3xgm-about-dark-blue.c3xgm-about-thin {
    font-size: 46.101659999999995px;
  }
}
/* line 190, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-clean-energy .c3xgm-about-blockquote .c3xgm-about-light-blue {
  font-size: 27.7822246551514px;
  font-size: 8.68194542577vw;
}
@media (min-width: 905px) {
  /* line 190, ../sass/components/pages/_our-commitment.scss */
  .c3xgm-about-page-our-commitment .c3xgm-about-clean-energy .c3xgm-about-blockquote .c3xgm-about-light-blue {
    font-size: 78.59756px;
  }
}
/* line 195, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-clean-energy .c3xgm-about-blockquote .c3xgm-about-gray {
  font-size: 12.6458501815796px;
  font-size: 3.9518283274949995vw;
}
@media (min-width: 905px) {
  /* line 195, ../sass/components/pages/_our-commitment.scss */
  .c3xgm-about-page-our-commitment .c3xgm-about-clean-energy .c3xgm-about-blockquote .c3xgm-about-gray {
    font-size: 35.775859999999994px;
  }
}
/* line 204, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-epa-energy-star .c3xgm-about-block-image {
  width: 25%;
  max-width: 160px;
  float: right;
}
/* line 206, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-epa-energy-star .c3xgm-about-blockquote {
  width: 75%;
  float: left;
}
/* line 208, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-epa-energy-star .c3xgm-about-blockquote .c3xgm-about-dark-blue.c3xgm-about-thin {
  font-size: 11.9427070617676px;
  font-size: 3.7320959374687vw;
}
@media (min-width: 905px) {
  /* line 208, ../sass/components/pages/_our-commitment.scss */
  .c3xgm-about-page-our-commitment .c3xgm-about-epa-energy-star .c3xgm-about-blockquote .c3xgm-about-dark-blue.c3xgm-about-thin {
    font-size: 33.786625px;
  }
}
/* line 213, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-epa-energy-star .c3xgm-about-blockquote .c3xgm-about-light-blue {
  font-size: 23.7082862854004px;
  font-size: 7.408839440808751vw;
}
@media (min-width: 905px) {
  /* line 213, ../sass/components/pages/_our-commitment.scss */
  .c3xgm-about-page-our-commitment .c3xgm-about-epa-energy-star .c3xgm-about-blockquote .c3xgm-about-light-blue {
    font-size: 67.072145px;
  }
}
/* line 218, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-epa-energy-star .c3xgm-about-blockquote .c3xgm-about-gray {
  font-size: 34.9255px;
  font-size: 3.857896924125vw;
}
@media (min-width: 905px) {
  /* line 218, ../sass/components/pages/_our-commitment.scss */
  .c3xgm-about-page-our-commitment .c3xgm-about-epa-energy-star .c3xgm-about-blockquote .c3xgm-about-gray {
    font-size: 34.9255px;
  }
}
/* line 227, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-climate-declaration .c3xgm-about-block-image {
  width: 25%;
  max-width: 121px;
}
/* line 229, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-climate-declaration .c3xgm-about-blockquote {
  width: 75%;
  float: right;
}
/* line 231, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-climate-declaration .c3xgm-about-blockquote .c3xgm-about-dark-blue.c3xgm-about-thin {
  font-size: 10.514949798584px;
  font-size: 3.28592177146125vw;
}
@media (min-width: 905px) {
  /* line 231, ../sass/components/pages/_our-commitment.scss */
  .c3xgm-about-page-our-commitment .c3xgm-about-climate-declaration .c3xgm-about-blockquote .c3xgm-about-dark-blue.c3xgm-about-thin {
    font-size: 29.747415px;
  }
}
/* line 236, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-climate-declaration .c3xgm-about-blockquote .c3xgm-about-light-blue {
  font-size: 22.0121536254883px;
  font-size: 6.878797950363749vw;
}
@media (min-width: 905px) {
  /* line 236, ../sass/components/pages/_our-commitment.scss */
  .c3xgm-about-page-our-commitment .c3xgm-about-climate-declaration .c3xgm-about-blockquote .c3xgm-about-light-blue {
    font-size: 62.27368499999999px;
  }
}
/* line 241, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-climate-declaration .c3xgm-about-blockquote .c3xgm-about-gray.c3xgm-about-thin {
  font-size: 12.9356956481934px;
  font-size: 4.0424050378875vw;
}
@media (min-width: 905px) {
  /* line 241, ../sass/components/pages/_our-commitment.scss */
  .c3xgm-about-page-our-commitment .c3xgm-about-climate-declaration .c3xgm-about-blockquote .c3xgm-about-gray.c3xgm-about-thin {
    font-size: 36.59585px;
  }
}
/* line 250, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-landfill-free .c3xgm-about-block-image {
  width: 25%;
  max-width: 112px;
  float: right;
}
/* line 252, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-landfill-free .c3xgm-about-blockquote {
  width: 75%;
  float: left;
}
/* line 254, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-landfill-free .c3xgm-about-blockquote .c3xgm-about-dark-blue.c3xgm-about-thin {
  font-size: 26.3007926940918px;
  font-size: 8.218997794875vw;
}
@media (min-width: 905px) {
  /* line 254, ../sass/components/pages/_our-commitment.scss */
  .c3xgm-about-page-our-commitment .c3xgm-about-landfill-free .c3xgm-about-blockquote .c3xgm-about-dark-blue.c3xgm-about-thin {
    font-size: 74.4065px;
  }
}
/* line 259, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-landfill-free .c3xgm-about-blockquote .c3xgm-about-light-blue {
  font-size: 19.3230323791504px;
  font-size: 6.038447359499999vw;
}
@media (min-width: 905px) {
  /* line 259, ../sass/components/pages/_our-commitment.scss */
  .c3xgm-about-page-our-commitment .c3xgm-about-landfill-free .c3xgm-about-blockquote .c3xgm-about-light-blue {
    font-size: 54.666px;
  }
}
/* line 264, ../sass/components/pages/_our-commitment.scss */
.c3xgm-about-page-our-commitment .c3xgm-about-landfill-free .c3xgm-about-blockquote .c3xgm-about-gray {
  font-size: 12.3452701568604px;
  font-size: 3.857896924125vw;
}
@media (min-width: 905px) {
  /* line 264, ../sass/components/pages/_our-commitment.scss */
  .c3xgm-about-page-our-commitment .c3xgm-about-landfill-free .c3xgm-about-blockquote .c3xgm-about-gray {
    font-size: 34.9255px;
  }
}
