.people-animate {
	  -webkit-animation: wenFadeIn 1s  forwards;
	  -moz-animation: wenFadeIn 1s linear forwards;
	  -ms-animation: wenFadeIn 1s linear forwards;	
}

#c3xgm-about-employees-img div {
	/*margin-top: 80px;*/
	opacity: 0;
}

@-webkit-keyframes wenFadeIn {
	from {
		margin-top: 80px;
		opacity: 0;
	}

	to {
		margin-top: 0px;
		opacity: 1;
	}
}

@-moz-keyframes wenFadeIn {
	from {
		margin-top: 80px;
		opacity: 0;
	}

	to {
		margin-top: 0px;
		opacity: 1;
	}
}

@-o-keyframes wenFadeIn {
	from {
		margin-top: 80px;
		opacity: 0;
	}

	to {
		margin-top: 0px;
		opacity: 1;
	}
}

@keyframes wenFadeIn {
	from {
		margin-top: 80px;
		opacity: 0;
	}

	to {
		margin-top: 0px;
		opacity: 1;
	}
}

