.people-animate {
	  -webkit-animation: fadeIn 1s  forwards;
	  -moz-animation: fadeIn 1s linear forwards;
	  -ms-animation: fadeIn 1s linear forwards;	
}

#c3xgm-about-employees-img div {
	margin-top: 80px;
	opacity: 0;
}

@-webkit-keyframes fadeIn {
	from {
		margin-top: 80px;
		opacity: 0;
	}

	to {
		margin-top: 0px;
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	from {
		margin-top: 80px;
		opacity: 0;
	}

	to {
		margin-top: 0px;
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	from {
		margin-top: 80px;
		opacity: 0;
	}

	to {
		margin-top: 0px;
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		margin-top: 80px;
		opacity: 0;
	}

	to {
		margin-top: 0px;
		opacity: 1;
	}
}

