// CLOCK
// .element-in-view {
    #clock { 
        position: relative;
        margin: 0 auto;
        width: 33.3333334%; max-width: none; height: 0;
        padding-bottom: 33.3333334%;

        background-image: url('../img/decorative/clock/clock-face.png');
        @include prefix(background-size, cover);
        background-position: 50% 50%; background-repeat: no-repeat;

        @include prefix(border-radius, 50%);

        @media(min-width: $tablet-height) {
            width: 80%; padding-bottom: 80%;
        }
    } 

    .svg #clock { background-image: url('../img/decorative/clock/clock-face.svg'); }

    #clock:after { 
        content: '';
        width:100%; height: 0;
        position: absolute; 
        bottom:-5.83333334%; left: 0;
        z-index: -1; 

        @include prefix(border-radius, 50%);
    } 

    #clock:before { 
        content: ''; 
        position: absolute; 
        left: 50%; top: 50%; 
        z-index: 2; 
        width:6.6666667%;
        height: 0; padding-bottom: 6.6666667%;
        background: #000; 
        margin: -3.3333334% 0 0 -3.3333334%; 

        @include prefix(border-radius, 50%);
    } 

    /* Hands */ 

    #clock span.hand.second {  
        width:1.6666667%; min-width:1px;
        height: 0; padding-bottom: 41.6666667%; 
        margin-left: 0.83333334%; 
        top: 8.3333334%;
        background-color:#ED1C24;
        z-index: 10;
    } 

    #clock span.hand { 
        background: #000; 
        position: absolute; 
        left: 50%;
        @include prefix(transform-origin, left bottom);
        @include prefix(animation, rotate 15s infinite linear);
    } 

    #clock span.hand.minute { 
        height:0; padding-bottom:33.3333334%;
        width: 3.333333%; min-width: 1px;    
        margin-left: -1.6666667%; 
        top:16.6666667%;
        @include prefix(animation-duration, 900s);
    } 

    #clock span.hand.hour { 
        width:5%; min-width: 2px;
        height:0; padding-bottom: 25%; 
        margin-left:-2.5%;
        top:25%; 
        @include prefix(animation-duration, 21150s);
    } 
// }