// CAR LINE
@-webkit-keyframes moveFlagLine {
    0%   { -webkit-transform: translate3d(0,0,0); }    
    100% { -webkit-transform: translate3d(-50%,0,0); }
}
@-moz-keyframes moveFlagLine {
    0%   { -moz-transform: translate3d(0,0,0); }    
    100% { -moz-transform: translate3d(-50%,0,0); }
}


.c3xgm-about-flag-line-container {
    position: relative;
    width: 100%;
    overflow-x:hidden;
    margin-bottom:10em;
    @include prefix(transform, translate3d(0,0,0)); 

    @media(min-width:$inner-border) { height: 335px; margin-bottom:7em; }

    .c3xgm-about-grey-white-gradient {
        width: 100%;
        padding-bottom: 5%; margin-top: -4%;
        z-index: 10;

        @media(min-width: $tablet-height) {  margin-top:-38px;  padding-bottom: 37px;}
    }
}

#flag-line-container {
    width: 480%;
    z-index: -1; 
    position: relative;
    
    @media(min-width: $tablet-height) { width: 300%; }

    > ul { 
        width:200%; max-width: 5500px;
        position: relative;    

        .flag-line {
            width: 50%;
            float: left;
            // @include prefix(transform, translate3d(0,0,0));
            
            > img {
                width:100%;
                display: block;
                margin:0 auto; padding:0;
            }
        }
    }
}

// SEPARATING ANIMATION INTO ITS OWN CLASS
.animate-flag-line {
    @include prefix(animation, moveFlagLine 32s linear infinite);    
}