// GREY-CAR and WHEELS
.animate-tires {
    @include prefix(animation, rotate 2s infinite linear both) ;
}

.animate-tires-fast {
    @include prefix(animation, rotate 1s infinite linear both);
}

.grey-car {
    background-image:url('../img/decorative/cars/grey-side.png');
    background-size: 100%;
    background-position: 50% 50%; background-repeat:no-repeat;
    height:0; width: 45.692%;
    padding-bottom: 14.1%; 
    position:absolute;
    bottom:10px; right:0; left:0;

    margin: auto;
    
    @include prefix(transform, translate3d(0,0,0));
    @include prefix(transition, left 0.05s ease-out);

    @media(min-width: $tablet-height) {
        width:350px; padding-bottom:108px;
        margin:0;
        // left:-75%; 
        // right:0;
    }

    .wheel {
        background-image:url('../img/decorative/cars/wheel.png');
        @include prefix(background-size, cover);
        background-position: 50% 50%; background-repeat:no-repeat;
        width: 13.142857%; padding-bottom: 13.142857%;
        position: absolute;
        bottom: 2%;
        
        @media(min-width: $tablet-height) { 
            width: 46px; padding-bottom: 46px;
            bottom: 3px; 
        }
    }

    .front-wheel { 
          right: 10.285714%;
          @media(min-width: $tablet-height) { right:36px; }
    }
    .back-wheel { 
          left: 16%;
        @media(min-width: $tablet-height) { left: 56px; }
    }
}