// GREY-CAR and WHEELS

@-webkit-keyframes rotateTires {
    0%   { -webkit-transform: rotate(0); }    
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotateTires {
    0%   { -moz-transform: rotate(0); }    
    100% { -moz-transform: rotate(360deg); }
}

.animate-tires {
    @include prefix(animation, rotateTires 2s linear infinite);    
}


.grey-car {
    background-image:url('../img/decorative/cars/grey-car.png');
    @include prefix(background-size, cover); 
    background-position: 50% 50%; background-repeat:no-repeat;
    height:0;
    // max-width: 467px;
    width:66.747%; 
    padding-bottom:23.1428%;

    // position: absolute;
    // left: 0; right: 0; bottom:0;
    margin: auto;
    position: relative;
    margin-top: -22%;
    
    @include prefix(transform, translate3d(0,0,0));
    @include prefix(transition, left 0.05s ease-out);

    @media(min-width: $tablet-height) {
         // bottom: -15%;
         width:33.37%; max-width: 467px;
     padding-bottom:21.5714%;
     margin-top: -17%;
    }

    @media(min-width:1330px) {  
        max-width: 450px;
        padding-bottom: 289px;
    }

    .wheel {
        background-image:url('../img/decorative/cars/wheel.png');
        @include prefix(background-size, cover);
        background-position: 50% 50%; background-repeat:no-repeat;
        width:9.933775%; padding-bottom: 9.602649%;
        bottom:11.5%;
        position: absolute;
        
        @media(min-width: $tablet-height) {
            width:9.933775%; padding-bottom: 9.602649%;
            bottom:26.5%;    
        }
    }

    .front-wheel { 
          right: 22%;
        @media(min-width: $tablet-height) {right: 18.5%; }
    }
    .back-wheel { 
          left: 25.5%;
        @media(min-width: $tablet-height) {left: 22.5%; }
    }
}