// GREY-CAR and WHEELS

@-webkit-keyframes rotateTires {
    0%   { -webkit-transform: rotate(0); }    
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotateTires {
    0%   { -moz-transform: rotate(0); }    
    100% { -moz-transform: rotate(360deg); }
}

.animate-tires {
    @include prefix(animation, rotateTires 2s linear infinite);    
}

.grey-car {
    background-image:url('../img/decorative/cars/grey-car.png');
    @include prefix(background-size, cover); 
    background-position: 50% 50%; background-repeat:no-repeat;
    height:0;
    width:66.747%; 
    padding-bottom:23.1428%;
    margin: auto;
    position: relative;
    margin-top: -22%;
    
    @include prefix(transform, translate3d(0,0,0));
    @include prefix(transition, left 0.05s ease-out);

    @media(min-width: $tablet-height) {
        margin-top: -18%;
          width: 56%; max-width: none;
          padding-bottom: 16.5714%;
    }

    @media(min-width: $inner-border) {  
        width:505px;
        padding-bottom:150px;
        margin-top: -163px;
    }

    .wheel {
        background-image:url('../img/decorative/cars/wheel.png');
        @include prefix(background-size, cover);
        background-position: 50% 50%; background-repeat:no-repeat;
        width:9.933775%; padding-bottom: 9.602649%;
        bottom:11.5%;
        position: absolute;
        
        @media(min-width: $tablet-height) {
            width:9.933775%; padding-bottom: 9.602649%;
            bottom:4.5%;    
        }
    }

    .front-wheel { 
          right: 21.9%;
    }
    .back-wheel { 
          // left: 25.5%;
          left: 25.6%;
        // @media(min-width: $tablet-height) { left: 25.6%; }
    }
}