// WEN ICON ANIMATIONS
/*GUY ANIMATION*/
.out_circle {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

#person {
  @include prefix( transform, translateY(100px) );
}

.grey_circle {
  @include prefix(transform, scale(0,0) );
  @include prefix(transform-origin, center center);

  @include prefix(animation, wenScaleUp 0.7s 0.5s linear forwards);
}

.shadow {
  @include prefix(transform, scale(0,0) );
  @include prefix( transform-origin, left center);
}
/*END OF GUY ANIMATION*/

/*OUR BRANDS CAR ANIMATION*/
#brand_car {
  @include prefix( transform, translateX(-100px) );
}

#brand_car_shadow {
  @include prefix(transform, scale(0,0) );
  @include prefix( transform-origin, left top);
}

/*OUR COMMITMENT CAR ANIMATION*/

#inner_car {
  @include prefix(transform, scale(0,0) );
  @include prefix(transform-origin, 57px 40px);
  -webkit-transform-origin: center center;
}

#dark_grey {
  @include prefix(transform, scale(0,0) );
  @include prefix(transform-origin, 57px 100px);
  -webkit-transform-origin: center bottom;
}

#road {
  @include prefix(transform, scale(0,0) );
  @include prefix(transform-origin, 57px 100px);
  -webkit-transform-origin: center bottom;
}

#road_lines {
  @include prefix(transform, scale(0,0) );
  @include prefix(transform-origin, 57px 100px);
  -webkit-transform-origin: center bottom;
}

/*OUR COMPANY ANIMATION*/
#lighter_yellow {
  @include prefix(transform, translateY(100px) );
}

#darker_yellow {
  @include prefix( transform, translateY(100px) );
}

#white_band {
  @include prefix( transform, scale(0, 1) );
  @include prefix( transform-origin, 32px 0px);
}


// WEN ROTATE
@-webkit-keyframes wenRotate {
  0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);
  }

  50% {
  	-webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
  	-webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes wenRotate {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes wenRotate {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes wenRotate {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


// LINE ROTATE
@-webkit-keyframes wenLineRotate {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes wenLineRotate {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); }
}

@-o-keyframes wenLineRotate {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); }
}

@keyframes wenLineRotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// LINE FADE IN
@-webkit-keyframes wenLineFadeIn {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes wenLineFadeIn {
  0% { opacity: 0;}
  50% { opacity: 0;}
  100% { opacity: 1;}
}

@-o-keyframes wenLineFadeIn {
  0% { opacity: 0;}
  50% { opacity: 0;}
  100% { opacity: 1;}
}

@keyframes wenLineFadeIn {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}


/*start of icons animation*/
@-webkit-keyframes dash {
  0% { stroke-dashoffset: 1000; }
  100% { stroke-dashoffset: 0; }
}

@-moz-keyframes dash {
  0% { stroke-dashoffset: 1000; }
  100% { stroke-dashoffset: 0; }
}

@-o-keyframes dash {
  0% { stroke-dashoffset: 1000; }
  100% { stroke-dashoffset: 0; }
}

@keyframes dash {
  0% { stroke-dashoffset: 1000; }
  100% { stroke-dashoffset: 0; }
}



/*PERSON SLIDE IN*/
@-webkit-keyframes personSlideIn {
  0% { -webkit-transform: translateY(100px); }
  100% { -webkit-transform: translateY(0); }
}

@-moz-keyframes personSlideIn {
  0% { -moz-transform: translateY(100px); }
  100% { -moz-transform: translateY(0); }
}

@-o-keyframes personSlideIn {
  0% { -o-transform: translateY(100px); }
  100% { -o-transform: translateY(0); }
}

@keyframes personSlideIn {
  0% { transform: translateY(100px); }
  100% { transform: translateY(0);}
}


/*wen SCALEUP*/
@-webkit-keyframes wenScaleUp {
  0% { -webkit-transform: scale(0,0); }
  100% { -webkit-transform: scale(1,1); }
}

@-moz-keyframes wenScaleUp {
  0% { -moz-transform: scale(0,0); }
  100% { -moz-transform: scale(1,1); }
}

@-o-keyframes wenScaleUp {
  0% { -o-transform: scale(0,0); }
  100% { -o-transform: scale(1,1); }
}

@keyframes wenScaleUp {
  0% { transform: scale(0,0); }
  100% { transform: scale(1,1); }
}

// WHITE BAND SCALE3
@-webkit-keyframes whiteBandScale {
  0% {-webkit-transform: scale(0,1); }
  100% { -webkit-transform: scale(1,1); }
}

@-moz-keyframes whiteBandScale {
  0% { -moz-transform: scale(0,1); }
  100% { -moz-transform: scale(1,1); }
}

@-o-keyframes whiteBandScale {
  0% { -o-transform: scale(0,1); }
  100% { -o-transform: scale(1,1); }
}

@keyframes whiteBandScale {
  0% { transform: scale(0,1); }
  100% { transform: scale(1,1); }
}

/*Brand car slide in 0% left*/
@-webkit-keyframes wenSlideRight {
  0% { -webkit-transform: translateX(-100px); }
  100% { -webkit-transform: translateX(0); }
}

@-moz-keyframes wenSlideRight {
  0% { -moz-transform: translateX(-100px); }
  100% { -moz-transform: translateX(0); }
}

@-o-keyframes wenSlideRight {
  0% { -o-transform: translateX(-100px); }
  100% { -o-transform: translateX(0); }
}

@keyframes wenSlideRight {
  0% { transform: translateX(-100px); }
  100% { transform: translateX(0); }
}
/*end of icons animation*/