// ANIMATE TEXT
#c3xgm-about-our-company.c3xgm-about-page.c3xgm-about-page-in-view,
#c3xgm-about-our-people.c3xgm-about-page.c3xgm-about-page-in-view,
#c3xgm-about-our-brands.c3xgm-about-page.c3xgm-about-page-in-view {

	.c3xgm-about-section-header { 

		.c3xgm-about-section-icon { 
			@include prefix(animation-fill-mode, both);
			@include prefix(animation-name, fadeIn);
			@include prefix(animation-delay, 800ms);
			@include prefix(animation-duration, 800ms);
		}

		h1.c3xgm-about-h {
			@include prefix(animation-fill-mode, both);
			@include prefix(animation-name, fadeInRightMega);
			@include prefix(animation-delay, 400ms);
			@include prefix(animation-duration, 800ms);
		 }

		hr { 
			@include prefix(animation-fill-mode, both);
			@include prefix(animation-name, growHr);
			@include prefix(animation-delay, 800ms);
			@include prefix(animation-duration, 800ms);
		}
	}


	.c3xgm-about-header-p { 
		@include prefix(animation-fill-mode, both);
		@include prefix(animation-name, fadeIn);
		@include prefix(animation-delay, 1400ms);
		@include prefix(animation-duration, 800ms);
	}

	.c3xgm-about-block-earn {

		.c3xgm-about-yellow-bar-left-wrapper { 
			overflow: hidden;
			position: relative;
			border-left:none;

			.c3xgm-about-block-tagline { 

				&:before {
					content: ""; display: block;
					position: absolute;
					top:8px; left:0; bottom:0;
					margin: auto;
					width:0.15rem; height: 94%;
					background-color:$gm-gray-line;
					@include prefix(transform-origin, top right);
					@include prefix(animation-fill-mode, both);
					@include prefix(animation-name, growBorder);
					@include prefix(animation-delay,1800ms);
		  			@include prefix(animation-duration,600ms);
		  			@media(min-width: $tablet-height) { width:0.2rem;}
				}

				&:after {
					content: ""; display: block;
					position: absolute;
					top:8px; left:0; bottom:0;
					margin: auto;
					width:0.15rem; height: 94%;
					background-color:$gm-yellow;
					@include prefix(transform-origin, top right);
					@include prefix(animation-fill-mode, both);
					@include prefix(animation-name, growBorder);
					@include prefix(animation-delay,2400ms);
		  			@include prefix(animation-duration,600ms);
		  			@media(min-width: $tablet-height) { width:0.2rem;}
				}
			
				> span:first-child { 
					@include prefix(animation-fill-mode, both);
					@include prefix(animation-name, fadeInLeftMega);
					@include prefix(animation-delay, 2800ms);
					@include prefix(animation-duration, 600ms);
				}

				> span:nth-child(2) {
					@include prefix(animation-fill-mode, both);
					@include prefix(animation-name, fadeInLeftMega);
					@include prefix(animation-delay, 3400ms);
					@include prefix(animation-duration, 500ms);
				}
			}
		}

		.c3xgm-about-p { 
			@include prefix(animation-fill-mode, both);
			@include prefix(animation-name, fadeIn);
			@include prefix(animation-delay, 4000ms);
			@include prefix(animation-duration, 800ms);
		}

	}

	.c3xgm-about-down-arrow-link {
		@include prefix(animation-fill-mode, both);
		@include prefix(animation-name, fadeIn);
		@include prefix(animation-delay, 4200ms);
		@include prefix(animation-duration, 400ms);
	}

	// OUR PEOPLE
	.c3xgm-about-employees .c3xgm-about-blockquote .c3xgm-about-span-container .c3xgm-about-gray {
		@include prefix(animation-fill-mode, both);
		@include prefix(animation-name, fadeIn);
		@include prefix(animation-delay, 2000ms);
		@include prefix(animation-duration, 900ms);
	}	


	// CAR LOGOS
	.c3xgm-about-module-car {
		.c3xgm-about-module-car-logo-container li {
			@include prefix(animation-fill-mode, both);
			@include prefix(animation-name, fadeIn);
			@include prefix(animation-delay, 1800ms);
			@include prefix(animation-duration, 100ms);

			&:nth-child(2) { @include prefix(animation-delay, 1900ms); }
			&:nth-child(3) { @include prefix(animation-delay, 2000ms); }
			&:nth-child(4) { @include prefix(animation-delay, 2100ms); }
			&:nth-child(5) { @include prefix(animation-delay, 2200ms); }
			&:nth-child(6) { @include prefix(animation-delay, 2300ms); }
			&:nth-child(7) { @include prefix(animation-delay, 2400ms); }
			&:nth-child(8) { @include prefix(animation-delay, 2500ms); }
			&:nth-child(9) { @include prefix(animation-delay, 2600ms); }

			@media(min-width: $tablet-height) {
				&:nth-child(3) { @include prefix(animation-delay, 1900ms); }
				&:nth-child(5) { @include prefix(animation-delay, 2000ms); }
				&:nth-child(7) { @include prefix(animation-delay, 2100ms); }
				&:nth-child(9) { @include prefix(animation-delay, 2200ms); }
				&:nth-child(2) { @include prefix(animation-delay, 2300ms); }
				&:nth-child(4) { @include prefix(animation-delay, 2400ms); }
				&:nth-child(6) { @include prefix(animation-delay, 2500ms); }
				&:nth-child(8) { @include prefix(animation-delay, 2600ms); }
			}
		}

		// LINES
		.c3xgm-about-module-35 {
	
			.c3xgm-about-gray-line,
			.c3xgm-about-yellow-line {
				
				@include prefix(animation-fill-mode, both);
				@include prefix(animation-name, growBorder);
	  			@include prefix(animation-duration,500ms);
			}
			.c3xgm-about-gray-line {
				@include prefix(animation-delay,2200ms);
			}
			.c3xgm-about-yellow-line {
				@include prefix(animation-delay,2700ms);
			}
		}
	}
}


// OUR COMMITMENT
#c3xgm-about-our-commitment.c3xgm-about-page.c3xgm-about-page-in-view {
	.c3xgm-about-section-header { 

		.c3xgm-about-section-icon { 
			@include prefix(animation-fill-mode, both);
			@include prefix(animation-name, fadeIn);
			@include prefix(animation-delay, 800ms);
			@include prefix(animation-duration, 800ms);
		}

		h1.c3xgm-about-h {
			@include prefix(animation-fill-mode, both);
			@include prefix(animation-name, fadeInRightMega);
			@include prefix(animation-delay, 400ms);
			@include prefix(animation-duration, 800ms);
		 }

		hr { 
			@include prefix(animation-fill-mode, both);
			@include prefix(animation-name, growHr);
			@include prefix(animation-delay, 800ms);
			@include prefix(animation-duration, 800ms);
		}
	}
}

// OTHER SUB SECTIONS
#c3xgm-about-safety-quality.c3xgm-about-page-in-view,
#c3xgm-about-our-global-community.c3xgm-about-page.c3xgm-about-page-in-view,
#c3xgm-about-environment.c3xgm-about-page.c3xgm-about-page-in-view,
#c3xgm-about-technology.c3xgm-about-page.c3xgm-about-page-in-view {
	$subsec-duration:400;
	// $subsec-delay:1600;
	$subsec-delay:600;
	$subsec-step:250;

		// SUB-SECTIONS
	.c3xgm-about-subsection {
		.c3xgm-about-h {
			@include prefix(animation-fill-mode, both);
			@include prefix(animation-name, fadeIn);
			@include prefix(animation-delay, #{$subsec-delay + "ms"});
			@include prefix(animation-duration, 800ms);
		 }

		 .c3xgm-about-p {
		 	@include prefix(animation-fill-mode, both);
			@include prefix(animation-name, fadeInUp);
			@include prefix(animation-delay, 400ms);
			@include prefix(animation-delay, #{($subsec-delay) + "ms"});
			@include prefix(animation-duration, 800ms);	

			&:before {
				content: ""; display: block;
				position: absolute;
				margin: auto;
				bottom:0; left:-0.5em; top:0;
				width:0.15rem; height: 90%;
				background-color:$gm-gray-line;
				@include prefix(transform-origin, top right);
				@include prefix(animation-fill-mode, both);
				@include prefix(animation-name, growBorder);
				@include prefix(animation-delay, #{($subsec-delay + 400) + "ms"});
	  			@include prefix(animation-duration,600ms);
	  			@media(min-width: $tablet-height) { width:0.2rem;}
			}

			&:after {
				content: ""; display: block;
				position: absolute;
				bottom:0; top:0; left:-0.5em;
				margin: auto;
				width:0.15rem; height: 90%;
				background-color:$gm-yellow;
				@include prefix(transform-origin, top right);
				@include prefix(animation-fill-mode, both);
				@include prefix(animation-name, growBorder);
				@include prefix(animation-delay, #{($subsec-delay + 1000) + "ms"});
	  			@include prefix(animation-duration,600ms);
	  			@media(min-width: $tablet-height) { width:0.2rem;}
			}
		}
	}
}


// FOUNDATION LOGOS
#c3xgm-about-our-global-community.c3xgm-about-page.c3xgm-about-page-in-view {
	
	.c3xgm-about-yellow-bar-left-wrapper.c3xgm-about-p {
		@include prefix(animation-fill-mode, both);
		@include prefix(animation-name, fadeIn);
		@include prefix(animation-delay, 800ms);
		@include prefix(animation-duration, 800ms);
	}

	.c3xgm-about-module-foundation {
		.c3xgm-about-module-foundation-logo-container li {
			@include prefix(animation-fill-mode, both);
			@include prefix(animation-name, fadeIn);
			@include prefix(animation-duration, 200ms);

			&:first-child { @include prefix(animation-delay, 1400ms); }
			&:nth-child(2) { @include prefix(animation-delay, 1700ms); }
			&:nth-child(3) { @include prefix(animation-delay, 2000ms); }
			&:nth-child(4) { @include prefix(animation-delay, 2300ms); }
			&:nth-child(5) { @include prefix(animation-delay, 2600ms); }
		}

		.c3xgm-about-gray-line {
			@include prefix(animation-name, growBorder);
			@include prefix(animation-fill-mode, both);
			@include prefix(animation-delay, 1600ms);
			@include prefix(animation-duration, 500ms);			
		}
		.c3xgm-about-yellow-line {
			@include prefix(animation-name, growBorder);
			@include prefix(animation-fill-mode, both);
			@include prefix(animation-delay, 2200ms);
			@include prefix(animation-duration, 500ms);			
		}
	}
}




// WENS ANIMATIONS
.people-animate {
	  -webkit-animation: wenFadeIn 1s  forwards;
	  -moz-animation: wenFadeIn 1s linear forwards;
	  -ms-animation: wenFadeIn 1s linear forwards;	
}

#c3xgm-about-employees-img div {
	opacity: 0;
}

@-webkit-keyframes wenFadeIn {
	from {
		margin-top: 80px;
		opacity: 0;
	}

	to {
		margin-top: 0px;
		opacity: 1;
	}
}

@-moz-keyframes wenFadeIn {
	from {
		margin-top: 80px;
		opacity: 0;
	}

	to {
		margin-top: 0px;
		opacity: 1;
	}
}

@-o-keyframes wenFadeIn {
	from {
		margin-top: 80px;
		opacity: 0;
	}

	to {
		margin-top: 0px;
		opacity: 1;
	}
}

@keyframes wenFadeIn {
	from {
		margin-top: 80px;
		opacity: 0;
	}

	to {
		margin-top: 0px;
		opacity: 1;
	}
}