// PAGE IN VIEW - END NAV
$anim-delay:800;
$anim-step:600;

.c3xgm-about-page-in-view .c3xgm-about-section-header,
#c3xgm-about-end-nav.c3xgm-about-page.c3xgm-about-page-in-view {

	.c3xgm-about-section-header { 
		 hr {
			@include prefix(animation-fill-mode, both);
			@include prefix(animation-name, growHr);
			@include prefix(animation-delay, 200ms);
			@include prefix(animation-duration, 600ms);
			@include prefix(animation-iteration-count, 1);
		}

		.c3xgm-about-header-p { 
			@include prefix(animation-fill-mode, both);
			@include prefix(animation-name, fadeIn);
			@include prefix(animation-delay, 600ms);
			@include prefix(animation-duration, 600ms);
			@include prefix(animation-iteration-count, 1);
		}

		.c3xgm-about-logo-container .c3xgm-about-section-icon,
		.c3xgm-about-logo-container .c3xgm-about-section-icon + h3,
		.c3xgm-about-logo-container .c3xgm-about-icon-holder + h3 {
			@include prefix(animation-fill-mode, both);
			@include prefix(animation-name, fadeIn);
			@include prefix(animation-duration, 600ms);
			@include prefix(animation-iteration-count, 1);
		}

		.c3xgm-about-logo-container .c3xgm-about-icon-holder {
			@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
				& * {
					-ms-animation: none !important;
					animation: none !important;
					opacity: 1;
				}
			}
			.out_circle {
				-webkit-animation: dash 3s linear forwards;
				-moz-animation: dash 3s linear forwards;
				-o-animation: dash 3s linear forwards;
				-ms-animation: dash 3s linear forwards;
				animation: dash 3s linear forwards;

				@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
					stroke-dashoffset:0; 
      				@include prefix(animation, fadeIn 0.8s ease forwards);
  				}
	    	}

	    	.grey_circle {
				-webkit-animation: greycircleScaleUp 0.5s 0.5s linear forwards;
				-moz-animation: greycircleScaleUp 0.5s 0.5s linear forwards;
				-ms-animation: greycircleScaleUp 0.5s 0.5s linear forwards;
				-o-animation: greycircleScaleUp 0.5s 0.5s linear forwards;
				animation: greycircleScaleUp 0.5s 0.5s linear forwards;
			}

			.dark_grey {
				-webkit-animation: scaleUp 0.4s 0.8s linear forwards;
				-moz-animation: scaleUp 0.4s 0.8s linear forwards;
				-ms-animation: scaleUp 0.4s 0.8s linear forwards;
				-o-animation: scaleUp 0.4s 0.8s linear forwards;
				animation: scaleUp 0.4s 0.8s linear forwards;
			}

			.shadow {
		      -webkit-animation: fadeIn 0.3s 1.5s linear forwards;
		      -moz-animation: fadeIn 0.3s 1.5s linear forwards;
		      -ms-animation: fadeIn 0.3s 1.5s linear forwards;
		      -o-animation: fadeIn 0.3s 1.5s linear forwards;
		      animation: fadeIn 0.3s 1.5s linear forwards;
		    }

		    .brand_car {
		      -webkit-animation: slideRight 0.6s 1s ease forwards;
		      -moz-animation: slideRight 0.6s 1s ease forwards;
		      -ms-animation: slideRight 0.6s 1s ease forwards;
		      -o-animation: slideRight 0.6s 1s ease forwards;
		      animation: slideRight 0.6s 1s ease forwards;
		    }

		    .brand_car_shadow {
		      -webkit-animation: scaleUp 0.3s 1.4s linear forwards;
		      -moz-animation: scaleUp 0.3s 1.4s linear forwards;
		      -ms-animation: scaleUp 0.3s 1.4s linear forwards;
		      -o-animation: scaleUp 0.3s 1.4s linear forwards;
		      animation: scaleUp 0.3s 1.4s linear forwards;

		    }

		    .inner_car {
		      -webkit-animation: scaleUp 0.5s 1.2s linear forwards;
		      -moz-animation: scaleUp 0.5s 1.2s linear forwards;
		      -ms-animation: scaleUp 0.5s 1.2s linear forwards;
		      -o-animation: scaleUp 0.5s 1.2s linear forwards;
		      animation: scaleUp 0.5s 1.2s linear forwards;
		    }

		    .road {
		      -webkit-animation: scaleUp 0.5s 1s linear forwards;
		      -moz-animation: scaleUp 0.5s 1s linear forwards;
		      -ms-animation: scaleUp 0.5s 1s linear forwards;
		      -o-animation: scaleUp 0.5s 1s linear forwards;
		      animation: scaleUp 0.5s 1s linear forwards;
		    }

		    .road_lines {
		      -webkit-animation: scaleUp 0.6s 1.2s linear forwards;
		      -moz-animation: scaleUp 0.6s 1.2s linear forwards;
		      -ms-animation: scaleUp 0.6s 1.2s linear forwards;
		      -o-animation: scaleUp 0.6s 1.2s linear forwards;
		      animation: scaleUp 0.6s 1.2s linear forwards;
		    }

		    .sun {
		      -webkit-animation: scaleUp 0.6s 1.2s linear forwards;
		      -moz-animation: scaleUp 0.6s 1.2s linear forwards;
		      -ms-animation: scaleUp 0.6s 1.2s linear forwards;
		      -o-animation: scaleUp 0.6s 1.2s linear forwards;
		      animation: scaleUp 0.6s 1.2s linear forwards;
		    }

		    .lighter_yellow, .gm_logo  {
		      -webkit-animation: personSlideIn 0.8s 0.7s linear forwards;
		      -moz-animation: personSlideIn 0.8s 0.7s linear forwards;
		      -ms-animation: personSlideIn 0.8s 0.7s linear forwards;
		      -o-animation: personSlideIn 0.8s 0.7s linear forwards;
		      animation: personSlideIn 0.8s 0.7s linear forwards;
		    }

		    .darker_yellow {
		      -webkit-animation: personSlideIn 0.8s 1s linear forwards;
		      -moz-animation: personSlideIn 0.8s 1s linear forwards;
		      -ms-animation: personSlideIn 0.8s 1s linear forwards;
		      -o-animation: personSlideIn 0.8s 1s linear forwards;
		      animation: personSlideIn 0.8s 1s linear forwards;
		    }

		    .white_band {
		      -webkit-animation: dash 6s 2s linear forwards;
		      -moz-animation: dash 6s 2s linear forwards;
		      -ms-animation: dash 6s 2s linear forwards;
		      -o-animation: dash 6s 2s linear forwards;
		      animation: dash 6s 2s linear forwards; 

		      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
		      	stroke-dashoffset:0;
		      }
		    }

			 .person {
		      -webkit-animation: personSlideIn 0.7s 0.6s ease forwards;
			  -moz-animation: personSlideIn 0.7s 0.6s ease forwards;
			  -ms-animation: personSlideIn 0.7s 0.6s ease forwards;
			  -o-animation: personSlideIn 0.7s 0.6s ease forwards;
			  animation: personSlideIn 0.7s 0.6s ease forwards;
			}

			.tie {
			  -webkit-animation: tieSlideIn 0.5s 0.9s linear forwards;
			  -moz-animation: tieSlideIn 0.5s 0.9s linear forwards;
			  -ms-animation: tieSlideIn 0.5s 0.9s linear forwards;
			  -o-animation: tieSlideIn 0.5s 0.9s linear forwards;
			  animation: tieSlideIn 0.5s 0.9s linear forwards;
			}

		}


		.c3xgm-about-logo-container:first-of-type {
			.c3xgm-about-icon-holder {
				.grey_circle,
				.out_circle,
				.dark_grey,
				.lighter_yellow,
				.darker_yellow,
				.gm_logo {
					@include prefix(animation-delay, #{ ($anim-delay + $anim-step) + "ms"});
	    		}
	    		.white_band {
					@include prefix(animation-delay, #{ ($anim-delay + $anim-step + 750) + "ms"});
	    		}
	    		.shadow {
					@include prefix(animation-delay, #{ ($anim-delay + $anim-step + 750) + "ms"});
	    		}	
	    	}
	    	.c3xgm-about-section-icon + h3,
	    	.c3xgm-about-icon-holder + h3,
	    	.c3xgm-about-section-icon {
	    		@include prefix(animation-delay, #{ ($anim-delay + $anim-step) + "ms"});
	    	}
		}

		// OUR PEOPLE
		.c3xgm-about-logo-container:nth-of-type(2) {
			.c3xgm-about-icon-holder {
				.grey_circle,
				.out_circle,
				.dark_grey,
				.tie,
				.person {
					@include prefix(animation-delay, #{ ($anim-delay + $anim-step * 2) + "ms"});
	    		}	
	    		.shadow {
					@include prefix(animation-delay, #{ ($anim-delay + $anim-step * 2 + 750) + "ms"});
	    		}	
	    	}
	    	.c3xgm-about-section-icon + h3,
	    	.c3xgm-about-icon-holder + h3,
	    	.c3xgm-about-section-icon {
	    		@include prefix(animation-delay, #{ ($anim-delay + $anim-step * 2) + "ms"});
	    	}
		}

		.c3xgm-about-logo-container:nth-of-type(3) {
			.c3xgm-about-icon-holder {
				.grey_circle,
				.out_circle,
				.dark_grey,
				.brand_car {
					@include prefix(animation-delay, #{ ($anim-delay + $anim-step * 3) + "ms"});
	    		}
	    		.shadow {
					@include prefix(animation-delay, #{ ($anim-delay + $anim-step * 3 + 750) + "ms"});
	    		}
	    	}
	    	.c3xgm-about-section-icon + h3,
	    	.c3xgm-about-icon-holder + h3,
	    	.c3xgm-about-section-icon {
	    		@include prefix(animation-delay, #{ ($anim-delay + $anim-step * 3) + "ms"});
	    	}
		}


		// OUR COMMITMENT
		.c3xgm-about-logo-container:nth-of-type(4) {
			.c3xgm-about-icon-holder {
				.grey_circle,
				.out_circle,
				.inner_car,
				.dark_grey,
				.road,
				.road_lines,
				.sun {
					@include prefix(animation-delay, #{ ($anim-delay + $anim-step * 4) + "ms"});
	    		}	
	    	}
	    	.c3xgm-about-section-icon + h3,
	    	.c3xgm-about-icon-holder + h3,
	    	.c3xgm-about-section-icon {
	    		@include prefix(animation-delay, #{ ($anim-delay + $anim-step * 4) + "ms"});
	    	}
		}

	}
}