

// WENS ANIMATIONS
.tik-set1 {
    @include prefix(transform-origin, left bottom);
    @include prefix(animation, rotate 3s infinite linear both);  
}

.tik-set2 {
    @include prefix(transform-origin, left bottom);
    @include prefix(animation, rotate 5s infinite linear both);  
}

.tik-set3 {
  @include prefix(transform-origin, left bottom);
    @include prefix(animation, rotate 4s infinite linear both);  
}

.tik-set4 {
    @include prefix(transform-origin, left bottom);
    @include prefix(animation, rotate 5.5s infinite linear both);    
}
/*END OF TIMEZONE CLOCK ANIMATION*/


/*MAP ANIMATION*/
.fill {
    @include prefix(animation, wenfill 2s 4s linear forwards);
    // @include prefix(transition, fill-opacity 2s ease-in-out);
} 
 
// #safety-truck {
#c3xgm-about-truck-line-holder {
    opacity: 0;
    @include prefix(transition, opacity 400ms);
}

#truck-parent {
  height: 200px;
  @media(min-width: $tablet-height) { height: 270px; }
}

.c3xgm-about-circle-lines { opacity: 1;  filter:inherit; }

#line-parent { opacity: 0; height: 300px; }


.carAnimation-slide {
    @include prefix(animation-fill-mode, forwards);
    @include prefix(animation-name, wenSlideInUp);
    @include prefix(animation-delay,0);
    @include prefix(animation-duration, 1s);
}

.carAnimation-rotate {
    @include prefix(animation-fill-mode, forwards);
    @include prefix(animation-name, rotate);
    @include prefix(animation-delay,1s);
    @include prefix(animation-duration, 4s);
}

.carAnimation-lineRotate {
    @include prefix(animation-fill-mode, forwards);
    // @include prefix(animation-name, wenLineRotate);
    @include prefix(animation-name, rotate);
    @include prefix( animation-iteration-count, infinite);
    @include prefix(animation-delay,1s);
    @include prefix(animation-duration, 3s);
    @include prefix(animation-timing-function, linear);
}

.carAnimation-lineFadeIn {
    @include prefix(animation-fill-mode, forwards);
    @include prefix(animation-name, fadeIn);
    @include prefix(animation-delay,1s);
    @include prefix(animation-duration,1s);
}

