// ANIMATE CAR MOD
.c3xgm-about-module-technology {
	$tech-delay:0;
	$tech-duration:400;
	$tech-step:400;
	// HIDE OVERFLOW ON CAR MOD CONTAINER
	overflow: hidden;

	// MODULE HELPERS
	.hide-module { 
	    opacity: 0;
	    position: absolute;
	    top:0; right: 100%; left: auto;
	}

	.show-module-slide-in {
		// visibility: visible;
		// opacity: 1; z-index: 1000; 
		// right:0; left: auto;

		.c3xgm-about-block-image {
			@include prefix(animation, techSlideIn);
			@include prefix(animation-fill-mode, both);
			@include prefix(animation-duration, 900ms);


			.c3xgm-about-wheel {
				@include prefix(animation-name, rotate);
				@include prefix(animation-fill-mode, both);
				@include prefix(animation-duration, 900ms);
			}
		}

		.c3xgm-about-block-icon {
			@include prefix(animation-fill-mode, both);
			@include prefix(animation-name, fadeIn);
			@include prefix(animation-delay, #{ ($tech-delay + $tech-step * 2) + "ms"});
			@include prefix(animation-duration, #{$tech-duration + "ms"});
		}


		.c3xgm-about-blockquote {
			overflow: hidden;
			// ANIMATE BORDER LINES
			> span:first-child {
				@include prefix(animation-fill-mode, both);
				@include prefix(animation-name, fadeInRightMega);
				@include prefix(animation-delay, #{$tech-delay + "ms"});
				@include prefix(animation-duration, #{$tech-duration + "ms"});
			}
			> span:nth-child(2) {
				@include prefix(animation-fill-mode, both);
				@include prefix(animation-name, fadeInRightMega);
				@include prefix(animation-delay, #{ ($tech-delay + $tech-step) + "ms"});
				@include prefix(animation-duration, #{$tech-duration + "ms"});
			}
			> span:nth-child(3) { 
				@include prefix(animation-fill-mode, both);
				@include prefix(animation-name, fadeIn);
				@include prefix(animation-delay, #{ ($tech-delay + $tech-step * 2) + "ms"});
				@include prefix(animation-duration, #{$tech-duration + "ms"});
			}
			> span:nth-child(4) { 
				@include prefix(animation-fill-mode, both);
				@include prefix(animation-name, fadeIn);
				@include prefix(animation-delay, #{ ($tech-delay + $tech-step * 2) + "ms"});
				@include prefix(animation-duration, #{$tech-duration + "ms"});
			}
		}

	}

	.hide-module-slide-out { 
		.c3xgm-about-block-image {
			@include prefix(animation, techSlideOut);
			@include prefix(animation-duration, #{$tech-duration + "ms"});
			@include prefix(animation-fill-mode, both);

			.c3xgm-about-wheel {
				@include prefix(animation-fill-mode, both);
				@include prefix(animation-name, rotate);
				@include prefix(animation-duration, #{($tech-duration) + "ms"});
			}
		}

		.c3xgm-about-blockquote,
		.c3xgm-about-block-icon {
			@include prefix(animation-delay, #{($tech-delay * 2) + "ms"});
			@include prefix(animation, fadeOut);
	    	@include prefix(animation-duration, #{$tech-duration + "ms"});
			@include prefix(animation-fill-mode, both);
		}
	}
	   
}