.c3xgm-about-seconds-text-right {
.c3xgm-about-block-image {
                            width:13.149171270718%;
                            padding-bottom:99.159663865546%;
                            position: relative;
                            img {position: absolute; top:0; left:0; right:0; bottom:0; margin: auto;} 
                        }
}

