.c3xgm-about-employees {
	.c3xgm-about-block-image {
                            width:60.331491712707%;
                            padding-bottom:15.690607734807%;
                            img {position: absolute; top:0; left:0; right:0; bottom:0; margin: auto;} 
                        }
}

.c3xgm-about-continents-text-right {
	.c3xgm-about-block-image {
                            width:27.955801104972%;
                            padding-bottom:14.254143646409%;
                            img {position: absolute; top:0; left:0; right:0; bottom:0; margin: auto;} 
                        }
}

.c3xgm-about-timezones-text-right {
	.c3xgm-about-block-image {
                            width:24.198895027624%;
                            padding-bottom:11.491712707182%;
                            img {position: absolute; top:0; left:0; right:0; bottom:0; margin: auto;} 
                        }
}

.c3xgm-about-headquarters-clear-left {
}

.c3xgm-about-languages-text-right {
	.c3xgm-about-block-image {
                            width:25.414364640884%;
                            padding-bottom:5.414364640884%;
                            img {position: absolute; top:0; left:0; right:0; bottom:0; margin: auto;} 
                        }
}

.c3xgm-about-languages-text-right {
	.c3xgm-about-block-image {
                            width:25.414364640884%;
                            padding-bottom:5.414364640884%;
                            img {position: absolute; top:0; left:0; right:0; bottom:0; margin: auto;} 
                        }
}

}

