.c3xgm-about-red-car-road {
}

.c3xgm-about-global {
	.c3xgm-about-block-image {
                            width:13.259668508287%;
                            padding-bottom:13.149171270718%;
                            img {position: absolute; top:0; left:0; right:0; bottom:0; margin: auto;} 
                        }
}

.c3xgm-about-seconds-text-right {
	.c3xgm-about-block-image {
                            width:13.149171270718%;
                            padding-bottom:13.038674033149%;
                            img {position: absolute; top:0; left:0; right:0; bottom:0; margin: auto;} 
                        }
}

.c3xgm-about-dealers-text-right {
}

.c3xgm-about-flag-line {
}

.c3xgm-about-china {
	.c3xgm-about-block-image {
                            width:18.563535911602%;
                            padding-bottom:41.657458563536%;
                            img {position: absolute; top:0; left:0; right:0; bottom:0; margin: auto;} 
                        }
}

.c3xgm-about-cadillac-award {
	.c3xgm-about-block-image {
                            width:19.668508287293%;
                            padding-bottom:7.8453038674033%;
                            img {position: absolute; top:0; left:0; right:0; bottom:0; margin: auto;} 
                        }
}

.c3xgm-about-chevrolet-award {
	.c3xgm-about-block-image {
                            width:21.988950276243%;
                            padding-bottom:10.386740331492%;
                            img {position: absolute; top:0; left:0; right:0; bottom:0; margin: auto;} 
                        }
}

.c3xgm-about-chevrolet-award {
	.c3xgm-about-block-image {
                            width:21.988950276243%;
                            padding-bottom:10.386740331492%;
                            img {position: absolute; top:0; left:0; right:0; bottom:0; margin: auto;} 
                        }
}

}

